<% content_for :page_title, I18n.t("application_form.tasks.items.age_range") %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>
<h1 class="govuk-heading-l"><%= I18n.t("application_form.age_range.heading") %></h1>
<p class="govuk-hint"><%= I18n.t("application_form.age_range.hint") %></p>

<%= form_with model: @age_range_form, url: %i[age_range teacher_interface application_form] do |f| %>
  <%= hidden_field_tag :next, params[:next] %>

  <%= f.govuk_error_summary %>

  <%= f.govuk_number_field :minimum, width: 3 %>

  <%= f.govuk_number_field :maximum, width: 3 %>

  <%= govuk_details(summary_text: "About age ranges and grades") do %>
    <p>
      Some countries recognise a teacher’s qualifications by the age of the children,
      while others use the grade or year group the children are in.
    </p>

    <p>
      Sometimes, you might teach children whose age falls outside the range that you’d normally teach.
      For this question, we just need the approximate age range of the children you’re qualified to teach.
    </p>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
