<% content_for :page_title, title_with_error_prefix(t("application_form.tasks.items.age_range"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: %i[age_range teacher_interface application_form] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>
  <%= f.govuk_fieldset legend: { text: t("application_form.age_range.heading"), tag: "h1", size: "l" } do %>
    <p class="govuk-hint"><%= t("application_form.age_range.hint") %></p>

    <%= f.govuk_number_field :minimum,
                             width: 3,
                             label: { text: t("helpers.label.teacher_interface_age_range_form.minimum").html_safe } %>

    <%= f.govuk_number_field :maximum,
                             width: 3,
                             label: { text: t("helpers.label.teacher_interface_age_range_form.maximum").html_safe } %>
  <% end %>

  <%= govuk_details(summary_text: "About age ranges and grades") do %>
    <p>
      Education systems in some countries focus on the children’s age,
      while others use the grade or year group they’re in.
    </p>

    <p>
      For this question, you can enter an approximate age range.
      The assessor will compare what you enter to your qualifications, and evidence of your teacher training, to understand the age range that you can teach.​
    </p>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
