<% title = "Change details for ‘#{work_history_name(@work_history)}’" %>
<% @application_form = @work_history.application_form %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<%= form_with model: @form, url: [:assessor_interface, @application_form, @work_history], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <h2 class="govuk-heading-m">Current reference contact</h2>

  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.with_row do |row|
      row.with_key { "Full name" }
      row.with_value { @work_history.contact_name }
    end

    summary_list.with_row do |row|
      row.with_key { "Job title" }
      row.with_value { @work_history.contact_job }
    end

    summary_list.with_row do |row|
      row.with_key { "Email address" }
      row.with_value { @work_history.contact_email }
    end
  end %>

  <h2 class="govuk-heading-m">Change reference contact</h2>
  <p class="govuk-body">Use this form to change one or more of the reference contact’s details.</p>

  <%= f.govuk_text_field :name %>
  <%= f.govuk_text_field :job %>
  <%= f.govuk_text_field :email %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
