<% content_for :page_title, "#{"Error: " if @form.errors.any?}#{t(".heading")}" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

<p class="govuk-body-l">You’re about to decline this QTS application from <%= application_form_full_name(@application_form) %> for the following reasons:</p>

<h2 class="govuk-heading-l">Your decline reasons and notes</h2>
<% unless @assessment.further_information_requests.exists? %>
  <% @assessment.sections.each do |section| %>
    <% if section.selected_failure_reasons.present? %>
      <h3 class="govuk-heading-m"><%= t(".assessment_section.#{section.key}") %></h3>
      <ul class="govuk-list">
        <% section.selected_failure_reasons.each do |failure_reason| %>
          <li>
            <h4 class="govuk-heading-s"><%= t("assessor_interface.assessment_sections.show.failure_reasons.#{failure_reason.key}") %></h4>

            <% if FailureReasons.decline?(failure_reason: failure_reason.key) %>
              <p class="govuk-body govuk-!-margin-bottom-2">Your note to the applicant:</p>
            <% else %>
              <p class="govuk-body govuk-!-margin-bottom-2">Your note (the applicant won’t see this):</p>
            <% end %>
            <%= govuk_inset_text do %>
              <%= simple_format failure_reason.assessor_feedback %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-hint">Use this space to tell the applicant why they’ve been declined.</p>
  <p class="govuk-hint">This is the last communication they’ll receive about this application so make sure your comments are clear.</p>
<% end %>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<%= form_with model: @form, url: [:assessor_interface, @application_form, @assessment, :assessment_recommendation_decline], method: :put do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_text_area :recommendation_assessor_note %>
  <%= f.govuk_check_boxes_fieldset :declaration, small: true do %>
    <%= f.govuk_check_box :declaration,
                          true,
                          false,
                          multiple: false,
                          link_errors: true,
                          label: { text: t(".declaration") } %>
  <% end %>
  
  <p class="govuk-body"><%= t(".instruction") %></p>
  <p class="govuk-body">If you need to check something, use the ‘Back’ button.</p>

  <%= f.govuk_submit t(".button"), prevent_double_click: false do %>
    <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
  <% end %>
<% end %>
