<h1 class="govuk-heading-l"><%= t "devise.invitations.new.header" %></h1>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.govuk_error_summary %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <%= f.govuk_text_field field, label: { text: field.to_s.humanize } %>
  <% end -%>

  <%= f.govuk_text_field :name %>

   <%= f.govuk_check_boxes_fieldset :permissions, legend: { size: "s" }, small: true do %>
      <%= f.govuk_check_box :support_console_permission, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Support console" } %>
      <%= f.govuk_check_box :award_decline_permission , 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Assessor" } %>
    <%- end -%>
  <%= f.govuk_submit t("devise.invitations.new.submit_button") %>
<% end %>
