<% content_for :page_title, CountryName.from_region(@region) %>

<%= form_with model: [:support_interface, @region] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= CountryName.from_region(@region) %></h1>

  <%= f.govuk_collection_radio_buttons :application_form_skip_work_history,
                                       [
                                         OpenStruct.new(value: :true, label: "Yes"),
                                         OpenStruct.new(value: :false, label: "No")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Skip work history?" } %>

  <%= f.govuk_collection_radio_buttons :requires_preliminary_check,
                                       [
                                         OpenStruct.new(value: :true, label: "Yes"),
                                         OpenStruct.new(value: :false, label: "No")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Will applications be subject to a preliminary check?" } %>

  <%= f.govuk_fieldset legend: { text: "Teacher status and sanctions checks" } do %>
    <%= f.govuk_collection_select :status_check, [
      OpenStruct.new(id: 'online', name: 'Online'),
      OpenStruct.new(id: 'written', name: 'Written'),
      OpenStruct.new(id: 'none', name: 'None')
    ], :id, :name, label: { text: "How will teacher status be checked?", size: "s" } %>

    <%= f.govuk_collection_select :sanction_check, [
      OpenStruct.new(id: 'online', name: 'Online'),
      OpenStruct.new(id: 'written', name: 'Written'),
      OpenStruct.new(id: 'none', name: 'None')
    ], :id, :name, label: { text: "How will sanctions be checked?", size: "s" } %>
  <% end %>

  <%= f.govuk_fieldset legend: { text: "Teaching authority details" } do %>
    <%= f.govuk_text_field :teaching_authority_name, label: { text: "Name" } %>
    <%= f.govuk_text_area :teaching_authority_address, label: { text: "Address" } %>
    <%= f.govuk_text_area :teaching_authority_emails_string, label: { text: "Email" }, hint: { text: "One email per line (if more than one)" } %>
    <%= f.govuk_text_area :teaching_authority_websites_string, label: { text: "Websites" }, hint: { text: "One website per line (if more than one)" } %>
    <%= f.govuk_text_field :teaching_authority_certificate, label: { text: "Name given to describe the Letter of Professional standing" } %>
    <%= f.govuk_text_field :teaching_authority_online_checker_url, label: { text: "Online checker website" } %>

    <%= f.govuk_collection_radio_buttons :teaching_authority_requires_submission_email,
                                         [
                                           OpenStruct.new(value: :true, label: "Yes"),
                                           OpenStruct.new(value: :false, label: "No")
                                         ],
                                         :value,
                                         :label,
                                         legend: { text: "Automatically notify the teaching authority (via email) every time a QTS application is submitted?", size: "s" } %>

    <%= f.govuk_collection_radio_buttons :teaching_authority_provides_written_statement,
                                         [
                                           OpenStruct.new(value: :true, label: "Yes"),
                                           OpenStruct.new(value: :false, label: "No")
                                         ],
                                         :value,
                                         :label,
                                         legend: { text: "Will the teaching authority only send the letter of professional standing (LOPS) directly to the TRA?", size: "s" } %>
  <% end %>

  <%= f.govuk_collection_radio_buttons :reduced_evidence_accepted,
                                       [
                                         OpenStruct.new(value: :true, label: "Yes"),
                                         OpenStruct.new(value: :false, label: "No")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Accept reduced evidence?" } %>

  <%= f.govuk_collection_radio_buttons :written_statement_optional,
                                       [
                                         OpenStruct.new(value: :true, label: "Yes"),
                                         OpenStruct.new(value: :false, label: "No")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Applicant can submit without uploading the written statement?" },
                                       hint: { text: "Only applies if a written statement is requested." } %>

  <%= render "shared/support_interface/country_region_information_fields", f: %>

  <%= f.govuk_submit "Preview", name: "preview", value: "true" do %>
    <%= f.govuk_submit "Save", name: "preview", value: "false", secondary: true %>
  <% end %>
<% end %>
