<% content_for :page_title, CountryName.from_region(@region) %>

<h1 class="govuk-heading-l"><%= CountryName.from_region(@region) %></h1>

<%= form_with model: [:support_interface, @region] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_check_box :legacy, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Skip eligibility checker (legacy)" } %>

  <%= f.govuk_check_box :application_form_enabled, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Application form enabled" } %>
  <%= f.govuk_check_box :application_form_skip_work_history, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Skip work history" } %>

  <%= f.govuk_collection_select :sanction_check, [
    OpenStruct.new(id: 'online', name: 'Online'),
    OpenStruct.new(id: 'written', name: 'Written'),
    OpenStruct.new(id: 'none', name: 'None')
  ], :id, :name, label: { text: "Sanction check" } %>

  <%= f.govuk_collection_select :status_check, [
    OpenStruct.new(id: 'online', name: 'Online'),
    OpenStruct.new(id: 'written', name: 'Written'),
    OpenStruct.new(id: 'none', name: 'None')
  ], :id, :name, label: { text: "Status check" } %>

  <%= render "shared/teaching_authority_form_fields", f: %>

  <%= f.govuk_check_box :teaching_authority_provides_written_statement, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Teaching authority will only send written statement directly to TRA" } %>

  <%= f.govuk_submit "Save", prevent_double_click: false do %>
    <%= f.govuk_submit "Save and preview", prevent_double_click: false, name: "preview", value: "preview" %>
    <%= govuk_button_link_to "Ignore changes and preview", preview_support_interface_region_path(@region), secondary: true %>
  <% end %>
<% end %>
