<% content_for :page_title, CountryName.from_region(@region) %>

<h1 class="govuk-heading-l"><%= CountryName.from_region(@region) %></h1>

<%= form_with model: [:support_interface, @region] do |f| %>
  <%= f.govuk_error_summary %>

  <%= render "shared/application_form", f: %>
  <%= render "shared/eligibility_checker", f: %>
  <%= render "shared/status_sanctions_checks", f: %>
  <%= render "shared/teaching_authority_form_fields", f: %>

  <p class="govuk-hint">Automatically notify the teaching authority (via email) every time a QTS application is submitted?</p>
  <%= f.govuk_radio_button :eligibility_enabled, 'yes', label: { text: 'Yes' }, link_errors: true %>
  <%= f.govuk_radio_button :eligibility_enabled, 'no', label: { text: 'No' } %>

  <%= render "shared/changes_to_eligible_page", f: %>
  <%= render "shared/qualifications_information_form_fields", f: %>

  <%= f.govuk_check_box :reduced_evidence_accepted, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Accept reduced evidence" } %>
  <%= f.govuk_check_box :written_statement_optional, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Applicant can submit without uploading the written statement (if a written statement is requested)" } %>
  <%= f.govuk_check_box :teaching_authority_provides_written_statement, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Teaching authority will only send written statement directly to TRA" } %>
  <br>

  <%= f.govuk_submit "Save", prevent_double_click: false do %>
    <%= f.govuk_submit "Save and preview", prevent_double_click: false, name: "preview", value: "preview" %>
    <%= govuk_button_link_to "Ignore changes and preview", preview_support_interface_region_path(@region), secondary: true %>
  <% end %>
<% end %>
