<% content_for :page_title, CountryName.from_region(@region) %>

<h1 class="govuk-heading-l"><%= CountryName.from_region(@region) %></h1>

<%= form_with model: [:support_interface, @region] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_check_box :application_form_skip_work_history, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Skip work history" } %>

  <%= render "shared/support_interface/forms/requires_preliminary_check", f: %>
  <%= render "shared/support_interface/forms/status_sanctions_checks", f: %>
  <%= render "shared/support_interface/forms/teaching_authority_form_fields", f: %>

  <%= f.govuk_radio_buttons_fieldset(:teaching_authority_requires_submission_email, legend: { size: 'm', text: 'Automatically notify the teaching authority (via email) every time a QTS application is submitted?' }) do %>
    <%= f.govuk_radio_button :teaching_authority_requires_submission_email, 'yes', label: { text: 'Yes' }, link_errors: true %>
    <%= f.govuk_radio_button :teaching_authority_requires_submission_email, 'no', label: { text: 'No' }%>
  <% end %>

  <%= f.govuk_check_box :reduced_evidence_accepted, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Accept reduced evidence" } %>
  <%= f.govuk_check_box :written_statement_optional, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Applicant can submit without uploading the written statement (if a written statement is requested)" } %>
  <%= f.govuk_check_box :teaching_authority_provides_written_statement, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Will the teaching authority only send the letter of professional standing (LOPS) directly to the TRA?" } %>

  <%= render "shared/support_interface/forms/additional_information", f: %>

  <%= f.govuk_submit "Preview", name: "preview", value: "true" do %>
    <%= f.govuk_submit "Save", name: "preview", value: "false", secondary: true %>
  <% end %>
<% end %>
