<% content_for :page_title, "Preview #{CountryName.from_region(@region)}" %>

<h1 class="govuk-heading-l">Preview <%= CountryName.from_region(@region) %></h1>

<%= govuk_warning_text(text: "This is what users will see if they are eligible.") %>

<hr class="govuk-!-margin-bottom-6" />

<%= render "shared/eligible_region_content", region: @region, eligibility_check: nil %>

<hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6" />

<%= form_with model: [:support_interface, @region] do |f| %>
  <%= f.hidden_field :application_form_skip_work_history, value: @region.application_form_skip_work_history %>
  <%= f.hidden_field :qualifications_information, value: @region.qualifications_information %>
  <%= f.hidden_field :reduced_evidence_accepted, value: @region.reduced_evidence_accepted %>
  <%= f.hidden_field :sanction_check, value: @region.sanction_check %>
  <%= f.hidden_field :status_check, value: @region.status_check %>
  <%= f.hidden_field :teaching_authority_address, value: @region.teaching_authority_address %>
  <%= f.hidden_field :teaching_authority_certificate, value: @region.teaching_authority_certificate %>
  <%= f.hidden_field :teaching_authority_emails_string, value: @region.teaching_authority_emails_string %>
  <%= f.hidden_field :teaching_authority_name, value: @region.teaching_authority_name %>
  <%= f.hidden_field :teaching_authority_online_checker_url, value: @region.teaching_authority_online_checker_url %>
  <%= f.hidden_field :teaching_authority_other, value: @region.teaching_authority_other %>
  <%= f.hidden_field :teaching_authority_provides_written_statement, value: @region.teaching_authority_provides_written_statement %>
  <%= f.hidden_field :teaching_authority_requires_submission_email, value: @region.teaching_authority_requires_submission_email %>
  <%= f.hidden_field :teaching_authority_sanction_information, value: @region.teaching_authority_sanction_information%>
  <%= f.hidden_field :teaching_authority_status_information, value: @region.teaching_authority_status_information%>
  <%= f.hidden_field :teaching_authority_websites_string, value: @region.teaching_authority_websites_string %>
  <%= f.hidden_field :written_statement_optional, value: @region.written_statement_optional %>
  <%= f.govuk_submit "Save", name: "preview", value: "false" %>
<% end %>
