<% content_for :page_title, I18n.t("teacher.registration.title") %>
<% content_for :back_link_url, eligibility_interface_result_path %>

<h1 class="govuk-heading-xl">
  <%= I18n.t("teacher.registration.title") %>
</h1>

<%= form_with model: resource, url: registration_path(resource_name) do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_email_field :email, autocomplete: "email", label: { size: "m" } %>
  <%= f.govuk_submit %>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <h2 class="govuk-heading-l">Gov One Login</h2>

  <%= button_to "Sign up in with Gov One", "/teacher/auth/gov_one", class: "govuk-button" %>
<% end %>