<% work_history = @reference_request.work_history %>

<h1 class="govuk-heading-xl"><%= t("assessor_interface.reference_requests.edit.title") %></h1>

<%= form_with(
  model: @form,
  url: [:assessor_interface, @form.application_form, @form.assessment, @reference_request],
  method: :put
) do |f| %>
  <%= f.govuk_error_summary %>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Reference details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name of institution</th>
        <td class="govuk-table__cell"><%= work_history.school_name %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Number of months</th>
        <td class="govuk-table__cell"><%= WorkHistoryDuration.new(work_history_record: work_history).count_months %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name of reference</th>
        <td class="govuk-table__cell"><%= work_history.contact_name %></td>
      </tr>
    </tbody>
  </table>

  <%= render CheckYourAnswersSummary::Component.new(
    id: @reference_request.id,
    model: @reference_request,
    title: t("assessor_interface.reference_requests.edit.summary_card_title"),
    fields: {
      dates_response: {
        title: t("assessor_interface.reference_requests.edit.dates_response",
                 school_name: work_history.school_name,
                 start_date: work_history.start_date.to_fs(:long_ordinal_uk),
                 end_date: work_history.end_date.blank? ? "present" : work_history.end_date.to_fs(:long_ordinal_uk)),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.dates_response}"),
      },
      hours_response: {
        title: t("assessor_interface.reference_requests.edit.hours_response", count: work_history.hours_per_week),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.hours_response}"),
      },
      children_response: {
        title: t("assessor_interface.reference_requests.edit.children_response"),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.children_response}"),
      },
      lessons_response: {
        title: t("assessor_interface.reference_requests.edit.lessons_response"),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.lessons_response}"),
      },
      reports_response: {
        title: t("assessor_interface.reference_requests.edit.reports_response"),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.reports_response}"),
      },
      misconduct_response: {
        title: t("assessor_interface.reference_requests.edit.misconduct_response"),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.misconduct_response}"),
      },
      satisfied_response: {
        title: t("assessor_interface.reference_requests.edit.satisfied_response"),
        value: t("assessor_interface.reference_requests.edit.response_value.#{@reference_request.satisfied_response}"),
      },
      additional_information_response: {
        title: t("assessor_interface.reference_requests.edit.additional_information_response"),
        value: @reference_request.additional_information_response,
      },
    },
    changeable: false
  ) %>

  <%= f.govuk_radio_buttons_fieldset(
    :passed,
    legend: {
      text: "Are you satisfied that this reference should count towards the applicant’s work experience?",
      size: "s"
    }) do %>
    <%= f.govuk_radio_button(
        :passed,
        :true,
        link_errors: true,
        label: { text: "Yes" },
      ) %>
    <%= f.govuk_radio_button(
      :passed,
      :false,
      label: { text: "No" },
    ) %>
  <% end %>

  <%= f.govuk_submit prevent_double_click: false do %>
    <%= govuk_link_to "Cancel", [:assessor_interface, @form.application_form] %>
  <% end %>
<% end %>
