<% content_for :page_title, "#{"Error: " if @form.errors.any?}#{t(".title")}" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@form.application_form) %>

<%= form_with(
      model: @form,
      url: [:assessor_interface, @form.application_form, @form.assessment, @reference_request],
      method: :put
    ) do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

  <% work_history = @reference_request.work_history %>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Reference details</caption>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name of institution</th>
        <td class="govuk-table__cell"><%= work_history.school_name %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Number of months</th>
        <td class="govuk-table__cell"><%= WorkHistoryDuration.new(work_history_record: work_history).count_months %></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name of reference</th>
        <td class="govuk-table__cell"><%= work_history.contact_name %></td>
      </tr>
    </tbody>
  </table>

  <% if @reference_request.received? %>
    <%= render "shared/reference_request_summary", reference_request: @reference_request, changeable: false %>

    <%= f.govuk_radio_buttons_fieldset :passed, legend: { size: "s" } do %>
      <%= f.govuk_radio_button :passed, :true, link_errors: true, label: { text: "Yes" } %>
      <%= f.govuk_radio_button :passed, :false, label: { text: "No" } %>
    <% end %>

    <%= f.govuk_submit do %>
      <%= govuk_link_to "Cancel", [:assessor_interface, @form.application_form] %>
    <% end %>
  <% end %>
<% end %>
