<% content_for :page_title, "You’re eligible" %>
<% content_for :back_link_url,
               if @eligibility_check.qualified_for_subject_required? && !@eligibility_check.eligible_work_experience_in_england?
                 eligibility_interface_qualified_for_subject_path
               elsif @eligibility_check.skip_additional_questions?
                 eligibility_interface_qualifications_path
               else
                 eligibility_interface_teach_children_path
               end  %>

<%= render "shared/eligible_region_content", region: @region, eligibility_check: @eligibility_check %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <p class="govuk-body">You need a GOV.UK One Login to use this service. You can create one if you do not already have one.</p>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:teacher_applications) %>
  <% if current_teacher %>
    <%= govuk_start_button(text: "Start a new application", href: teacher_interface_application_form_path, as_button: true) %>
  <% else %>
    <%= govuk_start_button(text: "Sign in to apply for QTS", href: new_teacher_registration_path) %>
  <% end %>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <p class="govuk-body">
    Find out more about
    <%= govuk_link_to "using a GOV.UK One Login", "https://www.gov.uk/using-your-gov-uk-one-login", new_tab: true %>.
  </p>
<% end %>

<%= render "shared/help_us_to_improve_this_service" %>
