<% ineligible_country = @eligibility_check.ineligible_reasons.include?(:country) %>

<% content_for :page_title, "You’re not eligible" %>
<% content_for :back_link_url, ineligible_country ? eligibility_interface_countries_path : eligibility_interface_misconduct_path %>
<% current_date = Date.current %>

<h1 class="govuk-heading-xl">
  You’re not eligible to apply for qualified teacher status (QTS) in England
</h1>

<% if ineligible_country %>
  <% if @eligibility_check.england_or_wales? %>
    <p class="govuk-body">This service is for qualified teachers who trained to teach outside of England who want to apply for qualified teacher status (QTS) to teach in English schools.</p>
    <p class="govuk-body">If you trained in England or Wales, or have not yet qualified, learn more about <%= govuk_link_to "other routes to QTS", "https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk" %>.</p>
  <% else %>
    <p class="govuk-body">If you are recognised as a teacher in <%= CountryName.from_eligibility_check(@eligibility_check, with_definite_article: true) %> you are not currently eligible to use this service.</p>

    <p class="govuk-body">
      We will update this page should there be any <%= govuk_link_to "changes to eligibility for QTS", "https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers--2#changes-to-eligibility-for-qts" %>.
    </p>
  <% end %>
<% else %>
  <p class="govuk-body">This is because:</p>

  <ul class="govuk-list govuk-list--bullet">
    <% @eligibility_check.ineligible_reasons.each do |reason| %>
      <li><%= I18n.t("activemodel.attributes.eligibility_check.ineligible_reason.#{reason}", country_name: CountryName.from_eligibility_check(@eligibility_check, with_definite_article: true)) %></li>
    <% end %>
  </ul>

  <% if @eligibility_check.ineligible_reasons.include?(:work_experience) %>
    <p class="govuk-body">
      To apply for QTS, you’ll need at least 9 months of teaching work experience. This can be gained in any country but must be from after you qualified as a teacher.
    </p>
  <% end %>
<% end %>

<% unless @eligibility_check.ineligible_reasons.include?(:misconduct) || @eligibility_check.england_or_wales? %>
  <p class="govuk-body">You can also:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><%= govuk_link_to "apply for QTS using alternative routes", "https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk#qts-exemption-for-teachers-from-outside-the-uk" %></li>
    <li><%= govuk_link_to "learn more about teaching in England", "https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas" %></li>
    <li><%= govuk_link_to "learn more about the new QTS regulations", "https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers--2" %></li>
  </ul>

  <% if @eligibility_check.ineligible_reasons.include?(:work_experience) %>
    <% if current_date <= Date.new(2024, 12, 31) %>
      If you’re a citizen of Iceland, Norway, or Liechtenstein you can gain more teaching experience during an adaptation period.
    <% else %>
      If you’re a citizen of Iceland, Liechtenstein, Norway, or Switzerland you can gain more teaching experience during an adaptation period.
    <% end %>
  <% end %>
<% end %>

<% if ineligible_country %>
  <%= render "shared/help_us_to_improve_this_service" %>
<% else %>
  <p class="govuk-body">If you have any questions about QTS contact the help team at:</p>
  <p class="govuk-body"><%= govuk_link_to t("service.email.enquiries"), email_path("enquiries") %></p>
<% end %>
