<% title = "Review qualification" %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: review_assessor_interface_application_form_assessment_path(@application_form, @assessment)) %>

<%= form_with model: @form, url: [:review, :assessor_interface, @application_form, @assessment, @consent_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <h2 class="govuk-heading-m">
    <%= qualification_title(@consent_request.qualification) %>
  </h2>

  <% if @consent_request.expired? && @consent_request.received? %>
    <%= govuk_inset_text do %>
      <p>This qualifications’s status has changed from <%= render(StatusTag::Component.new("overdue")) %> to <%= render(StatusTag::Component.new("received")) %>.</p>
    <% end %>

    <%= govuk_details(summary_text: "See previous notes") do %>
      <%= govuk_inset_text do %>
        <h3 class="govuk-heading-s">Internal note</h3>
        <%= simple_format @consent_request.verify_note %>
      <% end %>
    <% end %>
  <% else %>
    <%= govuk_inset_text do %>
      <h3 class="govuk-heading-s">Internal note</h3>
      <%= simple_format @consent_request.verify_note %>
    <% end %>
  <% end %>

  <%= f.govuk_radio_buttons_fieldset :passed, legend: { text: "After review, does the response confirm that this qualification is legitimate?", size: "s" } do %>
    <%= f.govuk_radio_button :passed, :true, link_errors: true %>
    <%= f.govuk_radio_button :passed, :false do %>
      <%= f.govuk_text_area :note, label: { text: "Internal note: briefly explain why the qualification should not be accepted." } %>
    <% end %>
  <% end %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
