<% title = "Contact #{region_teaching_authority_name(@application_form.region)}" %>

<% content_for :page_title, title %>
<% content_for :back_link_url, verify_professional_standing_assessor_interface_application_form_assessment_assessment_recommendation_verify_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= title %></h1>

<p class="govuk-body">
  <strong class="govuk-!-font-weight-bold">Step 1</strong> – contact <%= region_teaching_authority_name(@application_form.region) %> to verify that they issued the <%= region_certificate_name(@application_form.region) %> provided by the applicant.
</p>

<p class="govuk-body">Remember to include the applicant’s:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>full name</li>
  <li>date of birth</li>
</ul>

<p class="govuk-body"><strong class="govuk-!-font-weight-bold">Step 2</strong> – once they respond, use the ‘Record LOPS response’ link on the task list to confirm that a reply has been received.</p>

<p class="govuk-body"><strong class="govuk-!-font-weight-bold">Step 3</strong> – use the ‘Review LOPS response’ to confirm whether or not the response shows that the letter of professional standing is legitimate.</p>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Continue", [:reference_requests, :assessor_interface, @application_form, @assessment, :assessment_recommendation_verify] %>
  <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
</div>
