<% content_for :page_title, title_with_error_prefix(t(".heading"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: verify_qualifications_assessor_interface_application_form_assessment_assessment_recommendation_verify_path) %>

<%= form_with model: @form, url: [:professional_standing, :assessor_interface, @application_form, @assessment, :assessment_recommendation_verify] do |f| %>
  <%= f.govuk_error_summary %>

  <%= hidden_field_tag :back_to_summary, params[:back_to_summary] %>

  <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

  <p class="govuk-body">If you choose to verify this application's LoPS an admin will email the competent authority and record the response.</p>

  <%= f.govuk_collection_radio_buttons :verify_professional_standing, %i[true false], :itself, legend: nil %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
