<% title = "Do you want to verify qualifications?" %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<%= form_with model: @form, url: [:verify_qualifications, :assessor_interface, @application_form, @assessment, :assessment_recommendation_verify] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <p class="govuk-body">
    If you choose to verify qualifications an admin will request consent and submit verification requests to Ecctis.
  </p>

  <p class="govuk-body">
    You can select which qualifications to verify on the next screen.
  </p>

  <%= f.govuk_collection_radio_buttons :verify_qualifications, %i[true false], :itself, legend: nil %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
