<% content_for :page_title, title_with_error_prefix(t(".heading"), error: @form.errors.any?) %>
<% content_for :back_link_url, professional_standing_assessor_interface_application_form_assessment_assessment_recommendation_verify_path(@application_form) %>

<%= form_with model: @form, url: [:reference_requests, :assessor_interface, @application_form, @assessment, :assessment_recommendation_verify] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

  <p class="govuk-body">Select which references you want to request from the list below.</p>

  <p class="govuk-body">You will be able to check your selection before submitting.</p>

  <%= f.govuk_check_boxes_fieldset :work_history_ids do %>
    <% @application_form.work_histories.order_by_role.each_with_index do |work_history, index| %>
      <%= f.govuk_check_box :work_history_ids, work_history.id.to_s, label: { text: work_history_name_and_duration(work_history) }, link_errors: index.zero? %>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-m">Check:</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>you have selected the current or most recent role if required</li>
    <li>the selected references add up to the required number of months for this application to progress</li>
  </ul>

  <%= f.govuk_submit do %>
    <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
  <% end %>
<% end %>
