<% content_for :page_title, "You’re about to award QTS" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">You’re about to award QTS</h1>

<p class="govuk-body-l">You’re about to award QTS to <%= application_form_full_name(@application_form) %>.</p>
<p class="govuk-body">Read the declaration and if you’re happy to award QTS, select ‘Accept and award QTS’.</p>
<p class="govuk-body">If you need to check something, use the ‘Back’ button.</p>

<%= form_with model: @confirm_recommendation_form, url: [:assessor_interface, @application_form, @assessment], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.hidden_field :recommendation %>

  <%= f.govuk_check_boxes_fieldset :confirm, small: true do %>
    <%= f.govuk_check_box :confirm,
                          true,
                          false,
                          multiple: false,
                          link_errors: true %>
  <% end %>

  <%= f.govuk_submit "Accept and award QTS", prevent_double_click: false do %>
    <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
  <% end %>
<% end %>
