<% title = if @assessment.verify?
              t(".legend.verify")
           elsif @assessment.review?
             t(".legend.review")
           else
             t(".legend.other")
           end %>

<% description = if @assessment.can_verify?
           t(".hint.can_verify")
         elsif @assessment.can_review?
           t(".hint.can_review")
         elsif @assessment.can_award?
           if @assessment.reference_requests.present?
             t(".hint.can_award_with_references")
           else
             t(".hint.can_award_without_references")
           end
         else
           t(".hint.cant_award")
         end %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<%= form_with model: @form, url: [:assessor_interface, @application_form, @assessment], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>
  <p class="govuk-body"><%= description %></p>

  <% if @assessment.can_award? && @assessment.can_decline? %>
    <p class="govuk-body">Note: for <%= CountryName.from_region(@application_form.region, with_definite_article: true) %> applications you can still award QTS if the qualifications could not be verified.
  <% end %>

  <% if @form.requires_confirmation? %>
    <div class="hods-alert">
      <h2 class="hods-alert__heading">
        Eligibility criteria for <%= CountryName.from_country(@application_form.country, with_definite_article: true) %> has changed.
      </h2>

      <p>By continuing, you agree you assessed this application against the criteria in place on the date it was submitted.</p>
      <p>This application was submitted on <strong><%= @application_form.submitted_at.to_date.to_fs %></strong>.</p>
    </div>

    <%= f.govuk_check_boxes_fieldset :confirmation, multiple: false, small: true, legend: nil do %>
      <%= f.govuk_check_box :confirmation, true, false, link_errors: true, multiple: false, label: { size: "s" } %>
    <% end %>
  <% end %>

  <%= f.govuk_collection_radio_buttons :recommendation,
                                       @assessment.available_recommendations,
                                       :itself,
                                       legend: { text: "You can:", size: "s" } %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
