<% content_for :page_title, "Check your answers" %>
<% content_for :back_link_url, teacher_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

<h2 class="govuk-heading-m">About you</h2>
<%= render "teacher_interface/personal_information/summary", application_form: @application_form %>
<%= render "teacher_interface/identity_document/summary", application_form: @application_form %>

<h2 class="govuk-heading-m">Who you can teach</h2>
<%= render "teacher_interface/age_range/summary", application_form: @application_form %>

<h2 class="govuk-heading-m">Your work history</h2>
<%= render "teacher_interface/work_histories/summary", application_form: @application_form, work_histories: @application_form.work_histories %>

<h2 class="govuk-heading-m">Proof that you’re recognised as a teacher</h2>
<%= render "teacher_interface/written_statement/summary", application_form: @application_form %>

<% if @application_form.can_submit? %>
  <h2 class="govuk-heading-m">Submitting your application</h2>
  <p class="govuk-body">By selecting the ‘Submit application button’ you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <%= govuk_button_to "Submit your application", teacher_interface_application_form_path, method: :patch %>
<% end %>
