<% content_for :page_title, "Check your answers" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

<section id="app-application-form-about-you">
  <h2 class="govuk-heading-m">About you</h2>
  <%= render "shared/application_form/personal_information_summary", application_form: @application_form, changeable: true %>
  <%= render "shared/application_form/identification_document_summary", application_form: @application_form, changeable: true %>
</section>

<section id="app-application-form-who-you-can-teach">
  <h2 class="govuk-heading-m">Who you can teach</h2>
  <%= render "shared/application_form/qualifications_summary", application_form: @application_form, qualifications: @application_form.qualifications.order_by_user, changeable: true %>
  <%= render "shared/application_form/age_range_summary", application_form: @application_form, changeable: true %>
  <%= render "shared/application_form/subjects_summary", application_form: @application_form, changeable: true %>
</section>

<% if @application_form.needs_work_history %>
  <section id="app-application-form-work-history">
    <h2 class="govuk-heading-m">Your work history</h2>

    <%= render "shared/application_form/work_history_summary",
               work_histories: @application_form.work_histories.order_by_user,
               highlighted_contact_emails: [] %>
  </section>
<% end %>

<% if @application_form.needs_written_statement || @application_form.needs_registration_number %>
  <section id="app-application-form-proof-of-recognition">
    <h2 class="govuk-heading-m">Proof that you’re recognised as a teacher</h2>
    <% if @application_form.needs_registration_number %>
      <%= render "shared/application_form/registration_number_summary", application_form: @application_form, changeable: true %>
    <% end %>
    <% if @application_form.needs_written_statement %>
      <%= render "shared/application_form/written_statement_summary", application_form: @application_form, changeable: true %>
    <% end %>
  </section>
<% end %>

<% if @view_object.can_submit? %>
  <section id="app-application-form-submission-declaration">
    <%= form_with model: @sanction_confirmation_form, url: [:teacher_interface, :application_form], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <h2 class="govuk-heading-m">How we handle your data</h2>
      <p class="govuk-body">You can read about the data we collect from you, how we use it and how it’s stored, in our <%= govuk_link_to "privacy policy", privacy_path %>.</p>

      <%= f.govuk_check_boxes_fieldset :confirmed_no_sanctions, legend: { text: "About sanctions and restrictions", tag: "h2", size: "m" }, small: true do %>
        <%= f.govuk_check_box :confirmed_no_sanctions,
                              true,
                              false,
                              multiple: false,
                              link_errors: true,
                              label: {
                                text: "Tick the box to confirm your employment record does not contain any sanctions, restrictions, penalties or instances of misconduct."
                              } %>
      <% end %>

      <h2 class="govuk-heading-m">Submitting your application</h2>
      <p class="govuk-body">By selecting the ‘Submit application button’ you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
      <p class="govuk-body">You will not be able to change your application, add new documents or delete anything once you submit it.</p>
      <%= f.govuk_submit "Submit your application" %>
    <%- end -%>
  </section>
<% end %>
