<% content_for :page_title, "Check your answers" %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

<h2 class="govuk-heading-m">About you</h2>
<%= render "shared/application_form/personal_information_summary", application_form: @application_form, changeable: true %>
<%= render "shared/application_form/identity_document_summary", application_form: @application_form, changeable: true %>

<h2 class="govuk-heading-m">Who you can teach</h2>
<%= render "shared/application_form/qualifications_summary", application_form: @application_form, qualifications: @application_form.qualifications.ordered, changeable: true %>
<%= render "shared/application_form/age_range_summary", application_form: @application_form, changeable: true %>
<%= render "shared/application_form/subjects_summary", application_form: @application_form, changeable: true %>

<% if @application_form.needs_work_history %>
  <h2 class="govuk-heading-m">Your work history</h2>
  <%= render "shared/application_form/work_history_summary", application_form: @application_form, work_histories: @application_form.work_histories.ordered, changeable: true %>
<% end %>

<% if @application_form.needs_written_statement || @application_form.needs_registration_number %>
  <h2 class="govuk-heading-m">Proof that you’re recognised as a teacher</h2>
  <% if @application_form.needs_registration_number %>
    <%= render "shared/application_form/registration_number_summary", application_form: @application_form, changeable: true %>
  <% end %>
  <% if @application_form.needs_written_statement %>
    <%= render "shared/application_form/written_statement_summary", application_form: @application_form, changeable: true %>
  <% end %>
<% end %>

<% if @application_form.can_submit? %>
  <h2 class="govuk-heading-m">Submitting your application</h2>
  <p class="govuk-body">By selecting the ‘Submit application button’ you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <%= govuk_button_to "Submit your application", teacher_interface_application_form_path, method: :patch %>
<% end %>
