<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>

<h1 class="govuk-heading-xl">Apply for qualified teacher status (QTS)</h1>

<% if @application_form.draft? %>
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
    <% if @application_form.can_submit? %>
      Application complete
    <% else %>
      Application incomplete
    <% end %>
  </h2>

  <p class="govuk-body govuk-!-margin-bottom-7">
    You have completed <%= @application_form.completed_task_sections.count %> of <%= @application_form.tasks.count %> sections.
  </p>

  <ol class="app-task-list">
    <% @application_form.tasks.each_with_index do |(section, items), index| %>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number"><%= index + 1 %>. </span>
          <%= I18n.t("application_form.tasks.sections.#{section}") %>
        </h2>

        <ul class="app-task-list__items">
          <% items.each do |item| %>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= link_to I18n.t("application_form.tasks.items.#{item}"),
                            @application_form.path_for_task_item(item),
                            aria: { describedby: "#{item}-status" } %>
              </span>

              <%= render(ApplicationFormStatusTag::Component.new(
                key: item,
                status: @application_form.task_statuses.dig(section, item),
                class_context: "app-task-list"
              )) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>

  <div class="govuk-button-group">
    <%= govuk_button_link_to "Check your answers", edit_teacher_interface_application_form_path %>
    <%= govuk_button_link_to "Save and sign out", destroy_teacher_session_path, secondary: true %>
  </div>
<% elsif @application_form.further_information_requested? %>
  <h2 class="govuk-heading-m">We need some more information</h2>
  <p class="govuk-body">The status of your qualified teacher status application is currently:</p>
  <p class="govuk-body"><%= render(ApplicationFormStatusTag::Component.new(key: "state", status: @application_form.state)) %></p>
  <h3 class="govuk-heading-m">What you need to do</h3>
  <p class="govuk-body">The assessor needs you to provide some additional information so they can continue reviewing your application.</p>
  <div class="govuk-inset-text">
    You may need to upload 1 or more documents. Make sure any files you upload clearly show the whole document or page, and that any text is easy to read.
  </div>
  <p class="govuk-body">You must add all of the requested information, so the assessor can continue reviewing your QTS application.</p>
  <p class="govuk-body">The next screen will take you to the first section you need to complete.</p>
  <%= govuk_start_button(text: "Start now", href: teacher_interface_application_form_further_information_request_path(@further_information_request)) %>
<% else %>
  <%= govuk_panel(title_text: "Application complete") do %>
    Your reference number
    <br />
    <strong><%= @application_form.reference %></strong>
  <% end %>

  <p class="govuk-body">We’ve received your application for QTS and we’ve sent you a confirmation email.</p>
  <p class="govuk-body">Keep the email safe, as you may need your reference number for future correspondence about your application.</p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">We aim to review your application within 1 month. If we need more information, we’ll email you again.</p>
  <p class="govuk-body">We aim to reach a final decision on QTS applications within 80 working days (4 months) of submission.</p>

  <h2 class="govuk-heading-s govuk-!-font-weight-regular">If you have any questions, contact:</h2>
  <p class="govuk-body"><a class="govuk-link" href="mailto:<%= t('service.email') %>"><%= t('service.email') %></a>.</p>
  <p class="govuk-body"><a class="govuk-link" href="https://docs.google.com/forms/d/1OpMhXJ1blJu2qFqW7VWwKnfjIoU-5SmOLXdgI0Z_kZg/viewform?edit_requested=true">What did you think of this service?</a> (takes 30 seconds)</p>
<% end %>
