<% content_for :page_title, "#{'Error: ' if @qualified_for_subject_form.errors.any?}Does your teaching qualification or university degree qualify you to teach one of the following subjects?" %>
<% content_for :back_link_url, back_link_url(eligibility_interface_teach_children_path) %>

<%= form_with model: @qualified_for_subject_form, url: eligibility_interface_qualified_for_subject_url, method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Does your teaching qualification certificate or university degree certificate state that you’re qualified to teach one of the following subjects?</h1>

  <%= govuk_inset_text do %>
    <p class="govuk-body">
      One of your certificates must specifically mention one of these subjects as shown on the list.
    </p>
    <p class="govuk-body">
      You'll need to upload your certificate, along with a transcript that shows all the modules you studied and the scores you achieved.
    </p>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list govuk-list--bullet">
        <li>Maths</li>
        <li>Science</li>
        <li>Biology</li>
        <li>Chemistry</li>
        <li>Physics</li>
        <li>French</li>
        <li>German</li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list govuk-list--bullet">
        <li>Italian</li>
        <li>Japanese</li>
        <li>Latin</li>
        <li>Mandarin</li>
        <li>Russian</li>
        <li>Spanish</li>
      </ul>
    </div>
  </div>

  <p class="govuk-body">
    We <strong>cannot</strong> accept similar or related subjects, for example, economics instead of maths, agricultural science instead of biology or engineering instead of physics.
  </p>

  <%= f.govuk_collection_radio_buttons(
    :qualified_for_subject,
    [OpenStruct.new(label: 'Yes', value: true), OpenStruct.new(label: 'No', value: false)],
    :value,
    :label,
    legend: nil,
  ) %>

  <%= govuk_details(
    summary_text: "What we mean by qualified",
    text: "Qualified means <strong>EITHER</strong> your teaching qualification specifically says that you can teach one of these subjects, <strong>OR</strong> your university degree certificate shows that at least 50% of your degree was in one of them.".html_safe,
  ) %>

  <%= f.govuk_submit %>
<% end %>
