<h2 class="govuk-heading-m">Teaching authority details</h2>
<%= f.govuk_text_field :teaching_authority_name, label: { text: "Name:" } %>
<%= f.govuk_text_area :teaching_authority_address, label: { text: "Address:" } %>
<%= f.govuk_text_area :teaching_authority_emails_string, label: { text: "Email:" }, hint: { text: "One email per line (if more than one)" } %>
<%= f.govuk_text_area :teaching_authority_websites_string, label: { text: "Websites:" }, hint: { text: "One website per line (if more than one)" } %>
<%= f.govuk_text_field :teaching_authority_certificate, label: { text: "Name given to describe the Letter of Professional standing: " } %>
<%= f.govuk_text_field :teaching_authority_online_checker_url, label: { text: "Online checker URL" } %>
