<p class="govuk-body">There are 4 ways to prove your English language ability.</p>

<h3 class="govuk-heading-s">1. Born in or have citizenship of an exempt country</h3>

<p class="govuk-body">If you were born in or hold citizenship of any of these listed countries, you’re exempt from English language requirements:</p>

<%= render "shared/english_language_exempt_countries" %>

<p class="govuk-body">You’ll need to provide your passport or official identification documents for that country as proof. </p>
<p class="govuk-body">If you’re not exempt by birth or citizenship, you must be able to provide evidence of your English language ability in one of the following ways:</p>

<h3 class="govuk-heading-s">2. If you studied in an exempt country</h3>

<p class="govuk-body">
  Upload the transcript from your teaching qualification or university degree (which you can request from the institution where you studied). Check the exempt countries listed in ‘Born in or have citizenship of an exempt country’.
</p>

<h3 class="govuk-heading-s">3. If you studied in a country that’s NOT exempt</h3>

<p class="govuk-body">
  If your teaching qualification or university degree was taught exclusively in the English language you can upload an official document, which is sometimes called a Medium of Instruction (MOI).
</p>
<p class="govuk-body">
  You can request this from the institution where you studied. It must be signed and stamped by them on official headed paper and it must state that the medium of instruction was English. It must also include your name, degree title and award date.
</p>

<h3 class="govuk-heading-s">4. Provide an approved English language certificate</h3>

<% if region.reduced_evidence_accepted %>
  <p class="govuk-body">You’ll need a Secure English Language Test (SELT) at level B2 from an approved provider.</p>
<% else %>
  <p class="govuk-body">
    If you cannot provide one of the documents described in 1,2 or 3, you'll need a <%= govuk_link_to "B2 level", "https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale", new_tab: true %> Secure English Language Test (SELT) from an approved provider. We accept the following approved providers and tests:
  </p>

  <ul class="govuk-list govuk-list--bullet">
   <% EnglishLanguageProvider.order(:created_at).each do |provider| %>
      <li><strong class="govuk-!-font-weight-bold"><%= provider.name %></strong>: <%= provider.accepted_tests %></li>
    <% end %>
  </ul>
<% end %>

<p class="govuk-body">The test must be awarded within the last 2 years before the date of your application.</p>

<% if region.reduced_evidence_accepted %>
  <p class="govuk-body">Find an <a href="https://register.ofqual.gov.uk/Search?category=Qualifications&query=ESOl" class="govuk-link">approved provider</a> if you need to get an English language certificate.</p>
<% else %>
  <p class="govuk-body">Find an <%= govuk_link_to "approved provider", english_language_guidance_path %> if you need to get an English language certificate.</p>
<% end %>

<%= govuk_details(summary_text: "What if you have more than one nationality?") do %>
  <p class="govuk-body">
    If you’re a national of more than 1 country and both are exempt from English language requirements, you can choose which of them you use to apply for QTS. Remember, you must be able to show a passport (or the recognised identity document for that country).
  </p>

  <p class="govuk-body">
    If you hold a second nationality that is not exempt (and you apply for QTS using that nationality) you’ll need to prove your English language proficiency using one of the other methods.
  </p>
<% end %>
