<% if region.status_check_online? %>
  <p class="govuk-body">
    As your education department or authority has an online register of teachers,
    you’ll need to provide any registration numbers we need to check your record.
  </p>

  <% if region.teaching_authority_status_information.present?%>
    <%= raw GovukMarkdown.render(region.teaching_authority_status_information) %>
  <% end %>

  <% if region.country.teaching_authority_status_information.present?%>
    <%= raw GovukMarkdown.render(region.country.teaching_authority_status_information) %>
  <% end %>
<% end %>

<% if region.sanction_check_online? %>
  <% if region.teaching_authority_sanction_information.present?%>
   <%= raw GovukMarkdown.render(region.teaching_authority_sanction_information) %>
  <% end %>

  <% if region.country.teaching_authority_sanction_information.present?%>
    <%= raw GovukMarkdown.render(region.country.teaching_authority_sanction_information) %>
  <% end %>
<% end %>

<% if region.status_check_written? || region.sanction_check_written? %>
  <% if teaching_authority_provides_written_statement %>
    <p class="govuk-body">
      We need a document called <%= region_certificate_phrase(region) %> from <%= region_teaching_authority_name_phrase(region) %>.
    </p>

    <p class="govuk-body">
      You should request it by emailing <%= region_teaching_authority_emails_phrase(region) %>.
    </p>

    <p class="govuk-body">
      You cannot send this document yourself – instead, you must contact <%= region_teaching_authority_name_phrase(region) %> and ask them to send it directly to us at <a class="govuk-link" href="mailto:<%= t("service.email") %>"><%= t("service.email") %></a>.
    </p>
  <% end %>

  <p class="govuk-body"><%= proof_of_recognition_description_for(region:) %></p>

  <ul class="govuk-list govuk-list--bullet">
    <%- proof_of_recognition_requirements_for(region:).each do |requirement|%>
      <li><%= requirement %></li>
    <%- end -%>
  </ul>

  <% if teaching_authority_provides_written_statement %>
    <p class="govuk-body">
      If we do not receive the document within 90 days of the date that you submit your application, we’ll need to close your application.
    </p>
  <% else %>
    <p class="govuk-body">
      You’ll need to provide <%= region_certificate_phrase(region) %>, which you can obtain by contacting:
    </p>

    <%= render "shared/teaching_authority_contact_information", region: %>
  <% end %>
<% end %>

<% if region.status_check_written? %>
  <% if region.teaching_authority_status_information.present? %>
    <%= raw GovukMarkdown.render(region.teaching_authority_status_information) %>
  <% end %>

  <% if region.country.teaching_authority_status_information.present? %>
    <%= raw GovukMarkdown.render(region.country.teaching_authority_status_information) %>
  <% end %>

<% end %>

<% if region.sanction_check_written? %>
  <% if region.teaching_authority_sanction_information.present?%>
    <%= raw GovukMarkdown.render(region.teaching_authority_sanction_information) %>
  <% end %>

  <% if region.country.teaching_authority_sanction_information.present?%>
    <%= raw GovukMarkdown.render(region.country.teaching_authority_sanction_information) %>
  <% end %>
<% end %>

<% if region.sanction_check_none? %>
  <p class="govuk-body">
    You also need to show evidence of your work history.
  </p>
  <p class="govuk-body">
    For each school this should include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>school name</li>
    <li>school city</li>
    <li>school country</li>
    <li>your job role</li>
    <li>start date</li>
    <li>end date</li>
  </ul>
<% end %>

<% if region.teaching_authority_other.present? %>
  <%= raw GovukMarkdown.render(region.teaching_authority_other) %>
<% end %>

<% if region.country.teaching_authority_other.present?%>
  <%= raw GovukMarkdown.render(region.country.teaching_authority_other) %>
<% end %>
