<% if region.country.code == "GB-NIR" %>
  <p class="govuk-body">
    If you hold active registration with The General Teaching Council for Northern Ireland (GTCNI), you can provide your reference number as part of your QTS application.
  </p>

  <p class="govuk-body">
    If you do not hold active registration with GTCNI, but you’ve completed a teaching qualification, you can still apply for QTS.
  </p>

  <h4 class="govuk-heading-s">About induction periods</h4>

  <p class="govuk-body">
    If you’re awarded QTS and you have not completed induction in Northern Ireland, you’ll need to do a period of statutory induction.
  </p>

  <p class="govuk-body">
    If you’re awarded QTS and you’ve already completed an induction period in Northern Ireland, you can provide evidence by uploading a 'Letter of Successful Completion of Induction'. You can get this by contacting the school where you did your induction period.
  </p>

  <p class="govuk-body">
    The letter must confirm that you completed your induction in Northern Ireland and show the completion date, as well as your Teacher Reference (TR) number (if you have one). It must also include the name of the school and the signature of the administration department or headteacher/principal.
  </p>
<% else %>
  <%# Written information %>

  <% if region.status_check_written? || region.sanction_check_written? %>
    <% if teaching_authority_provides_written_statement %>
      <p class="govuk-body">
        To prove you are recognised as a teacher in <%= CountryName.from_region_with_country(region, with_definite_article: true) %>,
        you’ll need to get <%= region_certificate_phrase(region) %> from <%= region_teaching_authority_name_phrase(region) %>.
      </p>

      <% if region.requires_preliminary_check %>
        <p class="govuk-body govuk-!-font-weight-bold">
          Do not request your <%= region_certificate_name(region) %> yet
        </p>

        <p class="govuk-body">
          We will need to carry out initial checks on your application.
          If these checks are passed we will email you and ask you to request your <%= region_certificate_name(region) %>.
        </p>

        <p class="govuk-body">
          Once we have asked you to, you must email <%= region_teaching_authority_emails_phrase(region) %>
          and ask them to send your <%= region_certificate_name(region) %> directly to us at <%= govuk_link_to t("service.email.verification"), email_path("verification") %>.
        </p>
      <% else %>
        <p class="govuk-body">
          Do this after you have submitted your application, as you will need your application reference number.
        </p>

        <p class="govuk-body">
          Once you have submitted your application you must email <%= region_teaching_authority_emails_phrase(region) %>
          and ask them to send your <%= region_certificate_name(region) %> directly to us at <%= govuk_link_to t("service.email.verification"), email_path("verification") %>.
        </p>
      <% end %>

      <p class="govuk-body">
        You cannot send it yourself.
      </p>
    <% else %>
      <p class="govuk-body">
        <% if region.written_statement_optional %>
          If you have one, you can provide <%= region_certificate_phrase(region) %>, which you can get by contacting:
        <% else %>
          You’ll need to provide <%= region_certificate_phrase(region) %>, which you can get by contacting:
        <% end %>
      </p>

      <%= render "shared/teaching_authority_contact_information", region: %>

      <% requirements = proof_of_recognition_requirements_for(region:) %>
      <% if requirements.count == 1 %>
        <p class="govuk-body">
          <%= proof_of_recognition_description_for(region:).chomp(":") %>
          <%= requirements.first %>
        </p>
      <% elsif requirements.count > 1 %>
        <p class="govuk-body"><%= proof_of_recognition_description_for(region:) %></p>
        <ul class="govuk-list govuk-list--bullet">
          <% requirements.each do |requirement| %>
            <li><%= requirement %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <% if region.status_check_written? %>
    <% if region.status_information.present? %>
      <%= raw GovukMarkdown.render(region.status_information) %>
    <% end %>

    <% if region.country.status_information.present? %>
      <%= raw GovukMarkdown.render(region.country.status_information) %>
    <% end %>
  <% end %>

  <% if region.sanction_check_written? %>
    <% if region.sanction_information.present? %>
      <%= raw GovukMarkdown.render(region.sanction_information) %>
    <% end %>

    <% if region.country.sanction_information.present? %>
      <%= raw GovukMarkdown.render(region.country.sanction_information) %>
    <% end %>
  <% end %>

<%# Online information %>

  <% if region.status_check_online? || region.sanction_check_online? %>
    <p class="govuk-body">
      As your education department or authority has an online register of teachers,
      you’ll also need to provide any registration numbers we need to check your record.
    </p>
  <% end %>

  <% if region.status_check_online? %>
    <% if region.status_information.present? %>
      <%= raw GovukMarkdown.render(region.status_information) %>
    <% end %>

    <% if region.country.status_information.present? %>
      <%= raw GovukMarkdown.render(region.country.status_information) %>
    <% end %>
  <% end %>

  <% if region.sanction_check_online? %>
    <% if region.sanction_information.present? %>
      <%= raw GovukMarkdown.render(region.sanction_information) %>
    <% end %>

    <% if region.country.sanction_information.present? %>
      <%= raw GovukMarkdown.render(region.country.sanction_information) %>
    <% end %>
  <% end %>

<%# "Other" information %>

  <% if region.other_information.present? %>
    <%= raw GovukMarkdown.render(region.other_information) %>
  <% end %>

  <% if region.country.other_information.present? %>
    <%= raw GovukMarkdown.render(region.country.other_information) %>
  <% end %>
<% end %>
