<% if region.country.code == "GB-NIR" %>
  <p class="govuk-body">
    If you hold active registration with The General Teaching Council for Northern Ireland (GTCNI), you can provide your reference number as part of your QTS application.
  </p>

  <p class="govuk-body">
    If you do not hold active registration with GTCNI, but you’ve completed a teaching qualification, you can still apply for QTS.
  </p>

  <h4 class="govuk-heading-s">About induction periods</h4>

  <p class="govuk-body">
    If you’re awarded QTS and you have not completed induction in Northern Ireland, you’ll need to do a period of statutory induction.
  </p>

  <p class="govuk-body">
    If you’re awarded QTS and you’ve already completed an induction period in Northern Ireland, you can provide evidence by uploading a 'Letter of Successful Completion of Induction'. You can get this by contacting the school where you did your induction period.
  </p>

  <p class="govuk-body">
    The letter must confirm that you completed your induction in Northern Ireland and show the completion date, as well as your Teacher Reference (TR) number (if you have one). It must also include the name of the school and the signature of the administration department or headteacher/principal.
  </p>
<% else %>
  <%# Written information %>

  <% if region.status_check_written? || region.sanction_check_written? %>
    <% if teaching_authority_provides_written_statement %>
      <p class="govuk-body">
        You’ll need to provide <%= region_certificate_phrase(region) %> from <%= region_teaching_authority_name_phrase(region) %>.
      </p>

      <p class="govuk-body">
        You should request it by emailing <%= region_teaching_authority_emails_phrase(region) %>.
      </p>

      <p class="govuk-body">
        You cannot send this document yourself – instead, you must contact <%= region_teaching_authority_name_phrase(region) %> and ask them to send it directly to us at <a class="govuk-link" href="mailto:<%= t("service.email.verification") %>"><%= t("service.email.verification") %></a>.
      </p>
    <% else %>
      <p class="govuk-body">
        <% if region.written_statement_optional %>
          If you have one, you can provide <%= region_certificate_phrase(region) %>, which you can get by contacting:
        <% else %>
          You’ll need to provide <%= region_certificate_phrase(region) %>, which you can get by contacting:
        <% end %>
      </p>
    <% end %>

    <% if region.country.requires_preliminary_check %>
      <p class="govuk-body govuk-!-font-weight-bold">
        Do not request this document yet – we’ll carry out some checks on your application first. If your application passes these checks, we’ll then email you and ask you to request the document.
      </p>
    <% else %>
      <%= render "shared/teaching_authority_contact_information", region: %>
    <% end %>

    <% if (requirements = proof_of_recognition_requirements_for(region:)).count == 1 %>
      <p class="govuk-body">
        <%= proof_of_recognition_description_for(region:).chomp(":") %>
        <%= requirements.first %>
      </p>
    <% else %>
      <p class="govuk-body"><%= proof_of_recognition_description_for(region:) %></p>
      <ul class="govuk-list govuk-list--bullet">
        <% requirements.each do |requirement| %>
          <li><%= requirement %></li>
        <% end %>
      </ul>
    <% end %>

    <% if teaching_authority_provides_written_statement %>
      <p class="govuk-body">
        This must be dated within 6 months of you applying for QTS.
      </p>

      <p class="govuk-body">
        If we do not receive the document within 180 days of the date that you submit your application, we’ll need to close your application.
      </p>
    <% end %>
  <% end %>

  <% if region.status_check_written? %>
    <% if region.teaching_authority_status_information.present? %>
      <%= raw GovukMarkdown.render(region.teaching_authority_status_information) %>
    <% end %>

    <% if region.country.teaching_authority_status_information.present? %>
      <%= raw GovukMarkdown.render(region.country.teaching_authority_status_information) %>
    <% end %>
  <% end %>

  <% if region.sanction_check_written? %>
    <% if region.teaching_authority_sanction_information.present?%>
      <%= raw GovukMarkdown.render(region.teaching_authority_sanction_information) %>
    <% end %>

    <% if region.country.teaching_authority_sanction_information.present?%>
      <%= raw GovukMarkdown.render(region.country.teaching_authority_sanction_information) %>
    <% end %>
  <% end %>

<%# Online information %>

  <% if region.status_check_online? || region.sanction_check_online? %>
    <p class="govuk-body">
      As your education department or authority has an online register of teachers,
      you’ll also need to provide any registration numbers we need to check your record.
    </p>
  <% end %>

  <% if region.status_check_online? %>
    <% if region.teaching_authority_status_information.present?%>
      <%= raw GovukMarkdown.render(region.teaching_authority_status_information) %>
    <% end %>

    <% if region.country.teaching_authority_status_information.present?%>
      <%= raw GovukMarkdown.render(region.country.teaching_authority_status_information) %>
    <% end %>
  <% end %>

  <% if region.sanction_check_online? %>
    <% if region.teaching_authority_sanction_information.present?%>
      <%= raw GovukMarkdown.render(region.teaching_authority_sanction_information) %>
    <% end %>

    <% if region.country.teaching_authority_sanction_information.present?%>
      <%= raw GovukMarkdown.render(region.country.teaching_authority_sanction_information) %>
    <% end %>
  <% end %>

<%# "Other" information %>

  <% if region.teaching_authority_other.present? %>
    <%= raw GovukMarkdown.render(region.teaching_authority_other) %>
  <% end %>

  <% if region.country.teaching_authority_other.present?%>
    <%= raw GovukMarkdown.render(region.country.teaching_authority_other) %>
  <% end %>
<% end %>
