<li class="app-search-results__item">
  <h2 class="app-search-result__item-title">
    <%= govuk_link_to full_name, href %>
    <% if unsuitable || prioritised || on_hold  %>
      <br />

      <%= govuk_tag(text: "Flagged for suitability", colour: "red") if unsuitable %>
      <%= render StatusTag::Component.new("prioritised") if prioritised %>
      <%= render StatusTag::Component.new("on_hold") if on_hold %>
    <% end %>
  </h2>

  <%= render(DescriptionList::Component.new(
    rows: summary_rows,
    classes: ["app-description-list--search-result"]
  )) %>
</li>
