<% content_for :page_title, "Download consent document" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_consent_requests_path) %>

<%= form_with model: @form, url: [:download, :teacher_interface, :application_form, @consent_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Download consent document</h1>

  <h2 class="govuk-heading-m"><%= qualification_title(@qualification) %></h2>

  <article class="moj-ticket-panel">
    <section class="moj-ticket-panel__content moj-ticket-panel__content--blue">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Download the consent document</h2>
      <p class="govuk-body"><%= document_link_to(@consent_request.unsigned_consent_document) %></p>
    </section>
  </article>

  <%= f.govuk_check_boxes_fieldset :downloaded, small: true, legend: nil do %>
    <%= f.govuk_check_box :downloaded, true, false, link_errors: true, multiple: false, label: { text: "I have downloaded the consent document." } %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
