<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title"><%= t("components.timeline_entry.title.#{timeline_event.event_type}") %></h2>
    <p class="moj-timeline__byline">by <%= creator %></p>
  </div>

  <p class="moj-timeline__date">
  <time datetime="<%= timeline_event.created_at.iso8601 %>">
    <%= timeline_event.created_at.strftime("%e %B %Y at %l:%M %P") %>
  </time>
  </p>

  <div class="moj-timeline__description">
    <% if timeline_event.age_range_subjects_verified? %>
      <p class="govuk-body">Age range: <%= description_vars[:age_range_min] %> to <%= description_vars[:age_range_max] %></p>
      <% if (text = description_vars[:age_range_note]).present? %>
        <p class="govuk-body"><%= text %></p>
      <% end %>
      <p class="govuk-body">Subjects: <%= description_vars[:subjects] %></p>
      <% if (text = description_vars[:subjects_note]).present? %>
        <p class="govuk-body"><%= text %></p>
      <% end %>
    <% else %>
      <p class="govuk-body">
        <%= t("components.timeline_entry.description.#{timeline_event.event_type}", **description_vars).html_safe %>
      </p>
    <% end %>
  </div>
</div>
