<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title"><%= title %></h2>
    <p class="moj-timeline__byline">by <%= creator %></p>
  </div>

  <p class="moj-timeline__date">
  <time datetime="<%= timeline_event.created_at.iso8601 %>">
    <%= timeline_event.created_at.localtime.to_fs(:date_and_time) %>
  </time>
  </p>

  <div class="moj-timeline__description">
    <% if timeline_event.age_range_subjects_verified? %>
      <p class="govuk-body">Age range: <%= description_vars[:age_range_min] %> to <%= description_vars[:age_range_max] %></p>
      <% if (text = description_vars[:age_range_note]).present? %>
        <%= simple_format text %>
      <% end %>
      <p class="govuk-body">Subjects: <%= description_vars[:subjects] %></p>
      <% if (text = description_vars[:subjects_note]).present? %>
        <%= simple_format text %>
      <% end %>
    <% elsif timeline_event.assessment_section_recorded? %>
      <p class="govuk-body">
        <%= description_vars[:section_name] %>:
        <%= render StatusTag::Component.new(description_vars[:passed] ? "accepted" : "rejected") %>
      </p>

      <% if (visible_failure_reasons = description_vars[:visible_failure_reasons]).present? %>
        <%= govuk_inset_text do %>
          <ul class="govuk-list--bullet">
            <%= render "timeline_entry/failure_reasons", failure_reasons: visible_failure_reasons %>

            <% if (hidden_failure_reasons = description_vars[:hidden_failure_reasons]).present? %>
              <%= govuk_details(summary_text: "View additional reasons") do %>
                <%= render "timeline_entry/failure_reasons", failure_reasons: hidden_failure_reasons %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% elsif timeline_event.requestable_reviewed? %>
      <p class="govuk-body">
        Status has changed to: <%= render(StatusTag::Component.new(description_vars[:new_status])) %>
      </p>

      <% if (note = description_vars[:note]).present? %>
        <%= govuk_inset_text { simple_format note } %>
      <% end %>
    <% elsif timeline_event.requestable_verified? %>
      <p class="govuk-body">
        Status has changed to: <%= render(StatusTag::Component.new(description_vars[:new_status])) %>
      </p>

      <% if (note = description_vars[:note]).present? %>
        <%= govuk_inset_text { simple_format note } %>
      <% end %>
    <% elsif timeline_event.information_changed? %>
      <p class="govuk-body">
        <%= t(description_vars[:column_name], scope: %i[components timeline_entry columns]) %>
        has changed from <strong class="govuk-!-font-weight-bold"><%= description_vars[:old_value] %></strong>
        to <strong class="govuk-!-font-weight-bold"><%= description_vars[:new_value] %></strong>.
      </p>

    <% elsif timeline_event.application_declined? %>
      <p class="govuk-body">
        Status has changed to: <%= render(StatusTag::Component.new(:declined)) %>
      </p>
      
      <% TeacherInterface::ApplicationFormViewObject.new(application_form: timeline_event.application_form).declined_reasons.each do |title, reasons| %>
        <% if title.present? %>
          <h4 class="govuk-heading-s"><%= title %></h4>
        <% end %>

        <ul class="govuk-list govuk-list--bullet">
          <% reasons.each do |reason| %>
            <li><%= simple_format reason %></li>
          <% end %>
        </ul>
      <% end %>

    <% else %>
      <p class="govuk-body"><%= simple_format description.html_safe %></p>
    <% end %>
  </div>
</div>
