<div class="moj-timeline__item">
  <div class="moj-timeline__header">
    <h2 class="moj-timeline__title"><%= title %></h2>
    <p class="moj-timeline__byline">by <%= creator %></p>
  </div>

  <p class="moj-timeline__date">
  <time datetime="<%= timeline_event.created_at.iso8601 %>">
    <%= timeline_event.created_at.localtime.to_fs %>
  </time>
  </p>

  <div class="moj-timeline__description">
    <% if timeline_event.age_range_subjects_verified? %>
      <p class="govuk-body">Age range: <%= description_vars[:age_range_min] %> to <%= description_vars[:age_range_max] %></p>
      <% if (text = description_vars[:age_range_note]).present? %>
        <%= simple_format text %>
      <% end %>
      <p class="govuk-body">Subjects: <%= description_vars[:subjects] %></p>
      <% if (text = description_vars[:subjects_note]).present? %>
        <%= simple_format text %>
      <% end %>
    <% elsif timeline_event.eligibility_domain_created? || timeline_event.eligibility_domain_archived? || timeline_event.eligibility_domain_reactivated? %>
      <p class="govuk-body"><%= description_vars[:text] %></p>
    <% elsif timeline_event.assessment_section_recorded? %>
      <p class="govuk-body">
        <%= render StatusTag::Component.new(description_vars[:status]) %>
      </p>

      <% if (failure_reasons = description_vars[:failure_reasons]).present? %>
        <%= govuk_details(summary_text: "View details") do %>
          <ul class="govuk-list--bullet">
            <%= render "timeline_entry/failure_reasons", failure_reasons: failure_reasons %>
          </ul>
        <% end %>
      <% end %>
    <% elsif timeline_event.prioritisation_work_history_check_recorded? %>
      <p class="govuk-body">
        <%= description_vars[:institution_name] %> status changed to <%= render StatusTag::Component.new(description_vars[:status]) %>
      </p>

      <% if (failure_reasons = description_vars[:failure_reasons]).present? %>
        <%= govuk_details(summary_text: "View details") do %>
          <ul class="govuk-list--bullet">
            <% failure_reasons.each do |failure_reason| %>
              <li>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  <%= t(failure_reason.key, scope: %i[assessor_interface prioritisation_work_history_checks failure_reasons as_statement]) %>
                </p>
                <%= simple_format failure_reason.assessor_feedback, class: "govuk-hint" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% elsif timeline_event.prioritisation_decision_made? %>
      <p class="govuk-body">
        <% if description_vars[:prioritised] %>
          Application flagged as <%= render StatusTag::Component.new(description_vars[:status]) %>
        <% else %>
          Application is not valid for prioritisation.
        <% end %>
      </p>
    <% elsif timeline_event.requestable_reviewed? %>
      <p class="govuk-body">
        Status has changed to <%= render(StatusTag::Component.new(description_vars[:new_status])) %>
      </p>

      <% if (note = description_vars[:note]).present? %>
        <%= govuk_details(summary_text: "View details") do %>
          <%= simple_format note, class: "govuk-hint" %>
        <% end %>
      <% end %>
    <% elsif timeline_event.requestable_verified? %>
      <p class="govuk-body">
        Status has changed to <%= render(StatusTag::Component.new(description_vars[:new_status])) %>
      </p>

      <% if (note = description_vars[:note]).present? %>
        <%= govuk_details(summary_text: "View details") do %>
          <%= simple_format note, class: "govuk-hint" %>
        <% end %>
      <% end %>
    <% elsif timeline_event.information_changed? %>
      <p class="govuk-body">
        <%= t(description_vars[:column_name], scope: %i[components timeline_entry columns]) %>
        has changed from <strong class="govuk-!-font-weight-bold"><%= description_vars[:old_value] %></strong>
        to <strong class="govuk-!-font-weight-bold"><%= description_vars[:new_value] %></strong>.
      </p>

    <% elsif timeline_event.application_declined? %>
      <p class="govuk-body">
        Status has changed to <%= render(StatusTag::Component.new(:declined)) %>
      </p>

      <% TeacherInterface::ApplicationFormViewObject.new(application_form: timeline_event.application_form).declined_reasons.each do |title, reasons| %>
        <% if title.present? %>
          <h4 class="govuk-heading-s"><%= title %></h4>
        <% end %>

        <ul class="govuk-list govuk-list--bullet">
          <% reasons.each do |reason| %>
            <li><%= simple_format reason[:name] %></li>
            <% if reason[:assessor_note].present? %>
              <li><%= simple_format reason[:assessor_note] %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>

    <% else %>
      <p class="govuk-body"><%= simple_format description.html_safe %></p>
    <% end %>
  </div>
</div>
