<% if email_used_as_reference_in_this_application_form %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The highlighted information appears elsewhere in this application") %>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong class="govuk-!-font-weight-bold"><%= teacher.email %></strong> is used as a <strong class="govuk-!-font-weight-bold">reference</strong> for this application, but matches the applicant’s own email address.
    </p>
  <% end %>
<% end %>

<% if other_application_forms_where_email_used_as_reference.present? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The highlighted information also appears in other applications") %>

    <p class="govuk-body">Check the applications listed below to review the matching information.</p>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong class="govuk-!-font-weight-bold"><%= teacher.email %></strong> appears as a <strong class="govuk-!-font-weight-bold">reference</strong> in these applications:
    </p>

    <%= render "shared/linked_application_forms_list", application_forms: %>
  <% end %>
<% end %>
