<% content_for :page_title, t(".title") %>

<h1 class="govuk-heading-xl"><%= t(".title") %></h1>

<div class="govuk-grid-column-one-third app-application-forms__filters">
  <h2 class="govuk-heading-m"><%= t(".filters.title") %></h2>

  <%= form_with model: @view_object.filter_form, url: filters_apply_assessor_interface_application_forms_path, method: :post, class: "app-application-forms__filter-form" do |f| %>
    <%= f.govuk_submit t(".filters.apply") do %>
      <a href="<%= filters_clear_assessor_interface_application_forms_path %>" class="govuk-link">
        <%= t(".filters.clear") %>
        <%= govuk_visually_hidden(t(".filters.of_filter")) %>
      </a>
    <% end %>

    <section id="app-applications-filters-assessor" class="app-checkbox-filter app-checkbox-filter--enhanced">
      <div class="app-checkbox-filter__container">
        <div class="app-checkbox-filter__container-inner">
          <%= f.govuk_check_boxes_fieldset :assessor_ids, legend: { size: "s" }, small: true do %>
            <% @view_object.assessor_filter_options.each do |option| %>
              <%= f.govuk_check_box :assessor_ids, option.id, label: { text: option.name }, checked: @view_object.filter_form.assessor_ids&.include?(option.id.to_s) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>

    <section id="app-applications-filters-statuses" class="app-checkbox-filter app-checkbox-filter--enhanced govuk-!-margin-top-6">
      <div class="app-checkbox-filter__container">
        <div class="app-checkbox-filter__container-inner">
          <%= f.govuk_check_boxes_fieldset :statuses, legend: { size: "s", text: "" }, small: true do %>
            <% @view_object.status_filter_options.each do |option| %>
              <%= f.govuk_check_box :statuses, option.id, label: { text: option.label }, checked: @view_object.filter_form.statuses&.include?(option.id) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>

    <section id="app-applications-filters-country" class="govuk-!-margin-top-6">
      <%= f.govuk_select :location, @view_object.country_filter_options, label: { size: "s" }, options: { include_blank: true } %>
    </section>

    <section id="app-applications-filters-reference">
      <%= f.govuk_text_field :reference, label: { size: "s" } %>
    </section>

    <section id="app-applications-filters-name">
      <%= f.govuk_text_field :name, label: { size: "s" } %>
    </section>

    <section id="app-applications-filters-email">
      <%= f.govuk_text_field :email, label: { size: "s" } %>
    </section>

    <section id="app-applications-filters-date-of-birth">
      <%= f.govuk_date_field :date_of_birth, legend: { size: "s" } %>
    </section>

    <section id="app-applications-filters-submitted-at">
      <%= f.govuk_fieldset legend: { text: I18n.t("helpers.legend.assessor_interface_filter_form.submitted_at"), size: "s" } do %>
        <%= f.govuk_date_field :submitted_at_after, legend: { size: "s" } %>
        <%= f.govuk_date_field :submitted_at_before, legend: { size: "s" } %>
      <% end %>
    </section>

    <section id="app-applications-filters-stage">
      <%= f.govuk_check_boxes_fieldset :stage, legend: { size: "s" }, small: true do %>
        <% @view_object.stage_filter_options.each do |option| %>
          <%= f.govuk_check_box :stage, option.id, label: { text: option.label }, checked: @view_object.filter_form.stage&.include?(option.id) %>
        <% end %>
      <% end %>
    </section>

    <section id="app-applications-filters-flags">
      <%= f.govuk_check_boxes_fieldset :flags, legend: { size: "s" }, multiple: false, small: true do %>
        <%= f.govuk_check_box :prioritised, :true, multiple: false, label: { text: @view_object.prioritised_filter_option_label }, checked: @view_object.filter_form.prioritised == "true" %>
        <%= f.govuk_check_box :on_hold, :true, multiple: false, label: { text: @view_object.on_hold_filter_option_label }, checked: @view_object.filter_form.on_hold == "true" %>
      <% end %>
    </section>

    <section id="app-applications-show-all-applicants">
      <%= f.govuk_check_boxes_fieldset :show_all, legend: nil, multiple: false, small: true do %>
        <%= f.govuk_check_box :show_all, :true, multiple: false, label: { text: "Show applications completed over 90 days ago" }, checked: @view_object.filter_form.show_all == "true" %>
      <% end %>
    </section>
  <% end %>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="govuk-!-text-align-right">
    <%= form_with model: @view_object.filter_form, url: filters_sort_assessor_interface_application_forms_path, method: :post, class: "app-application-forms__filter-form" do |f| %>
      <%= f.govuk_collection_select :sort_by,
                              [
                                OpenStruct.new(id: "submitted_at_desc", name: "Newest to oldest"),
                                OpenStruct.new(id: "submitted_at_asc", name: "Oldest to newest"),
                              ],
                              :id,
                              :name,
                              label: { size: "s", text: "Sort by" } %>
      <%= f.govuk_submit t(".filters.sort") %>
    <% end %>
  </div>

  <% if (records = @view_object.application_forms_records).present? %>
    <ul class="app-search-results">
      <% records.each do |application_form| %>
        <%= render(ApplicationFormSearchResult::Component.new(application_form, current_staff:, unsuitable: @view_object.flag_as_unsuitable?(application_form), prioritised: application_form.assessment.prioritised?, on_hold: application_form.on_hold?)) %>
      <% end %>
    </ul>

    <%= govuk_pagination(pagy: @view_object.application_forms_pagy) %>
  <% else %>
    <h2 class="govuk-heading-m"><%= t(".results.empty") %></h2>
  <% end %>
</div>
