<% content_for :page_title, "Applications" %>

<h1 class="govuk-heading-xl">Applications</h1>

<div class="govuk-grid-column-one-third app-application-forms__filters">
  <h2 class="govuk-heading-m">Filters</h2>

  <%= form_with model: @view_object.filter_form, method: :get, url: assessor_interface_application_forms_path, class: "app-application-forms__filter-form" do |f| %>
    <%= f.govuk_submit "Apply filters" do %>
      <%= govuk_link_to "Clear selection"%>
    <%- end -%>

    <%= f.govuk_check_boxes_fieldset :assessor_ids, legend: { text: "Assessor name", size: "s" }, small: true do %>
      <%- @view_object.assessor_filter_options.each do |option| -%>
        <%= f.govuk_check_box :assessor_ids, option.id, label: { text: option.name }, checked: @view_object.filter_form.assessor_ids&.include?(option.id.to_s) %>
      <%- end -%>
    <%- end -%>

    <%= f.govuk_select :location,
                       @view_object.country_filter_options,
                       label: { text: "Country trained in", size: "s" },
                       options: { include_blank: true } %>

    <%= f.govuk_text_field :name, label: { text: "Applicant name", size: "s" } %>

    <%= f.govuk_check_boxes_fieldset :states, legend: { text: "Status of application", size: "s" }, small: true do %>
      <%- @view_object.state_filter_options.each do |option| -%>
        <%= f.govuk_check_box :states, option.id, label: { text: option.label }, checked: @view_object.filter_form.states&.include?(option.id) %>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</div>

<div class="govuk-grid-column-two-thirds">
  <% if @view_object.application_forms_records.any? %>
    <ul class="app-search-results">
      <%- @view_object.application_forms_records.each do |application_form| -%>
        <%= render(ApplicationFormSearchResult::Component.new(application_form:, search_params: @view_object.permitted_params)) %>
      <%- end -%>
    </ul>

    <%= govuk_pagination(pagy: @view_object.application_forms_pagy) %>
  <% else %>
    <h2 class="govuk-heading-m">
      No applications found. Use the filters on the left to try again or refine your search.
    </h2>
  <% end %>
</div>
