<% content_for :page_title, "Application" %>
<% content_for :back_link_url, assessor_interface_application_forms_path %>

<% application_form = @view_object.application_form %>

<% if FeatureFlags::FeatureFlag.active?(:personas) %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "Testing feature") %>
    <p class="govuk-body">Within this enviroment, you can sign in as the applicant of this application to help with testing.</p>
    <%= govuk_button_to "Sign in as applicant".html_safe, teacher_sign_in_persona_path(application_form.teacher) %>
  <% end %>
<% end %>

<%= render "linked_application_forms",
           teacher: application_form.teacher,
           email_used_as_reference_in_this_application_form: @view_object.email_used_as_reference_in_this_application_form?,
           other_application_forms_where_email_used_as_reference: @view_object.other_application_forms_where_email_used_as_reference %>

<% if @view_object.show_suitability_banner? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "This applicant has been flagged for suitability to teach. ") %>

    <p class="govuk-body">Check with the suitability panel before continuing.</p>
  <% end %>
<% end %>

<% if (duplicate_matches = @view_object.duplicate_matches).present? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "Application details match TRS record(s)") %>

    <p class="govuk-body">The surname and date of birth used in this application matches the following records found in the Teaching Record System (TRS):</p>

    <ul class="govuk-list govuk-list--bullet">
      <% duplicate_matches.each do |match| %>
        <li><%= match["first_name"] %> <%= match["last_name"] %>, TRN <%= match["trn"] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= render "shared/assessor_header", title: "Application", application_form: %>

<% if @view_object.assessment.prioritised?  %>
  <div class="govuk-!-margin-bottom-5">
    <%= govuk_tag(text: "Prioritised", colour: "purple") %>
  </div>
<% end %>

<% unless @view_object.application_form.completed_stage? %>
  <div class="govuk-!-margin-bottom-5">
    <% if application_form.on_hold? %>
      <p class="govuk-body">
        <%= govuk_tag(text: "On hold", colour: "red") %>
        <%= govuk_link_to "Remove on hold flag", edit_assessor_interface_application_form_application_hold_path(application_form, application_form.active_application_hold), class: "govuk-!-margin-left-2" %>
      </p>
    <% else %>
      <p class="govuk-body">
        <%= govuk_link_to "Flag application as on hold", new_assessor_interface_application_form_application_hold_path(application_form) %>
      </p>
    <% end %>
  </div>
<% end %>

<%= render(ApplicationFormOverview::Component.new(
  application_form, current_staff:, highlight_email: @view_object.highlight_email?
)) %>

<h2 class="govuk-heading-l govuk-!-margin-top-9">Task list</h2>

<% @view_object.task_list_sections.each do |section| %>
  <% if (items = section[:items]).present? %>
    <h3 class="govuk-heading-m"><%= section[:title] %></h3>

    <%= govuk_task_list(id_prefix: section[:title].parameterize) do |task_list|
      items.each do |item|
        task_list.with_item(title: item[:name], href: item[:link], status: render(StatusTag::Component.new(item[:status])))
      end
    end %>
  <% end %>
<% end %>
