<% content_for :page_title, "Application" %>
<% content_for :back_link_url, assessor_interface_application_forms_path %>

<% application_form = @view_object.application_form %>
<% assessment = @view_object.assessment %>

<%= render "linked_application_forms",
           teacher: application_form.teacher,
           email_used_as_reference_in_this_application_form: @view_object.email_used_as_reference_in_this_application_form?,
           other_application_forms_where_email_used_as_reference: @view_object.other_application_forms_where_email_used_as_reference %>

<% if @view_object.application_form.dqt_match.present? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The application details match a record in DQT") %>

    <p class="govuk-body govuk-!-margin-bottom-1">
      DQT contains a matching record for the name and date of birth of this applicant. <strong class="govuk-!-font-weight-bold">Teacher Reference Number: <%= @view_object.application_form.dqt_match["trn"] %></strong>.
    </p>
  <% end %>
<% end %>

<%= render "shared/assessor_header", title: "Application", application_form: %>

<%= render(ApplicationFormOverview::Component.new(
  application_form, current_staff:, highlight_email: @view_object.highlight_email?
)) %>

<h2 class="govuk-heading-l govuk-!-margin-top-9">Assessment</h2>

<%= render(TaskList::Component.new(@view_object.task_list_sections)) %>

<% if (management_tasks = @view_object.management_tasks).present? %>
  <%= govuk_warning_text do %>
    <h2 class="govuk-heading-s">Management tasks</h2>
    <ul class="govuk-list govuk-list--bullet">
      <% management_tasks.each do |task| %>
        <li><%= govuk_link_to task[:title], task[:path] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
