<% content_for :page_title, "Application" %>
<% content_for :back_link_url, assessor_interface_application_forms_path %>

<% if @view_object.email_used_as_reference_in_this_application_form? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The highlighted information appears elsewhere in this application") %>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong class="govuk-!-font-weight-bold"><%= @view_object.application_form.teacher.email %></strong> is used as a <strong class="govuk-!-font-weight-bold">reference</strong> for this application, but matches the applicant’s own email address.
    </p>
  <% end %>
<% end %>

<% if (other_application_forms_where_email_used_as_reference = @view_object.other_application_forms_where_email_used_as_reference).present? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The highlighted information also appears in other applications") %>

    <p class="govuk-body">Check the applications listed below to review the matching information.</p>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <strong class="govuk-!-font-weight-bold"><%= @view_object.application_form.teacher.email %></strong> appears as a <strong class="govuk-!-font-weight-bold">reference</strong> in these applications:
    </p>

    <ul class="govuk-list">
      <% other_application_forms_where_email_used_as_reference.each do |application_form| %>
        <li>
          <%= link_to "Check application #{application_form.reference} (opens in a new window)",
                      assessor_interface_application_form_path(application_form),
                      target: :_blank, class: "govuk-notification-banner__link" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @view_object.application_form.dqt_match.present? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "The application details match a record in DQT") %>

    <p class="govuk-body govuk-!-margin-bottom-1">
      DQT contains a matching record for the name and date of birth of this applicant. <strong class="govuk-!-font-weight-bold">Teacher Reference Number: <%= @view_object.application_form.dqt_match["trn"] %>.
    </p>
  <% end %>
<% end %>

<%= render "shared/assessor_header", title: "Application", application_form: @view_object.application_form %>

<%= render(ApplicationFormOverview::Component.new(@view_object.application_form, highlight_email: @view_object.highlight_email?)) %>

<h2 class="govuk-heading-l govuk-!-margin-top-9">Assessment</h2>

<ol class="app-task-list">
  <% @view_object.assessment_tasks.each_with_index do |(section, items), index| %>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number"><%= index + 1 %>. </span>
        <%= t(".assessment_tasks.sections.#{section}") %>
      </h2>

      <ul class="app-task-list__items">
        <% items.each_with_index do |item, index| %>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name" aria-describedby="<%= item %>-<%= index %>-status">
              <% if (href = @view_object.assessment_task_path(section, item, index)) %>
                <%= link_to t(".assessment_tasks.items.#{item}"), href %>
              <% else %>
                <%= t(".assessment_tasks.items.#{item}") %>
              <% end %>
            </span>

            <%= render(StatusTag::Component.new(
              key: "#{item}-#{index}",
              status: @view_object.assessment_task_status(section, item, index),
              class_context: "app-task-list",
            )) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
