<% content_for :page_title, "Application" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@view_object.application_form) %>

<% if @view_object.assessment.review? %>
  <%= govuk_panel(title_text: "Application sent for review") %>
<% elsif @view_object.application_form.waiting_on? %>
  <%= govuk_panel(title_text: "Reference requests sent successfully") %>
<% else %>
  <%= govuk_panel(title_text: "QTS application #{@view_object.application_form.reference} has been #{@view_object.status.downcase}") %>
<% end %>

<% unless @view_object.application_form.waiting_on? %>
  <p class="govuk-body">The status of this application has been changed to ’<%= @view_object.status %>‘.</p>
<% end %>

<% if @view_object.assessment.review? %>
  <p class="govuk-body">An assessor will now review the application and make a decision on awarding or declining QTS.</p>
<% elsif @view_object.application_form.declined? %>
  <p class="govuk-body">The application will be deleted after 90 days unless the applicant chooses to appeal.</p>
<% elsif @view_object.application_form.awarded_pending_checks? %>
  <p class="govuk-body">This status will appear while the award is reconciled with the information in the Database of Qualified Teachers (DQT).</p>
  <p class="govuk-body">Once these checks are complete, the status will change to ‘Awarded’ and the applicant will receive the email telling them they’ve been awarded QTS.</p>
<% elsif @view_object.application_form.waiting_on? %>
  <p class="govuk-body">You’ve successfully sent requests to each of the references that the applicant provided.</p>
  <p class="govuk-body govuk-!-font-weight-bold">The applicant will also receive an email to tell them you’ve contacted their references.</p>
  <p class="govuk-body">When the references respond, you’ll see the status of the application change to ‘Received’.</p>
<% end %>

<p class="govuk-body">You can now return to the application itself, or go back to your list of applications.</p>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Back to application list", assessor_interface_application_forms_path %>
  <%= govuk_button_link_to "See application overview", assessor_interface_application_form_path(@view_object.application_form), secondary: true %>
</div>
