<% content_for :page_title, title_with_error_prefix(t("application_form.tasks.sections.about_you"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: [:alternative_name, :teacher_interface, :application_form, :personal_information] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= t("application_form.tasks.sections.about_you") %></span>

  <%= f.govuk_radio_buttons_fieldset :has_alternative_name, legend: { size: "l", tag: "h1", text: @view_object.alternative_name_legend }, hint: { text: @view_object.alternative_name_hint } do %>
    <%= f.govuk_radio_button :has_alternative_name, :true, link_errors: true do %>
      <%= f.govuk_text_field :alternative_given_names %>
      <%= f.govuk_text_field :alternative_family_name %>
    <% end %>

    <%= f.govuk_radio_button :has_alternative_name, :false %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
