<% content_for :page_title, title_with_error_prefix(t("application_form.tasks.sections.about_you"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: [:name_and_date_of_birth, :teacher_interface, :application_form, :personal_information] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= t("application_form.tasks.sections.about_you") %></span>
  <h1 class="govuk-heading-l">Personal information</h1>

  <%= f.govuk_text_field :given_names,
                         label: { text: "Given names", size: "m" },
                         hint: { text: @view_object.given_names_hint } %>

  <%= f.govuk_text_field :family_name,
                         label: { text: "Surname", size: "m" },
                         hint: { text: @view_object.family_name_hint } %>

  <%= f.govuk_date_field :date_of_birth,
                         date_of_birth: true,
                         legend: { text: "Date of birth" },
                         hint: { text: "For example, 27 3 1980" } %>

  <%= render "national_insurance_number_field", form: @form %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
