<% content_for :page_title, "#{"Error: " if @name_and_date_of_birth_form.errors.any?}About you" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<span class="govuk-caption-l"><%= t("application_form.tasks.sections.about_you") %></span>
<h1 class="govuk-heading-l">Personal information</h1>

<%= form_with model: @form, url: [:name_and_date_of_birth, :teacher_interface, :application_form, :personal_information] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_field :given_names,
                         label: { text: "Given names", size: "m" },
                         hint: { text: "Enter your full name apart from your family name" } %>

  <%= f.govuk_text_field :family_name,
                         label: { text: "Family name", size: "m" },
                         hint: { text: "Enter just your family name" } %>

  <%= f.govuk_date_field :date_of_birth,
                         date_of_birth: true,
                         legend: { text: "Date of birth" },
                         hint: { text: "For example, 27 3 1980" } %>

  <%= govuk_details(summary_text: "Why do we ask for your date of birth?") do %>
    <p>
      We ask for your date of birth because not all forms of identification include it.
      It also helps with security in case we need to discuss your application with you.
    </p>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
