<%= f.govuk_fieldset legend: { text: "What age range is the applicant qualified to teach?" } do %>
  <p class="govuk-body">You can edit the age range below if:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>based on evidence, you do not agree with the age range the applicant has submitted</li>
    <li>the 'To' age is greater than 19 and will not be accepted by TRS</li>
  </ul>

  <%= f.govuk_number_field :age_range_min, width: 3 %>
  <%= f.govuk_number_field :age_range_max, width: 3 %>
  <%= f.govuk_text_area :age_range_note, label: { text: t("helpers.label.assessor_interface_assessment_section_form.age_range_note").html_safe } %>
<% end %>

<h2 class="govuk-heading-m">Which subjects can the applicant teach in England?</h2>
<p class="govuk-hint">You can enter up to three</p>
<p class="govuk-body">Based on the evidence the applicant has provided, you can either copy the subjects they entered if you agree, or edit them.</p>

<%= render DfE::Autocomplete::View.new(
  f,
  attribute_name: :subject_1,
  form_field: f.govuk_select(
    :subject_1,
    options_for_select(
      dfe_autocomplete_options(Subject.all),
      f.object.send(:subject_1),
    )
  )
) %>

<%= render DfE::Autocomplete::View.new(
  f,
  attribute_name: :subject_2,
  form_field: f.govuk_select(
    :subject_2,
    options_for_select(
      dfe_autocomplete_options(Subject.all),
      f.object.send(:subject_2),
    )
  )
) %>

<%= render DfE::Autocomplete::View.new(
  f,
  attribute_name: :subject_3,
  form_field: f.govuk_select(
    :subject_3,
    options_for_select(
      dfe_autocomplete_options(Subject.all),
      f.object.send(:subject_3),
    )
  )
) %>

<%= f.govuk_text_area :subjects_note, label: { text: t("helpers.label.assessor_interface_assessment_section_form.subjects_note").html_safe } %>
