<h1 class="govuk-heading-xl">You’re eligible to apply for qualified teacher status (QTS) in England</h1>

<p class="govuk-body">Based on the information you’ve given us you can apply for QTS.</p>

<h2 class="govuk-heading-m">Preparing to apply</h2>

<p class="govuk-body">
  If you decide to apply, you'll need to provide a range of evidence. We'll ask you to upload some scans, photos, or original files.
</p>

<%= govuk_inset_text do %>
  <% if FeatureFlag.active?(:teacher_applications) && region && region.application_form_enabled %>
    You may want to spend some time gathering all the documents you need before you begin your application. Once you start your application, we’ll sign you out if you’re inactive for 60 minutes.
  <% else %>
    You may want to spend some time gathering all the documents you need before you begin your application.
  <% end %>
<% end %>

<% if region && !region.legacy %>
  <h2 class="govuk-heading-m">What we’ll ask for</h2>
  <p class="govuk-body">You’ll need to provide the following evidence when you apply.</p>

  <%= govuk_accordion do |accordion| %>

    <% accordion.section(heading_text: "1. Proof of identity") do %>
      <%= render "shared/eligible_region_content_components/proof_of_identity" %>
    <% end %>

    <% accordion.section(heading_text: "2. Proof of qualifications") do %>
      <%= render "shared/eligible_region_content_components/proof_of_qualifications", region: region %>
    <% end %>

    <% accordion.section(heading_text: "3. Proof that you’re recognised as a teacher") do %>
    <%= render "shared/eligible_region_content_components/professional_recognition", region: region %>
    <% end %>

    <% accordion.section(heading_text: "4. Certified translations") do %>
      <% render "shared/eligible_region_content_components/certified_translation", region: region%>
    <% end %>
  <% end %>
<% end %>
