<h1 class="govuk-heading-xl">You’re eligible to apply for qualified teacher status (QTS) in England</h1>

<p class="govuk-body">Based on the information you’ve given us you can apply for QTS.</p>

<h2 class="govuk-heading-m">Preparing to apply</h2>

<p class="govuk-body">
  If you decide to apply, you’ll need to provide a range of evidence. We’ll ask you to upload some scans, photos, or original files.
</p>

<%= govuk_inset_text do %>
  <p class="govuk-body">You’ll need to complete your application within 6 months of starting it. You can start straight away, or you can spend some time gathering the documents you need first.</p>

  <% if FeatureFlags::FeatureFlag.active?(:teacher_applications) %>
    <p class="govuk-body">Once you begin, we’ll sign you out if you’re inactive for 60 minutes.</p>
  <% end %>

<% end %>

<h2 class="govuk-heading-m">Application timelines</h2>

<%= render "shared/assessment_process_timeline" %>

<h2 class="govuk-heading-m">What we’ll ask for</h2>
<p class="govuk-body">You’ll need to provide the following evidence when you apply.</p>

<%= govuk_accordion do |accordion| %>
  <% accordion.with_section(heading_text: "Proof of identity") do %>
    <%= render "shared/eligible_region_content_components/proof_of_identity" %>
  <% end %>

  <% accordion.with_section(heading_text: "Proof of qualifications") do %>
    <%= render "shared/eligible_region_content_components/proof_of_qualifications", region: %>
  <% end %>

  <% accordion.with_section(heading_text: "Proof of English language ability") do %>
    <%= render "shared/eligible_region_content_components/english_language", region: %>
  <% end %>

  <% unless region.status_check_none? && region.sanction_check_none? %>
    <% accordion.with_section(heading_text: "Proof that you’re recognised as a teacher") do %>
      <%= render "shared/eligible_region_content_components/proof_of_recognition",
                 region:,
                 teaching_authority_provides_written_statement: region.teaching_authority_provides_written_statement %>
    <% end %>
  <% end %>

  <% unless region.application_form_skip_work_history %>
    <% accordion.with_section(heading_text: "Proof of work history") do %>
      <%= render "shared/eligible_region_content_components/proof_of_work_history", region:, eligibility_check: %>
    <% end %>
  <% end %>

  <% accordion.with_section(heading_text: "Certified translations") do %>
    <% render "shared/eligible_region_content_components/certified_translation", region: %>
  <% end %>
<% end %>
