<% content_for :page_title, title_with_error_prefix(t(".title"), error: @form.errors.any?) %>
<% content_for :back_link_url, assessor_interface_application_form_path(@view_object.application_form) %>

<h1 class="govuk-heading-xl"><%= t(".title") %></h1>

<% @view_object.review_items.each do |item| %>
  <h2 class="govuk-heading-m"><%= item.fetch(:heading) %></h2>
  <%= govuk_inset_text(text: item.fetch(:description)) %>
  <%= render(CheckYourAnswersSummary::Component.new(**item.fetch(:check_your_answers))) %>
  <% if (item[:work_history_summary_list_rows]).present? %>
    <%= govuk_details(summary_text: "Review previous referee details?") do %>
      <%= govuk_summary_list(rows: item[:work_history_summary_list_rows]) %>
    <% end %>
  <% end %>
<% end %>

<% if policy([:assessor_interface, @view_object.further_information_request]).update? && @view_object.can_update? %>
  <%= form_with model: @form, url: [:assessor_interface, @view_object.application_form, @view_object.assessment, @view_object.further_information_request], method: :put do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_radio_buttons_fieldset :passed, legend: { size: "s", text: t(".passed") } do %>
      <%= f.govuk_radio_button :passed, :true, link_errors: true %>
      <%= f.govuk_radio_button :passed, :false do %>
        <%= f.govuk_text_area :note, label: { text: t(".failure_assessor_note").html_safe } %>
      <% end %>
    <% end %>

    <%= f.govuk_submit do %>
      <%= govuk_link_to "Cancel", [:assessor_interface, @view_object.application_form] %>
    <% end %>
  <% end %>
<% end %>
