<% content_for :page_title, title_with_error_prefix(t(".title"), error: @form.errors.any?) %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= t(".title") %></h1>

<% @view_object.review_items.each do |item| %>
  <%= govuk_summary_card(title: item.fetch(:heading), html_attributes: { id: item.fetch(:id) }) do |card| %>
    <h3 class="govuk-heading-s">Applicant's latest response</h3>
    <p class="govuk-hint"><%= item.fetch(:recieved_date) %></p>

    <% if item[:applicant_text_response] %>
      <p class="govuk-body"><%= item.fetch(:applicant_text_response) %></p>
    <% end %>

    <% if item[:applicant_contact_response] %>
      <%= govuk_inset_text do %>
        <%= govuk_list item.fetch(:applicant_contact_response) %>
      <% end %>
    <% end %>

    <% if item[:applicant_upload_response] %>
      <%= document_link_to(item.fetch(:applicant_upload_response)) %>
    <% end %>

    <h3 class="govuk-heading-s">Further information request</h3>
    <p class="govuk-hint"><%= item.fetch(:requested_date) %></p>
    <p class="govuk-body"><%= item.fetch(:assessor_request) %></p>
  <% end %>
<% end %>

<% if policy([:assessor_interface, @view_object.further_information_request]).update? && @view_object.can_update? %>
  <%= form_with model: @form, url: [:assessor_interface, @view_object.application_form, @view_object.assessment, @view_object.further_information_request], method: :put do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_radio_buttons_fieldset :passed, legend: { size: "s", text: t(".passed") } do %>
      <%= f.govuk_radio_button :passed, :true, link_errors: true %>
      <%= f.govuk_radio_button :passed, :false do %>
        <%= f.govuk_text_area :note, label: { text: t(".failure_assessor_note").html_safe } %>
      <% end %>
    <% end %>

    <%= render "shared/assessor_interface/continue_cancel_button", f: %>
  <% end %>
<% end %>
