<% content_for :page_title, "Check the further information you’re asking the applicant for" %>
<% content_for :back_link_url, edit_assessor_interface_application_form_assessment_path(@application_form, @assessment) %>

<h1 class="govuk-heading-xl">Check the further information requests</h1>

<% @view_object.grouped_review_items_by_assessment_section.each do |assessment_section_group| %>
  <section class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l"><%= assessment_section_group[:heading] %></h2>

    <% assessment_section_group[:items].each do |item| %>
      <div class="app-further-information-request-item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-3"><%= item[:heading] %></h3>

        <%= govuk_inset_text(classes: "govuk-!-margin-top-0") do %>
          <%= simple_format item[:feedback] %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>

<%= form_with model: [:assessor_interface, @application_form, @assessment, @view_object.further_information_request] do |f| %>
  <% render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
