<% content_for :page_title, title_with_error_prefix(t(".#{@exemption_field}.heading"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: exemption_teacher_interface_application_form_english_language_path(@exemption_field) do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= t("application_form.tasks.sections.english_language") %></span>
  <h1 class="govuk-heading-l"><%= t(".#{@exemption_field}.heading") %></h1>

  <p class="govuk-body"><%= t(".#{@exemption_field}.description") %></p>
  <p class="govuk-body"><%= t(".#{@exemption_field}.evidence") %></p>

  <%= render "shared/english_language_exempt_countries" %>

  <%= f.govuk_collection_radio_buttons :exempt,
                                       [OpenStruct.new(value: :true), OpenStruct.new(value: :false)],
                                       :value,
                                       legend: nil %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
