<% content_for :page_title, title_with_error_prefix("#{t(".heading")} – #{@provider.name}", error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: %i[provider_reference teacher_interface application_form english_language] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= t("application_form.tasks.sections.english_language") %></span>
  <h1 class="govuk-heading-l"><%= t(".heading") %> – <%= @provider.name %></h1>
  <p class="govuk-body">For <%= @provider.name %>, B2 level requires <%= @provider.b2_level_requirement_prefix %> <%= @provider.b2_level_requirement %> in all 4 disciplines (reading, writing, listening and speaking).</p>

  <% if @provider.other_information.present? %>
    <p class="govuk-body"><%= @provider.other_information.html_safe %></p>
  <% end %>

  <%= f.govuk_text_field :reference,
                         label: { text: "Enter your #{@provider.reference_name}", size: "m" },
                         hint: { text: @provider.reference_hint } %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
