<% content_for :page_title, title_with_error_prefix(t("helpers.legend.teacher_interface_english_language_proof_method_form.proof_method"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: %i[proof_method teacher_interface application_form english_language] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= t("application_form.tasks.sections.english_language") %></span>

  <%= f.govuk_collection_radio_buttons :proof_method,
                                       @form.proof_methods,
                                       :value,
                                       legend: { tag: "h1", size: "l" },
                                       hint: { text: "There are #{@form.proof_methods.count} ways you can do this." } %>

  <%= render "shared/english_language_approved_providers", reduced_evidence_accepted: @application_form.reduced_evidence_accepted %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
