<h1 class="govuk-heading-xl">
  Check you’re eligible to apply for qualified teacher status (QTS)
</h1>

<h2 class="govuk-heading-m">About QTS</h2>

<p class="govuk-body">QTS is a legal requirement to teach in many schools in England. It is a status that most schools prefer their teachers to have. <%= govuk_link_to "Find out more about QTS", "https://www.gov.uk/guidance/qualified-teacher-status-qts" %>.</p>

<p class="govuk-body">It does not guarantee you a job or give you the right to work in England. You’ll still need to apply for a teaching job separately and have the correct visa or status.</p>

<%= render "shared/employment_warning" %>

<h2 class="govuk-heading-m">How to apply for QTS</h2>

<ol class="govuk-list govuk-list--number">
  <li>Use this service to check if you’re eligible to apply for QTS.</li>
  <li>If you’re eligible, you’ll be able to submit an application.</li>
  <li>Each application will be assessed by a trained assessor.</li>
  <li>They will check all the information submitted.</li>
  <% if FeatureFlags::FeatureFlag.active?(:prioritisation) %>
    <li>If you have <%= govuk_link_to "eligible work experience in England", "https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers--2" %>, your application will be prioritised.</li>
  <% end %>
  <li>Some information may need verification by third parties.</li>
  <li>Once the assessment and all verifications have been completed, you’ll be told if you have been awarded QTS.</li>
</ol>

<%= render "shared/assessment_process_timeline" %>

<p class="govuk-body">The DfE does not charge for assessing your application or awarding QTS.</p>

<h2 class="govuk-heading-m">Who is eligible</h2>

<p class="govuk-body">To apply, you must be a qualified teacher who trained to teach outside of England in one of the <%= govuk_link_to "eligible countries", "https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers--2#changes-to-eligibility-for-qts" %>. You must also meet all the following assessment criteria.</p>

<p class="govuk-body"><strong>You must have:</strong></p>

<ul class="govuk-list govuk-list--bullet">
  <% if FeatureFlags::FeatureFlag.active?(:use_passport_for_identity_verification) %>
    <li>a valid passport that has not expired</li>
  <% end %>
  <li>an undergraduate degree equal to a UK bachelor’s degree</li>
  <li>recognition as a professional teacher in the country where you completed teacher training at <%= govuk_link_to "level 6", "https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels#:~:text=Level%206%20qualifications%20are%3A,graduate%20certificate" %> or equivalent, with no conditions or restrictions on your teaching practice​</li>
  <li>completed all mandatory induction processes to gain full teacher registration in the country where you qualified</li>
  <li>qualifications to show you can teach children aged anywhere between 5 and 16 years old</li>
  <li>at least one school year (9 months) of experience employed as a teacher in any country, but must be from after you first became qualified to teach</li>
</ul>

<p class="govuk-body">Depending on the country that you trained to teach in, you may be required to have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>qualifications to show you can teach children aged anywhere between 11 and 16 years old</li>
  <li>a teaching specialism in one of the following subjects: maths, science, biology, chemistry, physics, French, German, Italian, Japanese, Latin, Mandarin, Russian, or Spanish</li>
</ul>

<p class="govuk-body">If you trained in England or Wales, or have not yet qualified, learn more about <%= govuk_link_to "other routes to getting QTS", "https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk#routes-to-qts" %>.</p>

<%= govuk_start_button(text: "Check you’re eligible", href: eligibility_interface_start_path, as_button: true) %>

<% if FeatureFlags::FeatureFlag.active?(:teacher_applications) %>
  <p class="govuk-body">
    If you’ve already started your application using this service, you can
    <%= govuk_link_to "sign in to continue working on it", :create_or_new_teacher_session %>.
  </p>
<% end %>
