<%
  legend = "Have you worked in a valid educational setting in England during the last 12 months?"
  hint = "
    Your application may be prioritised #{ 'and subject restrictions may be removed ' if @form.eligibility_check.qualified_for_subject_required? }if you have gained valid educational work experience in England for any length of time in the last 12 months.​
    <br /><br />
    The valid roles and settings we'll accept are:
    <ul class='govuk-list govuk-list--bullet govuk-hint'>
      <li>a teacher, supply teacher, cover supervisor or teaching assistant in a #{govuk_link_to('state school', 'https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments', new_tab: true)}</li>
      <li>a teacher or supply teacher in an #{govuk_link_to('independent school', 'https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments', new_tab: true)}</li>
      <li>a teacher, tutor or lecturer in an #{govuk_link_to('Ofsted registered Further Education and Skills setting', 'https://reports.ofsted.gov.uk/search?latest_report_date_end=&latest_report_date_start=&level_1_types=1&level_2_types=3&location=&q=&radius=&status%5B%5D=1&status%5B%5D=4', new_tab: true)}, for example, a college</li>
      <li>a lecturer or tutor in an #{govuk_link_to('English Higher Education provider registered with the Office for Students', 'https://www.officeforstudents.org.uk/for-providers/regulatory-resources/the-ofs-register/?#/', new_tab: true)}, for example, a university</li>
      <li>a teacher in an #{govuk_link_to('Ofsted registered Early Years setting', 'https://reports.ofsted.gov.uk/search?q=&location=&radius=&level_1_types=2&latest_report_date_start=&latest_report_date_end=&status%5B%5D=1&status%5B%5D=4', new_tab: true)}, for example, a nursery</li>
    </ul>
  ".html_safe
%>

<% content_for :page_title, title_with_error_prefix(legend, error: @form.errors.any?) %>
<% content_for :back_link_url, eligibility_interface_misconduct_path %>

<%= form_with model: @form, url: [:eligibility_interface, :work_experience_in_england] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_radio_buttons(
    :eligible,
    [
      OpenStruct.new(label: 'Yes, I have valid experience in England', value: true),
      OpenStruct.new(label: 'No', value: false)
    ],
    :value,
    :label,
    legend: { size: 'l', tag: 'h1', text: legend },
    hint: { text: hint }
  ) %>

  <%= govuk_details(summary_text: "Definitions of these roles and settings") do %>
    <span class="govuk-heading-s">State school</span>
    <p>State schools in England are government-funded and provide free, compulsory education to children aged 5 to 18. They include academies, free schools, community schools, grammar schools, foundation schools, voluntary-aided and voluntary-controlled schools.</p>

    <span class="govuk-heading-s">Independent school</span>
    <p>An independent school in England is a school that is not administered or funded by the government. Instead, they charge fees to attend. They are also known as private schools.</p>

    <span class="govuk-heading-s">Tutor or lecturer</span>
    <p>A tutor or lecturer is someone who teaches or supports students in a college or university, including delivering lessons, running tutorials, or providing academic support as part of a course or qualification.</p>
  <% end %>

  <%= govuk_warning_text(text: "You will need to provide references to confirm your work experience in England before your application is prioritised. If we cannot confirm your experience, your application will not be prioritised.") %>

  <%= f.govuk_submit %>
<% end %>
