<div class="govuk-summary-card" id="<%= id %>">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= title %></h2>

    <% if delete_link_to.present? %>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <%= govuk_link_to(delete_link_to) do %>
            Delete <span class="govuk-visually-hidden"><%= title.downcase %></span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <% rows.each do |row| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"><%= row.fetch(:title) %></dt>
          <dd class="govuk-summary-list__value"><%= row.fetch(:value) %></dd>

          <% if (href = row[:href]).present? %>
            <dd class="govuk-summary-list__actions">
              <%= govuk_link_to(href) do %>
                Change <span class="govuk-visually-hidden"><%= row.fetch(:title).downcase %></span>
              <% end %>
            </dd>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>
</div>
