<% content_for :page_title, 'You’re eligible' %>
<% content_for :back_link_url, back_link_url %>

<%= render "shared/eligible_region_content", region: @region, eligibility_check: @eligibility_check %>

<% unless @eligibility_check.created_under_new_regulations? %>
  <%= render "shared/apply_by_february_2023" %>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:teacher_applications) && @region && @region.application_form_enabled %>
  <p class="govuk-body">Use our new application form to apply for QTS.</p>
  <%= govuk_start_button(text: "Apply for QTS", href: new_teacher_registration_path) %>
<% else %>
  <p class="govuk-body">You’ll make your application on the Teaching Regulation Agency website.</p>
  <%= govuk_start_button(text: "Apply for QTS", href: @mutual_recognition_url) %>
<% end %>

<%= render "shared/help_us_to_improve_this_service" %>
