<% content_for :page_title, "You’re not eligible" %>
<% content_for :back_link_url, back_link_url %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You’re not eligible to apply for qualified teacher status (QTS) in England
    </h1>

    <% if @eligibility_check.ineligible_reasons.include?(:country) %>
      <p class="govuk-body">Teachers applying from <%= @country_name %> are not currently eligible to use this service. However, you can <%= govuk_link_to "apply for QTS using alternative routes", "https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk#qts-exemption-for-teachers-from-outside-the-uk" %>.</p>
    <% else %>
      <p class="govuk-body">This is because:</p>

      <ul class="govuk-list govuk-list--bullet">
        <% @eligibility_check.ineligible_reasons.each do |reason| %>
          <li><%= I18n.t("activemodel.attributes.eligibility_check.ineligible_reason.#{reason}", country_name: @country_name) %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @eligibility_check.ineligible_reasons.include?(:misconduct) %>
      <p class="govuk-body">You can also <%= govuk_link_to "learn more about teaching in England", "https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas" %>.</p>
    <% end %>

    <% if @eligibility_check.ineligible_reasons.include?(:country) %>
      <p class="govuk-body">The Department for Education is currently reviewing who can apply for qualified teacher status. If you’d like to help us with our research, or if you have any questions contact the help team at:</p>
    <% else %>
      <p class="govuk-body">If you have any questions about QTS contact the help team at:</p>
    <% end %>

    <p class="govuk-body"><a class="govuk-link" href="mailto:<%= I18n.t("service.email") %>"><%= I18n.t("service.email") %></a></p>
  </div>
</div>
