<% content_for :page_title, "#{"Error: " if @form.errors.any?}Preliminary check" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@form.application_form) %>

<%= form_with model: @form, url: [:assessor_interface, @form.application_form, @form.assessment, :preliminary_check], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Preliminary check</h1>
  <p class="govuk-body">Applications from this country require a preliminary check of the information that the applicant has provided.</p>

  <% teaching_authority_other = @form.application_form.region.teaching_authority_other.presence ||
                                  @form.application_form.region.country.teaching_authority_other %>

  <% if teaching_authority_other.present? %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <%= govuk_details(summary_text: "Country-specific information shown to applicant") do %>
      <p class="govuk-body"><%= teaching_authority_other.presence %></p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <% end %>

  <p class="govuk-body">Once you’ve carried out this check, you should either recommend that the application moves to a full assessment, or decline it.</p>
  <p class="govuk-body">If you choose to decline it, you should do this in the appropriate section of ‘Initial assessment’ by selecting a decline reason.</p>
  <div class="govuk-inset-text">
    For example, qualifications in a subject we cannot accept would mean selecting a decline reason in the ‘Check qualifications’ section.
  </div>

  <%= f.govuk_collection_radio_buttons :preliminary_check_complete,
                                       [OpenStruct.new(value: :true), OpenStruct.new(value: :false)],
                                       :value,
                                       legend: { size: "s" } %>

  <%= f.govuk_submit prevent_double_click: false do %>
    <%= govuk_link_to "Cancel", [:assessor_interface, @form.application_form] %>
  <% end %>
<% end %>
