<%= govuk_details(summary_text: "Information about this approved provider") do %>
  <% if provider %>
    <p class="govuk-body">
      For <%= provider.name %>, B2 level requires <%= provider.b2_level_requirement_prefix %> <%= provider.b2_level_requirement %> in all 4 disciplines (reading, writing, listening and speaking).
    </p>

    <% if provider.check_url.present? %>
      <p class="govuk-body">Check the applicant’s <%= provider.reference_name %> at:</p>
      <p class="govuk-body"><%= govuk_link_to provider.check_url, provider.check_url, new_tab: true %></p>
    <% end %>
  <% else %>
    <p class="govuk-body">
      Applicants from <%= CountryName.from_region(region, with_definite_article: true) %> can provide evidence from a wider range of approved providers.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Approved providers", "https://find-a-qualification.services.ofqual.gov.uk/qualifications?availability=Available%20to%20learners&qualificationTypes=English%20For%20Speakers%20of%20Other%20Languages&qualificationLevels=Level%201,Level%201%2FLevel%202,Level%202&nationalAvailability=International", new_tab: true %>
    </p>
  <% end %>
<% end %>
