<%= govuk_details(summary_text: "Information about this approved provider") do %>
  <% if provider %>
    <p class="govuk-body">
      For <%= provider.name %>, B2 level requires <%= provider.b2_level_requirement_prefix %> <%= provider.b2_level_requirement %> in all 4 disciplines (reading, writing, listening and speaking).
    </p>

    <% if provider.check_url.present? %>
      <p class="govuk-body">Check the applicant’s <%= provider.reference_name %> at:</p>
      <p class="govuk-body"><%= govuk_link_to provider.check_url, provider.check_url, new_tab: true %></p>
    <% end %>
  <% else %>
    <p class="govuk-body">
      Applicants from <%= CountryName.from_region(region, with_definite_article: true) %> can provide tests from a wider range of approved providers.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Approved providers", "https://register.ofqual.gov.uk/Search?category=Qualifications&query=ESOl", new_tab: true %>
    </p>
  <% end %>
<% end %>
