<% if application_form.needs_registration_number %>
  <%= render "shared/application_form/registration_number_summary", application_form:, changeable: false %>
<% end %>

<% if application_form.needs_written_statement %>
  <%= render "shared/application_form/written_statement_summary", application_form:, changeable: false %>
<% end %>

<% if (professional_standing_request = assessment.professional_standing_request).present? %>
  <%= render(CheckYourAnswersSummary::Component.new(
    id: "professional-standing-request",
    model: professional_standing_request,
    title: "Third-party professional standing",
    fields: {
      note: {
        title: "Written statement",
        value: "<p class=\"govuk-body\">The competent authority has sent the letter of professional standing directly to DfE. Follow the instructions below to locate it.</p>#{simple_format(professional_standing_request.location_note)}".html_safe,
      },
    },
  )) %>
<% end %>

<%= govuk_accordion do |accordion| %>
  <% if (online_checker_url = region.teaching_authority_online_checker_url).present? %>
    <% accordion.with_section(heading_text: "Online checker") do %>
      <p class="govuk-body">This authority has an online checker for validating the supplied registration number:</p>
      <p class="govuk-body"><%= govuk_link_to online_checker_url, online_checker_url, new_tab: true %></p>
    <% end %>
  <% end %>

  <% accordion.with_section(heading_text: "Competent authority information shown to applicant") do %>
    <%= render "shared/eligible_region_content_components/proof_of_recognition",
               region:,
               teaching_authority_provides_written_statement: application_form.teaching_authority_provides_written_statement %>
  <% end %>
<% end %>
