<% if application_form.created_under_new_regulations? %>
  <%= render "shared/application_form/work_history_summary",
             work_histories: application_form.work_histories.ordered,
             highlighted_contact_emails: highlighted_work_history_contact_emails %>
<% else %>
  <%= render "shared/application_form/work_history_old_regs_summary",
             application_form:,
             show_has_work_history: true,
             work_histories: application_form.work_histories.ordered,
             highlighted_contact_emails: highlighted_work_history_contact_emails,
             changeable: false %>
<% end %>

<% if application_form.created_under_new_regulations? %>
  <% years, months = WorkHistoryDuration.for_application_form(application_form).count_years_and_months %>

  <h2 class="govuk-heading-m">
    <% if years > 0 %>
      This applicant has provided <%= pluralize(years, "year") %> and <%= pluralize(months, "month") %> of work experience in total.
    <% else %>
      This applicant has provided <%= pluralize(months, "month") %> of work experience in total.
    <% end %>
  </h2>
<% end %>
