<%= form_with model: form, url: form.work_history.new_record? ? %i[teacher_interface application_form work_histories] : [:school, :teacher_interface, :application_form, form.work_history], method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.work_history") %></span>

  <h1 class="govuk-heading-l">
    <%= t("application_form.work_history.school.heading.#{form.work_history.locale_key}") %>
  </h1>

  <% if form.work_history.new_record? %>
    <p class="govuk-body">Teaching work experience can be gained in any country but must meet all of the following requirements.</p>
    <p class="govuk-body">You must be or have been:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>teaching in the role after becoming qualified as a teacher</li>
      <li>employed in a school that delivers mandatory education</li>
      <li>responsible for teaching children aged between 5 and 16 years</li>
      <li>unsupervised in the teaching role</li>
      <li>solely responsible for planning, preparing, and delivering lessons to at least 4 students at a time</li>
      <li>solely responsible for assessing and reporting on the progress of those students</li>
    </ul>

    <% if form.work_history.application_form.includes_prioritisation_features %>
      <p class="govuk-body">
        Only include your roles as a teacher that meet the above requirements here. We’ll ask about other educational work experience gained in England later, for example, as a cover supervisor, teaching assistant, lecturer or tutor.
      </p>
    <% end %>

    <%= govuk_warning_text(text: "Any teaching work experience gained before you were qualified as a teacher will not be considered.") %>

    <% unless form.work_history.application_form.reduced_evidence_accepted %>
      <p class="govuk-body">You’ll need to provide references for each role so we can verify your teaching work history.</p>
    <% end %>

    <%= f.govuk_check_boxes_fieldset :meets_all_requirements, legend: { text: "Does this role meet the above requirements?" }, multiple: false do %>
      <%= f.govuk_check_box :meets_all_requirements, 1, 0, multiple: false, link_errors: true, label: {
        text: "I confirm that the role I’m about to add meets all the above requirements.", size: "s"
      } %>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-3">
      <%= govuk_link_to "I do not have any roles that meet all of these requirements.", requirements_unmet_teacher_interface_application_form_work_histories_path %>
    </p>
  <% end %>

  <%= f.govuk_fieldset legend: { text: "Where was the role?" } do %>
    <%= f.govuk_text_field :school_name %>

    <%= f.govuk_text_field :address_line1 %>

    <%= f.govuk_text_field :address_line2 %>

    <%= f.govuk_text_field :city %>

    <%= f.govuk_select :country_location,
                       options_for_select(locations, form.country_location),
                       options: { include_blank: true } %>

    <%= f.govuk_text_field :postcode %>

    <%= f.govuk_text_field :school_website %>
  <% end %>

  <%= f.govuk_text_field :job, label: { size: "m" } %>

  <%= f.govuk_text_field :hours_per_week, width: 5, label: { size: "m" } %>

  <%= f.govuk_date_field :start_date, omit_day: true, maxlength_enabled: true %>
  <%= f.govuk_check_box :start_date_is_estimate, 1, 0, multiple: false, link_errors: true, label: {
    text: "This is an estimate"
  } %>

  <%= f.govuk_radio_buttons_fieldset :still_employed do %>
    <%= f.govuk_radio_button :still_employed, :true, link_errors: true %>
    <%= f.govuk_radio_button :still_employed, :false do %>
      <%= f.govuk_date_field :end_date, omit_day: true, maxlength_enabled: true %>
      <%= f.govuk_check_box :end_date_is_estimate, 1, 0, multiple: false, link_errors: true, label: {
        text: "This is an estimate"
      } %>
    <% end %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
