<%= form_with model: form, url: form.work_history.new_record? ? %i[teacher_interface application_form work_histories] : [:school, :teacher_interface, :application_form, form.work_history], method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">
    <%= t("application_form.work_history.school.heading.#{form.work_history.locale_key}") %>
  </h1>

  <p class="govuk-body">You must only add teaching employment roles gained <span class="govuk-!-font-weight-bold">after</span> becoming a teacher. The teaching roles you provide can be from working in any country.</p>
  <p class="govuk-inset-text">We cannot accept any teaching experience gained before you were qualified.</p>

  <% if form.work_history.new_record? %>
    <%= f.govuk_check_boxes_fieldset :meets_all_requirements, legend: nil, multiple: false do %>
      <p class="govuk-body">Each role you add must meet <strong class="govuk-!-font-weight-bold">all</strong> of the following requirements.</p>

      <p class="govuk-body">You were:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>employed in a school that delivers mandatory education</li>
        <li>teaching in the role after gaining your teaching qualification</li>
        <li>responsible for teaching children aged between 5 and 16 years</li>
        <li>unsupervised in the teaching role</li>
        <li>solely responsible for planning, preparing, and delivering lessons to a minimum of 4 students at a time</li>
        <li>solely responsible for assessing and reporting on the progress of these students</li>
      </ul>

      <% unless form.work_history.application_form.reduced_evidence_accepted %>
        <p class="govuk-body">We’ll contact the references you’ve provided to verify your work history before awarding QTS.</p>
      <% end %>

      <%= f.govuk_check_box :meets_all_requirements, 1, 0, multiple: false, link_errors: true, label: {
        text: "The role I’m about to add meets ALL of these requirements.", size: "s"
      } %>

      <p class="govuk-body govuk-!-margin-top-3">
        <%= govuk_link_to "I do not have any roles that meet all of these requirements.", requirements_unmet_teacher_interface_application_form_work_histories_path %>
      </p>
    <% end %>
  <% end %>

  <%= f.govuk_fieldset legend: { text: "Where was the role?" } do %>
    <%= f.govuk_text_field :school_name %>

    <%= f.govuk_text_field :city %>

    <%= f.govuk_select :country_location,
                       options_for_select(locations, form.country_location),
                       options: { include_blank: true } %>
  <% end %>

  <%= f.govuk_text_field :job, label: { size: "m" } %>

  <%= f.govuk_text_field :hours_per_week, width: 5, label: { size: "m" } %>

  <%= f.govuk_date_field :start_date, omit_day: true, maxlength_enabled: true %>
  <%= f.govuk_check_box :start_date_is_estimate, 1, 0, multiple: false, link_errors: true, label: {
    text: "This is an estimate"
  } %>

  <%= f.govuk_radio_buttons_fieldset :still_employed do %>
    <%= f.govuk_radio_button :still_employed, :true, link_errors: true %>
    <%= f.govuk_radio_button :still_employed, :false do %>
      <%= f.govuk_date_field :end_date, omit_day: true, maxlength_enabled: true %>
      <%= f.govuk_check_box :end_date_is_estimate, 1, 0, multiple: false, link_errors: true, label: {
        text: "This is an estimate"
      } %>
    <% end %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
