<% content_for :page_title, t(".title") %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_work_histories_path) %>

<%= form_with model: @form, url: %i[add_another teacher_interface application_form work_histories], method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">
    You’ve added <%= pluralize(@months_count, "month") %> of work experience
  </h1>

  <% if @months_count < 9 %>
    <%= govuk_warning_text do %>
      You need to add at least <%= pluralize(9 - @months_count, "more month") %> of teaching work experience to be eligible for QTS.
    <% end %>
  <% elsif @months_count < 20 %>
    <%= govuk_inset_text do %>
      <p>You have indicated you have between 9 and 20 months of teaching work experience. If you are awarded QTS you must complete a 2-year ‘statutory induction’ period as an early career teacher.</p>
    <% end %>

    <p class="govuk-body">
      <%= govuk_link_to "Learn more about statutory induction periods for early career teachers in England.", "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" %>
    </p>

    <p class="govuk-body">If you have more teaching work experience you should add it now.</p>
  <% else %>
    <%= govuk_inset_text do %>
      <p>You have indicated you have more than 20 months of work experience.</p>
    <% end %>

    <p class="govuk-body">
      You have added enough teaching work history to be eligible for QTS without an induction period. You can add more if you wish.
      You’ll need to provide references for each role so we can verify your teaching work history.
    </p>
  <% end %>

  <h2 class="govuk-heading-s">How we calculate your work experience</h2>

  <p class="govuk-body">We use a 30-hour working week to calculate your experience.</p>

  <p class="govuk-body">If you add a role where you worked <span class="govuk-!-font-weight-bold">under</span> 30 hours per week, we’ll convert the hours you enter into 30-hour weeks. That means the number of months you’ve added so far may be smaller than you expected.</p>

  <div class="govuk-inset-text">
    For example, if you tell us about a role where you worked 15 hours per week for 18 months, we’ll convert this to 9 months of 30-hour weeks. We’ll then add this role to your total as 9 months.
  </div>

  <p class="govuk-body">
    Teaching work experience can be gained in any country but must be from after you qualified as a teacher.
    Any teaching work experience gained before you qualified as a teacher will not be considered.
  </p>

  <h3 class="govuk-heading-s">Understanding how much work experience to add</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li><strong class="govuk-!-font-weight-bold">Less than 9 months</strong> – you are not eligible for QTS.</li>
    <li><strong class="govuk-!-font-weight-bold">More than 9 months but under 20</strong> – if you’re awarded QTS you’ll need to do a 2-year period of statutory induction.</li>
    <li><strong class="govuk-!-font-weight-bold">20 months or more</strong> – if you’re awarded QTS, there’s no need to do an induction period. You do not need to add more work experience.</li>
  </ul>

  <% if @months_count < 9 %>
    <%= govuk_details(summary_text: "I do not have more than 9 months of teaching experience") do %>
      <p class="govuk-body">QTS requires a minimum of 9 months of active teaching experience. We can keep your application open for 6 months, so you can continue later, if you gain enough experience in that time.</p>
      <p class="govuk-body">Alternatively, you can <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas" class="govuk-link" rel="noreferrer noopener" target="_blank">explore other ways to teach in England (opens in new tab)</a>.</p>
    <% end %>
  <% end %>

  <%= f.govuk_collection_radio_buttons :add_another,
                                       [OpenStruct.new(value: :true), OpenStruct.new(value: :false)],
                                       :value,
                                       legend: { tag: "h2", size: "m" } %>

  <%= f.govuk_submit %>
<% end %>
