<% @active_staff.each_with_index do |staff, index| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l"><%= staff.name %></h2>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-!-padding-top-2 govuk-grid-column-two-thirds govuk-!-text-align-right">
          <%= govuk_link_to("Change permissions", edit_assessor_interface_staff_path(staff)) %>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <%= govuk_button_link_to('Archive user', archive_assessor_interface_staff_path(staff), secondary: true) %>
        </div>
      </div>
    </div>
  </div>

  <h3 class="govuk-heading-m">User data</h3>

  <%= govuk_summary_list do |summary_list|
    summary_list.with_row do |row|
      row.with_key { "Email address" }
      row.with_value { staff.email }
    end

    summary_list.with_row do |row|
      row.with_key { "Invited" }
      row.with_value { format_uk_time(staff.created_at) }
    end

    summary_list.with_row do |row|
      row.with_key { "Last signed in" }
      row.with_value { format_uk_time(staff.current_sign_in_at) }
    end
  end %>

  <%= govuk_table(classes: "change-permissions") do |table|
    table.with_caption(size: 'm', text: 'Permissions')
    table.with_head do |head|
      head.with_row do |row|
        row.with_cell(header: true, text: "Assess applications")
        row.with_cell(header: true, text: "Change names")
        row.with_cell(header: true, text: "Change work history")
        row.with_cell(header: true, text: "Reverse decisions")
        row.with_cell(header: true, text: "Support console")
        row.with_cell(header: true, text: "Verify applications")
        row.with_cell(header: true, text: "Withdraw")
        row.with_cell(header: true, text: "Manage staff")
      end
    end

    table.with_body do |body|
      body.with_row do |row|
        row.with_cell { govuk_boolean_tag(staff.assess_permission) }
        row.with_cell { govuk_boolean_tag(staff.change_name_permission) }
        row.with_cell { govuk_boolean_tag(staff.change_work_history_permission) }
        row.with_cell { govuk_boolean_tag(staff.reverse_decision_permission) }
        row.with_cell { govuk_boolean_tag(staff.support_console_permission) }
        row.with_cell { govuk_boolean_tag(staff.verify_permission) }
        row.with_cell { govuk_boolean_tag(staff.withdraw_permission) }
        row.with_cell { govuk_boolean_tag(staff.manage_staff_permission) }
      end
    end
  end %>

  <% unless index + 1 == @active_staff.count %>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <% end %>
<% end %>
