<h2 class="govuk-heading-l">Your QTS application was successful</h2>

<p class="govuk-body">Your application <%= view_object.application_form.reference %> has been reviewed and you have been awarded qualified teacher status.</p>

<h3 class="govuk-heading-m">Teacher reference number (TRN)</h3>

<p class="govuk-body">You’ve been assigned a teacher reference number (TRN). This is a 7-digit number that identifies you in the education sector in England.</p>

<p class="govuk-body">Your TRN: <%= view_object.teacher.trn %></p>

<h3 class="govuk-heading-m">Access your QTS certificate</h3>

<p class="govuk-body">You can now get your QTS certificate. You will need this, as well as your TRN, to be recognised in the education sector in England.</p>

<p class="govuk-body">Get your certificate at <%= govuk_link_to "Access your teaching qualifications", view_object.teacher.access_your_teaching_qualifications_url.presence || "https://access-your-teaching-qualifications.education.gov.uk" %>.</p>

<p class="govuk-body">You will be asked to create a Department for Education (DfE) Identity account to log in.</p>

<h3 class="govuk-heading-m">About DfE Identity accounts</h3>

<p class="govuk-body">You’ll need your name and mobile phone number (for account security only) to create an account. Your DfE Identity account can be used to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>access your teaching qualifications, for example your QTS certification (to show employers evidence of your teaching status)</li>
  <li>sign into different DfE teacher services</li>
  <li>update your details</li>
</ul>

<h3 class="govuk-heading-m">Find out more about teaching in England</h3>

<p class="govuk-body">There is more information available about coming to teach in England at <%= govuk_link_to "Get into Teaching", "https://getintoteaching.education.gov.uk/non-uk-teachers" %>.</p>

<p class="govuk-body">The Get into Teaching website also offers <%= govuk_link_to "help and support", "https://getintoteaching.education.gov.uk/help-and-support" %>.</p>

<h3 class="govuk-heading-m">Search for a teaching job in England</h3>

<p class="govuk-body">You can search for a job in teaching through the government’s official <%= govuk_link_to "Teaching Vacancies service", "https://teaching-vacancies.service.gov.uk" %>.</p>

<p class="govuk-body">The service is free and is used by English schools to list their teaching roles. As well as applying for jobs you can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>set up job alerts</li>
  <li>create a profile which allows schools to find and invite you to apply for their jobs</li>
  <li>read advice for jobseekers</li>
</ul>

<%= render "shared/help_us_to_improve_this_service" %>
