<%= govuk_panel(title_text: view_object.further_information_request&.received? ? "Further information successfully submitted" : "Application complete") do %>
  Your application reference number
  <br />
  <strong><%= view_object.application_form.reference %></strong>
<% end %>

<% if view_object.further_information_request&.received? %>
  <h3 class="govuk-heading-m">You’ve successfully submitted your further information</h3>
  <p class="govuk-body">We’ve sent you an email to confirm that we’ve received it.</p>
  <p class="govuk-body">The assessor will continue to review your QTS application once they’ve checked that the further information you’ve provided can be accepted.</p>
  <p class="govuk-body">You can now close this page.</p>
<% else %>
  <p class="govuk-body">We’ve received your application for QTS and we’ve sent you a confirmation email.</p>
  <p class="govuk-body">Keep the email safe, as you may need your application reference number for future correspondence about your application.</p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">Your application will be entered into a queue and assigned a QTS assessor, which can take several weeks.</p>
  <p class="govuk-body">Once assigned, an assessor will review your application. If we require more information, we'll email you for it.</p>
  <p class="govuk-body">We will contact you with a final QTS application decision once all checks and verifications have been completed.</p>

  <%= render "shared/employment_warning" %>
<% end %>

<h2 class="govuk-heading-s">Help us to improve this service</h2>

<p class="govuk-body">
  Please <%= govuk_link_to "give us feedback", t("service.form.feedback") %> about your experience of using this service. It should take less than 2 minutes to complete.
</p>

<p class="govuk-body">
  We’re always trying to improve this service and boost teacher recruitment from overseas. So we’d like to talk to people about their experience of using this service.
</p>

<p class="govuk-body">
  If you'd like to help, please <%= govuk_link_to "complete this form", t("service.form.research") %>.
</p>

<p class="govuk-body">If you match our search criteria, we'll invite you to take part in research.</p>

<h2 class="govuk-heading-s">If you have any questions, contact:</h2>
<p class="govuk-body"><%= govuk_link_to t("service.email.enquiries"), "mailto:#{t("service.email.enquiries")}" %></p>
