<h2 class="govuk-heading-xl">Your QTS application has been declined</h2>

<p class="govuk-body">Thank you for applying for qualified teacher status (QTS) and for your patience while we reviewed your application. Your application has been declined.</p>

<h3 class="govuk-heading-l">Reasons your application has been declined</h3>

<% view_object.declined_reasons.each do |title, reasons| %>
  <% next if reasons.empty? %>

  <% if title.empty? %>
    <% reasons.each do |reason| %>
      <%= simple_format reason[:name] %>
    <% end %>
  <% else %>
    <h4 class="govuk-heading-m"><%= title %></h4>

    <% reasons.each do |reason| %>
      <%= govuk_inset_text do %>
        <%= reason[:name] %>
      <% end %>
      <% if reason[:assessor_note].present? %>
        <p class="govuk-body govuk-!-margin-bottom-0">Note from assessor:</p>
        <%= simple_format reason[:assessor_note] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render "teacher_interface/application_forms/show/what_can_you_do_next", view_object: %>

<% unless view_object.from_ineligible_country? %>
  <% unless view_object.declined_cannot_reapply? %>
    <% if view_object.has_any_further_information_decline_reasons? %>
      <div class="govuk-!-margin-bottom-8">
        <%= render "teacher_interface/application_forms/show/information_if_you_reapply", view_object: %>
      </div>
    <% end %>

    <%= govuk_start_button(text: "Check you’re still eligible", href: %i[new teacher_interface application_form]) %>
  <% end %>

  <h3 class="govuk-heading-l">If you disagree with our decision</h3>
  <% if view_object.can_request_decision_review? %>
    <p class="govuk-body">If you think our decision to decline your application for QTS in England is wrong, you can request to challenge the decision. This is known as a decision review.</p>

    <p class="govuk-body">To challenge this decision, you must provide:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>evidence and reasoning for how you meet the required assessment criteria</li>
      <li>any additional information not included in your original application that would support the decision review</li>
    </ul>

    <p class="govuk-body">You must make the request within 28 days of the date we sent the decision email. Your request will be reviewed by a senior Professional Recognition Manager.</p>

    <p class="govuk-body"><%= govuk_link_to "Request a decision review", teacher_interface_application_form_decision_review_requests_path %>.</p>

    <% if view_object.declined_cannot_reapply? %>
      <p class="govuk-body">
        Or, if you can address the reasons your application has been declined, you can submit a new application. You must <%= govuk_link_to "check if you’re still eligible", %i[new teacher_interface application_form] %> to apply first. You’ll need to provide all the required information and documents again.
      </p>
    <% end %>
  <% elsif view_object.has_requested_decision_review_and_received_outcome? %>
    <p class="govuk-body">Unfortunately your request for a decision review has been rejected.</p>

    <p class="govuk-body">Note from Assessor:</p>

    <%= govuk_inset_text do %>
      <p><%= simple_format view_object.decision_review_request_for_current_decline.review_note %></p>
    <% end %>

    <p class="govuk-body">If you would like to appeal this decision, email your request, including the information required as above, to <%= govuk_link_to t("service.email.enquiries"), email_path("enquiries") %>.</p>

    <% if view_object.declined_cannot_reapply? %>
      <p class="govuk-body">
        Or, if you can address the reasons your application has been declined, you can submit a new application. You must <%= govuk_link_to "check if you’re still eligible", %i[new teacher_interface application_form] %> to apply first. You’ll need to provide all the required information and documents again.
      </p>
    <% end %>
  <% elsif view_object.has_requested_decision_review_and_awaiting_review? %>
    <p class="govuk-body">
      We have received your request for a decision review. Your request and evidence will be reviewed by a senior Professional Recognition Manager within 28 working days. We will email to confirm the outcome of your request.
    </p>
  <% else %>
    <p class="govuk-body">You cannot challenge this decision because it has been more than 28 days since we sent the decision email.</p>

    <% if view_object.declined_cannot_reapply? %>
      <p class="govuk-body">
        If you can address the reasons your application has been declined, you can submit a new application. You must <%= govuk_link_to "check if you’re still eligible", %i[new teacher_interface application_form] %> to apply first. You’ll need to provide all the required information and documents again.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/help_us_to_improve_this_service" %>
