<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
  <% if view_object.can_submit? %>
    Application complete
  <% else %>
    Application incomplete
  <% end %>
</h2>

<p class="govuk-body govuk-!-margin-bottom-7">
  You have completed <%= view_object.completed_task_list_sections.count %> of <%= view_object.task_list_sections.count %> sections.
</p>

<% if view_object.application_form.created_under_new_regulations? %>
  <%= govuk_inset_text do %>
    <p class="govuk-body">
      You started this application on <%= view_object.started_at %>.
      Applications must be completed within 6 months, so you’ll need to complete it before <%= view_object.expires_at %>.
    </p>
  <% end %>
<% end %>

<%= render TaskList::Component.new(view_object.task_list_sections) %>

<div class="govuk-button-group">
  <% if view_object.can_submit? %>
    <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.check"), edit_teacher_interface_application_form_path %>
  <% end %>

  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), destroy_teacher_session_path, secondary: true %>
</div>
