<% if (errored_task_list_sections = view_object.errored_task_list_sections).present? %>
  <div role="alert" class="govuk-error-summary" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errored_task_list_sections.each do |section| %>
          <li>
            <a href="#app-task-list-<%= section[:title].parameterize %>">A selected file in “<%= section[:title] %>” contains a suspected virus. Remove it and upload a new file.</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if view_object.passport_expiry_date_expired? && view_object.passport_document_status_in_progress? %>
  <div class="moj-interruption-card">
    <div class="moj-interruption-card__content">
      <h1 class="govuk-heading-m moj-interruption-card__heading">Your passport has expired</h1>
      <div class="govuk-body-m">
        <p class="govuk-body-m moj-interruption-card__body">
          We can now only accept valid, in-date passports to verify your identity. You need to renew your passport and update your passport details.
        </p>
      </div>

      <div class="govuk-button-group moj-interruption-card__actions">
        <%= govuk_link_to "Update passport details", [:expiry_date, :teacher_interface, :application_form, :passport_document], class: "govuk-button govuk-button--inverse" %>
      </div>
    </div>
  </div>
<% end %>

<% if view_object.show_new_requirements_for_work_history_references_banner? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "Requirements for your references have changed") %>

    <p class="govuk-body">Your references must now have an email address that uses the institution’s domain, for example, name@institution.edu.</p>
    <p class="govuk-body">You must update your references in “Your work history”.</p>
    <p class="govuk-body">We only accept references from official email addresses to verify they are genuine staff members of a recognised institution. If your references do not meet this requirement, you are not eligible to apply for QTS in England.</p>
  <% end %>
<% end %>

<% if view_object.show_work_history_under_submission_banner? || view_object.show_work_history_under_induction_banner? %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <p>You have added at least one teaching role that started before you were qualified as a teacher.</p>
    <p>We do not accept teaching work experience that was gained before you were qualified as a teacher.</p>

    <% if view_object.show_work_history_under_submission_banner? %>
      <p>This means you have less than 9 months teaching work history and are not eligible for QTS.</p>
      <p>To submit your application, you will need to add more teaching work experience. This must be from after you became qualified as a teacher.</p>
    <% elsif view_object.show_work_history_under_induction_banner? %>
      <p>This means you have between 9 and 20 months of teaching work history. You will have to complete a 2-year statutory induction as a newly qualified teacher if you are awarded QTS.</p>
      <p>If you have more work experience gained after you were qualified as a teacher, you should add it to your work history.</p>
    <% end %>
  <% end %>
<% end %>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
  <% if view_object.can_submit? %>
    Application complete
  <% else %>
    Application incomplete
  <% end %>
</h2>

<p class="govuk-body govuk-!-margin-bottom-7">
  You have completed <%= view_object.completed_task_list_sections.count %> of <%= view_object.task_list_sections.count %> sections.
</p>

<%= govuk_inset_text do %>
  <p class="govuk-body">
    You started this application on <%= view_object.started_at %>.
    Applications must be completed within 6 months, so you’ll need to complete it before <%= view_object.expires_at %>.
  </p>
<% end %>

<% view_object.task_list_sections.each do |section| %>
  <h2 class="govuk-heading-m"><%= section[:title] %></h2>

  <%= govuk_task_list(id_prefix: section[:title].parameterize) do |task_list|
    section[:items].each do |item|
      task_list.with_item(title: item[:name], href: item[:link], status: render(StatusTag::Component.new(item[:status])))
    end
  end %>
<% end %>

<% if errored_task_list_sections.present? %>
  <p class="govuk-body">You cannot submit your application until all errors have been fixed.</p>
<% end %>

<div class="govuk-button-group">
  <% if view_object.can_submit? %>
    <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.check"), edit_teacher_interface_application_form_path, class: "check-your-answers" %>
  <% end %>

  <% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
    <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), logout_uri, secondary: true %>
  <% else %>
    <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), destroy_teacher_session_path, secondary: true %>
  <% end %>
</div>
