<% if (errored_task_list_sections = view_object.errored_task_list_sections).present? %>
  <div role="alert" class="govuk-error-summary" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errored_task_list_sections.each do |section| %>
          <li>
            <a href="#app-task-list-<%= section[:title].parameterize %>">A selected file in “<%= section[:title] %>” contains a suspected virus. Remove it and upload a new file.</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if view_object.show_work_history_under_submission_banner? || view_object.show_work_history_under_induction_banner? %>
  <%= govuk_notification_banner(title_text: "Important") do %>
    <p>You have added at least one teaching role that started before you were qualified as a teacher.</p>
    <p>We do not accept teaching work experience that was gained before you were qualified as a teacher.</p>

    <% if view_object.show_work_history_under_submission_banner? %>
      <p>This means you have less than 9 months teaching work history and are not eligible for QTS.</p>
      <p>To submit your application, you will need to add more teaching work experience. This must be from after you became qualified as a teacher.</p>
    <% elsif view_object.show_work_history_under_induction_banner? %>
      <p>This means you have between 9 and 20 months of teaching work history. You will have to complete a 2-year statutory induction as a newly qualified teacher if you are awarded QTS.</p>
      <p>If you have more work experience gained after you were qualified as a teacher, you should add it to your work history.</p>
    <% end %>
  <% end %>
<% end %>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">
  <% if view_object.can_submit? %>
    Application complete
  <% else %>
    Application incomplete
  <% end %>
</h2>

<p class="govuk-body govuk-!-margin-bottom-7">
  You have completed <%= view_object.completed_task_list_sections.count %> of <%= view_object.task_list_sections.count %> sections.
</p>

<%= govuk_inset_text do %>
  <p class="govuk-body">
    You started this application on <%= view_object.started_at %>.
    Applications must be completed within 6 months, so you’ll need to complete it before <%= view_object.expires_at %>.
  </p>
<% end %>

<%= render TaskList::Component.new(view_object.task_list_sections) %>

<% if errored_task_list_sections.present? %>
  <p class="govuk-body">You cannot submit your application until all errors have been fixed.</p>
<% end %>

<div class="govuk-button-group">
  <% if view_object.can_submit? %>
    <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.check"), edit_teacher_interface_application_form_path %>
  <% end %>

  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), destroy_teacher_session_path, secondary: true %>
</div>
