<h2 class="govuk-heading-l">
  <% if view_object.application_form.requires_preliminary_check? && view_object.application_form.assessment.all_preliminary_sections_passed? %>
    <% if view_object.application_form.assessment.prioritised? %>
      Your application is being prioritised
    <% else %>
      Your application has passed initial checks
    <% end %>
  <% else %>
    Application submitted
  <% end %>
</h2>

<h2 class="govuk-heading-m">
  Application reference number: <strong><%= view_object.application_form.reference %></strong>
</h2>

<%= govuk_warning_text(text: "Your application cannot proceed until we receive your #{region_certificate_name(view_object.region)}.") %>

<h2 class="govuk-heading-m">What you need to do</h2>

<% if view_object.application_form.assessment.prioritised? %>
  <p class="govuk-body">
    We have confirmed your work experience in England. This means your application is being prioritised.
  </p>
<% end %>

<p class="govuk-body">
  You must now get your <%= region_certificate_name(view_object.region) %> from <%= region_teaching_authority_name_phrase(view_object.region) %>.
</p>

<p class="govuk-body">
  Email <%= region_teaching_authority_emails_phrase(view_object.region) %> and ask them to send your
  <%= region_certificate_name(view_object.region) %> directly to us at <%= govuk_link_to t("service.email.verification"), email_path("verification") %>.
</p>

<p class="govuk-body">
  You cannot send it yourself.
</p>

<% if view_object.region.teaching_authority_requires_submission_email %>
  <p class="govuk-body">
    Once you’ve submitted your application, we’ll notify <%= region_teaching_authority_name_phrase(view_object.region) %> that you’ve applied for QTS. You do not need to contact us to get written confirmation of this.
  </p>
<% end %>

<% if view_object.region.status_check_written? %>
  <% if view_object.region.status_information.present? %>
    <%= raw GovukMarkdown.render(view_object.region.status_information) %>
  <% end %>

  <% if view_object.region.country.status_information.present? %>
    <%= raw GovukMarkdown.render(view_object.region.country.status_information) %>
  <% end %>
<% end %>

<% if view_object.region.sanction_check_written? %>
  <% if view_object.region.sanction_information.present? %>
    <%= raw GovukMarkdown.render(view_object.region.sanction_information) %>
  <% end %>

  <% if view_object.region.country.sanction_information.present? %>
    <%= raw GovukMarkdown.render(view_object.region.country.sanction_information) %>
  <% end %>
<% end %>

<% if view_object.region.other_information.present? %>
  <%= raw GovukMarkdown.render(view_object.region.other_information) %>
<% end %>

<% if view_object.region.country.other_information.present? %>
  <%= raw GovukMarkdown.render(view_object.region.country.other_information) %>
<% end %>

<h2 class="govuk-heading-m">What happens next</h2>

<% if view_object.application_form.assessment.prioritisation_work_history_checks.present? && !view_object.application_form.assessment.prioritised? %>
  <p class="govuk-body">
    First, we’ll confirm if your experience in England is valid and if your application can be prioritised. We’ll email you to confirm if your application will be prioritised or not.
  </p>

  <p class="govuk-body">
    Once this has been confirmed and your <%= region_certificate_name(view_object.region) %> is received and checked, your application will be assessed by a trained assessor. They will check all the information you have submitted. Some information may need verification by third parties.
  </p>
<% else %>
  <p class="govuk-body">
    Once the <%= region_certificate_name(view_object.region) %> is received and checked, your application will be assessed by a trained assessor. They will check all the information you have submitted. Some information may need verification by third parties.
  </p>
<% end %>

<p class="govuk-body">
  If we need more information, we will email you. You do not need to contact us.
</p>
