<% further_information_submitted = view_object.further_information_request&.received? %>
<% qualification_consent_submitted = view_object.qualification_consent_submitted? %>
<% teaching_authority_provides_written_statement = view_object.teaching_authority_provides_written_statement? %>
<% letter_of_professional_standing_received = view_object.letter_of_professional_standing_received? %>

<% title_text = if qualification_consent_submitted
                  "Consent documents successfully submitted"
                elsif further_information_submitted
                  "Further information successfully submitted"
                else
                  "Application received"
                end %>

<%= govuk_panel(title_text:) do %>
  Your application reference number
  <br />
  <strong><%= view_object.application_form.reference %></strong>
<% end %>

<% if qualification_consent_submitted %>
  <p class="govuk-body">We’ve sent you an email to confirm.</p>
  <p class="govuk-body">Once an assessor has checked the documents to make sure you’ve provided the required information, they’ll continue reviewing your application.</p>
  <p class="govuk-body">You can now close this page.</p>
<% elsif further_information_submitted %>
  <h3 class="govuk-heading-m">You’ve successfully submitted your further information</h3>
  <p class="govuk-body">We’ve sent you an email to confirm that we’ve received it.</p>
  <p class="govuk-body">The assessor will continue to review your QTS application once they’ve checked that the further information you’ve provided can be accepted.</p>
  <p class="govuk-body">You can now close this page.</p>
<% else %>
  <% if letter_of_professional_standing_received %>
    <p class="govuk-body">We’ve received and checked your  <%= region_certificate_name(view_object.region) %> from <%= region_teaching_authority_name_phrase(view_object.region) %>. This has been attached to your application.</p>
  <% else %>
    <p class="govuk-body">We’ve received your application for QTS and we’ve sent you a confirmation email.</p>
    <p class="govuk-body">Keep the email safe, as you may need your application reference number for future correspondence about your application.</p>
  <% end %>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">Your application will be assessed by a trained assessor. They will check all the information you have submitted. Some information may need verification by third parties.</p>
  <p class="govuk-body">If we need more information, we will email you. You do not need to contact us.</p>

  <h2 class="govuk-heading-m">How long will it take?</h2>
  <p class="govuk-body">Your teaching qualifications and experience will be assessed against strict requirements. These requirements are mandatory and must be met in full. The process is designed to ensure we only award QTS to the highest quality teachers. Your application will be assessed as soon as possible, but it can take time.</p>
  <p class="govuk-body">We assess 90 per cent of applications within 12 months.</p>
  <p class="govuk-body">Information correct as of July 2024. Timelines are based on total applications completed since February 2023.</p>
  <p class="govuk-body">It may take longer if we need to ask for further information or if external factors, or third parties, cause delays. This includes waiting for references, or verification of qualifications or professional standing. The time it takes to assess applications is regularly reviewed and subject to change.</p>
  <p class="govuk-body">We will contact you with a decision about your QTS application when the assessment and all verifications have been completed. We will not be able to give individual updates on the status of your application while it is being assessed.</p>

  <%= render "shared/employment_warning" %>

  <%= render "shared/help_us_to_improve_this_service" %>

  <h2 class="govuk-heading-m">If you have any questions, contact:</h2>
  <p class="govuk-body"><%= govuk_link_to t("service.email.enquiries"), email_path("enquiries") %></p>
  <p class="govuk-body">We aim to respond within 5 working days. Please note we will not be able to give you progress updates on your application.</p>
<% end %>
