<% further_information_submitted = view_object.further_information_request&.received? %>
<% qualification_consent_submitted = view_object.qualification_consent_submitted? %>

<% title_text = if qualification_consent_submitted
                  "Consent documents successfully submitted"
                elsif further_information_submitted
                  "Further information successfully submitted"
                else
                  "Application complete"
                end %>

<%= govuk_panel(title_text:) do %>
  Your application reference number
  <br />
  <strong><%= view_object.application_form.reference %></strong>
<% end %>

<% if qualification_consent_submitted %>
  <p class="govuk-body">We’ve sent you an email to confirm.</p>
  <p class="govuk-body">Once an assessor has checked the documents to make sure you’ve provided the required information, they’ll continue reviewing your application.</p>
  <p class="govuk-body">You can now close this page.</p>
<% elsif further_information_submitted %>
  <h3 class="govuk-heading-m">You’ve successfully submitted your further information</h3>
  <p class="govuk-body">We’ve sent you an email to confirm that we’ve received it.</p>
  <p class="govuk-body">The assessor will continue to review your QTS application once they’ve checked that the further information you’ve provided can be accepted.</p>
  <p class="govuk-body">You can now close this page.</p>
<% else %>
  <p class="govuk-body">We’ve received your application for QTS and we’ve sent you a confirmation email.</p>
  <p class="govuk-body">Keep the email safe, as you may need your application reference number for future correspondence about your application.</p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">Your application will be entered into a queue and assigned a QTS assessor, which can take several weeks.</p>
  <p class="govuk-body">Once assigned, an assessor will review your application. If we require more information, we'll email you for it.</p>
  <p class="govuk-body">We will contact you with a final QTS application decision once all checks and verifications have been completed.</p>

  <%= render "shared/employment_warning" %>
<% end %>

<%= render "shared/help_us_to_improve_this_service", show_feedback: true %>

<h2 class="govuk-heading-s">If you have any questions, contact:</h2>
<p class="govuk-body"><%= govuk_link_to t("service.email.enquiries"), "mailto:#{t("service.email.enquiries")}" %></p>
