<% title = "Send for review" %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: verify_assessor_interface_application_form_assessment_qualification_request_path) %>

<%= form_with model: @form, url: [:verify_failed, :assessor_interface, @application_form, @assessment, @qualification_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <p class="govuk-body">You have opted to send this qualification for review.</p>

  <%= f.govuk_text_area :note, label: { text: "Internal note: briefly explain to the assessor why you are sending this qualification for review." } %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
