<% legend = "Consent required for #{qualification_title(@qualification_request.qualification)}" %>

<% content_for :page_title, title_with_error_prefix(legend, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_assessment_qualification_requests_path) %>

<%= form_with model: @form, url: [:consent_method, :assessor_interface, @application_form, @assessment, @qualification_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Select consent method</h1>

  <%= f.govuk_radio_buttons_fieldset :consent_method, legend: { text: legend }, disabled: @application_form.on_hold? do %>
    <% %i[signed_institution signed_ecctis unsigned none].each do |consent_method| %>
      <%= f.govuk_radio_button :consent_method, consent_method, link_errors: true, disabled: @application_form.on_hold? %>
    <% end %>
  <% end %>

  <%= f.govuk_submit disabled: @application_form.on_hold? do %>
    <%= render "shared/assessor_interface/cancel_link" %>
  <% end %>
<% end %>
