<% title = region_certificate_name(@application_form.region) %>

<% content_for :page_title, "#{"Error: " if @form.errors.any?}#{title}" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<%= form_with model: @form, url: [:locate, :assessor_interface, @application_form, @assessment, :professional_standing_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <p class="govuk-body">
    Only use this screen when the response from <%= region_teaching_authority_name_phrase(@application_form.region) %> is received.
  </p>

  <p class="govuk-body">
    This screen is not an assessment of the letter of professional standing, it just confirms that a response has been received.
  </p>

  <%= f.govuk_check_boxes_fieldset :received, multiple: false, legend: nil do %>
    <%= f.govuk_check_box :received, true, false, multiple: false, link_errors: true,
                          label: { text: "The letter of professional standing has been received.", size: "s" } %>
  <% end %>

  <%= f.govuk_text_area :location_note, label: { text: "Where to find the response", size: "m" }, hint: nil %>

  <%= f.govuk_submit do %>
    <%= govuk_link_to "Cancel", [:assessor_interface, @application_form] %>
  <% end %>
<% end %>
