<% content_for :page_title, title_with_error_prefix("Record LoPS response", error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<%= form_with model: @form, url: [:verify, :assessor_interface, @application_form, @assessment, :professional_standing_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Record LoPS response</h1>

  <% if @professional_standing_request.expired? %>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text govuk-!-font-size-27"><span class="govuk-warning-text__assistive">Warning</span>This LoPS response is overdue</strong>
    </div>

    <h2 class="govuk-heading-s">Please follow these steps:</h2>

    <ul class="govuk-list govuk-list--number govuk-!-margin-bottom-8">
      <li>In Zendesk use macro ‘PR - 1st verification of LoPS’ to email the competent authority to remind them.</li>
      <li>If no response, use macro ‘PR - 1st verification of LoPS’ to email the applicant and the competent authority to remind them.</li>
      <li>If no response, escalate to an EO.</li>
    </ul>
  <% end %>

  <% legend = @professional_standing_request.expired? ?
                "After following the steps above, have you received a valid response?" :
                "Does the response confirm that the LoPS is valid?" %>

  <%= f.govuk_radio_buttons_fieldset :passed, legend: { text: legend, size: "s" } do %>
    <%= f.govuk_radio_button :passed, :true, link_errors: true %>

    <% if @professional_standing_request.expired? %>
      <%= f.govuk_radio_button :passed, :false do %>
        <%= f.govuk_radio_button :received, :true %>
        <%= f.govuk_radio_button :received, :false %>
      <% end %>
    <% else %>
      <%= f.govuk_radio_button :passed, :false %>
    <% end %>
  <% end %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
