<% content_for :page_title, "#{"Error: " if @form.errors.any?}Record LoPS response" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<%= form_with model: @form, url: [:verify, :assessor_interface, @application_form, @assessment, :professional_standing_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Record LoPS response</h1>

  <%= f.govuk_radio_buttons_fieldset :passed, legend: { text: "Does the response confirm that the LoPS is valid?" } do %>
    <%= f.govuk_radio_button :passed, :true, label: { text: "Yes, mark as completed" }, link_errors: true %>
    <%= f.govuk_radio_button :passed, :false, label: { text: "No, send for review" } do %>
      <%= f.govuk_text_area :note, label: { text: "Internal note: briefly explain to the assessor why you are sending this LoPS for review." } %>
    <% end %>
  <% end %>

  <%= f.govuk_submit do %>
    <%= govuk_link_to "Cancel", [:assessor_interface, @application_form] %>
  <% end %>
<% end %>
