<% content_for :page_title, title_with_error_prefix("Record LoPS response", error: @form.errors.any?) %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<%= form_with model: @form, url: [:verify, :assessor_interface, @application_form, @assessment, :professional_standing_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Record LoPS response</h1>

  <%= f.govuk_collection_radio_buttons :passed, %i[true false], :itself,
                                       legend: { text: "Does the response confirm that the LoPS is valid?" } %>

  <%= f.govuk_submit do %>
    <%= govuk_link_to "Cancel", [:assessor_interface, @application_form] %>
  <% end %>
<% end %>
