<%= form_with model: form, url: form.work_history.new_record? ? %i[teacher_interface application_form other_england_work_histories] : school_teacher_interface_application_form_other_england_work_history_path(form.work_history), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.other_england_work_history") %></span>

  <h1 class="govuk-heading-l">
    <% if form.work_history.initial_other_england_educational_role_by_user? %>
      <%= t("application_form.other_england_work_history.school.first.heading") %>
    <% else %>
      <%= t("application_form.other_england_work_history.school.others.heading") %>
    <% end %>
  </h1>

  <p class="govuk-body">We will consider the following settings and roles worked in England within the last 12 months:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a cover supervisor or teaching assistant in a <%= govuk_link_to('state school', 'https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments', new_tab: true) %></li>
    <li>a teacher, tutor or lecturer in an <%= govuk_link_to('Ofsted registered Further Education and Skills setting', 'https://reports.ofsted.gov.uk/search?latest_report_date_end=&latest_report_date_start=&level_1_types=1&level_2_types=3&location=&q=&radius=&status%5B%5D=1&status%5B%5D=4', new_tab: true) %>, for example, a college</li>
    <li>a lecturer or tutor in an <%= govuk_link_to('English Higher Education provider registered with the Office for Students', 'https://www.officeforstudents.org.uk/for-providers/regulatory-resources/the-ofs-register/?#/', new_tab: true) %>, for example, a university</li>
    <li>a teacher in an <%= govuk_link_to('Ofsted registered Early Years setting', 'https://reports.ofsted.gov.uk/search?q=&location=&radius=&level_1_types=2&latest_report_date_start=&latest_report_date_end=&status%5B%5D=1&status%5B%5D=4', new_tab: true) %>, for example, a nursery</li>
  </ul>

  <%= govuk_warning_text(text: "You will need to provide references to confirm your work experience in England before your application is prioritised. If we cannot confirm your experience, your application will not be prioritised.") %>

  <%= f.govuk_fieldset legend: { text: "Where was the role?" } do %>
    <%= f.govuk_text_field :school_name %>

    <%= f.govuk_text_field :address_line1 %>

    <%= f.govuk_text_field :address_line2 %>

    <%= f.govuk_text_field :city %>

    <%= f.govuk_select :country_location,
                       options_for_select(locations, form.country_location),
                       options: { include_blank: true } %>

    <%= f.govuk_text_field :postcode %>

    <%= f.govuk_text_field :school_website %>
  <% end %>

  <%= f.govuk_text_field :job, label: { size: "m" } %>

  <%= f.govuk_date_field :start_date, omit_day: true, maxlength_enabled: true %>

  <%= f.govuk_radio_buttons_fieldset :still_employed do %>
    <%= f.govuk_radio_button :still_employed, :true, link_errors: true %>
    <%= f.govuk_radio_button :still_employed, :false do %>
      <%= f.govuk_date_field :end_date, omit_day: true, maxlength_enabled: true %>
    <% end %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
