<% content_for :page_title, title_with_error_prefix(t("application_form.other_england_work_history.meets_criteria.heading"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: [:meets_criteria, :teacher_interface, :application_form, :other_england_work_histories] do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.other_england_work_history") %></span>

  <%
    hint = "
      Your application will be prioritised if you have valid educational work experience in England within the last 12 months that we can confirm with your references.
      <br /><br />
      We will only consider the following settings and roles worked in England within the last 12 months:
      <ul class='govuk-list govuk-list--bullet govuk-hint'>
        <li>a teacher, supply teacher, cover supervisor or teaching assistant in a #{govuk_link_to('state school', 'https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments')}</li>
        <li>a teacher in an #{govuk_link_to('independent school', 'https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments')}</li>
        <li>a teacher, tutor or lecturer in an #{govuk_link_to('Ofsted registered Further Education and Skills setting', 'https://reports.ofsted.gov.uk/search?latest_report_date_end=&latest_report_date_start=&level_1_types=1&level_2_types=3&location=&q=&radius=&status%5B%5D=1&status%5B%5D=4')} (for example, a college)</li>
        <li>a lecturer or tutor in an #{govuk_link_to('English Higher Education provider registered with the Office for Students', 'https://www.officeforstudents.org.uk/for-providers/regulatory-resources/the-ofs-register/?#/')} (for example, a university)</li>
        <li>a teacher in an #{govuk_link_to('Ofsted registered Early Years setting', 'https://reports.ofsted.gov.uk/search?q=&location=&radius=&level_1_types=2&latest_report_date_start=&latest_report_date_end=&status%5B%5D=1&status%5B%5D=4')} (for example, a nursery)</li>
      </ul>
      This work experience will only be used to confirm whether your application can be prioritised. It will not be added to the calculation of your teaching work history.
    ".html_safe
  %>

  <%= f.govuk_collection_radio_buttons :has_other_england_work_history, %i[true false], :itself, legend: { tag: "h1", size: "l" }, hint: { text: hint } %>

  <%= govuk_details(summary_text: "Definitions of these roles and settings") do %>
    <h3 class="govuk-heading-s">State school</h3>
    <p>State schools in England are government-funded and provide free, compulsory education to children aged 5 to 18. They include academies, free schools, community schools, grammar schools, foundation schools, voluntary-aided and voluntary-controlled schools.</p>

    <h3 class="govuk-heading-s">Independent school</h3>
    <p>An independent school in England is a school that is not administered or funded by the government. Instead, they charge fees to attend. They are also known as private schools.</p>

    <h3 class="govuk-heading-s">Tutor or lecturer</h3>
    <p>A tutor or lecturer is someone who teaches or supports students in a college or university, including delivering lessons, running tutorials, or providing academic support as part of a course or qualification.</p>
  <% end %>

  <%= govuk_warning_text(text: "You will need to provide references to confirm your work experience in England before your application is prioritised. If we cannot confirm your experience, your application will not be prioritised.") %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>