<% content_for :page_title, 'Features' %>

<h1 class="govuk-heading-l">Features</h1>

<% @features.each do |feature_name, feature_flag| %>
  <h2 class="govuk-heading-m">
    <%= feature_name.humanize %>
    <span class="govuk-visually-hidden">
      - <%= FeatureFlag.active?(feature_name) ? 'Active' : 'Inactive' %>
    </span>
  </h2>
  <% rows = [
      {
        key: { text: 'Description'},
        value: { text: feature_flag.description },
      },
      {
        key: { text: 'Status'},
        value: {
          text: govuk_tag(
            text: FeatureFlag.active?(feature_name) ? 'Active' : 'Inactive',
            colour: FeatureFlag.active?(feature_name) ? 'green' : 'grey',
          )
        },
      },
      {
        key: { text: 'Owner'},
        value: { text: feature_flag.owner },
      },
  ] %>
  <%= govuk_summary_list(rows: rows) %>
    <% if FeatureFlag.disabled_in_production?(feature_name) %>
      <%= govuk_button_link_to "Not allowed in production", "#", disabled: true, secondary: true %>
      <p>
        This feature cannot be toggled from the feature dashboard in
        Production. It can still be toggled from a Rails console.
      </p>
    <% else %>
      <% if FeatureFlag.active?(feature_name) %>
        <% feature_url = support_interface_deactivate_feature_path(feature_name) %>
        <% label = 'Deactivate ' %>
      <% else %>
        <% feature_url = support_interface_activate_feature_path(feature_name) %>
        <% label = 'Activate ' %>
      <% end %>
      <%= form_with url: feature_url do |f| %>
        <%= f.govuk_submit label + feature_name.humanize %>
    <% end %>
  <% end %>
<% end %>
