<% title = @work_history.end_date.blank? ?
             t(
               "helpers.legend.teacher_interface_reference_request_dates_response_form.dates_response.current",
               school_name: @work_history.school_name,
               start_date: @work_history.start_date.to_fs(:month_and_year),
             ) :
             t(
               "helpers.legend.teacher_interface_reference_request_dates_response_form.dates_response.previous",
               school_name: @work_history.school_name,
               start_date: @work_history.start_date.to_fs(:month_and_year),
               end_date: @work_history.end_date.to_fs(:month_and_year),
             ) %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_reference_request_path) %>

<%= form_with model: @form, url: dates_teacher_interface_reference_request_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Question 1 of <%= @reference_request.excludes_suitability_and_concerns_question? ? 6 : 7 %></span>

  <%= f.govuk_radio_buttons_fieldset :dates_response, legend: { tag: "h1", size: "l", text: title } do %>
    <%= f.govuk_radio_button :dates_response, :true, link_errors: true %>
    <%= f.govuk_radio_button :dates_response, :false do %>
      <%= f.govuk_text_area :dates_comment %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
