<% title = t("helpers.legend.teacher_interface_reference_request_hours_response_form.hours_response", count: @work_history.hours_per_week) %>

<% content_for :page_title, title_with_error_prefix(title, error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_reference_request_path) %>

<%= form_with model: @form, url: hours_teacher_interface_reference_request_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Question 2 of 7</span>

  <%= f.govuk_radio_buttons_fieldset :hours_response, legend: { tag: "h1", size: "l", text: title } do %>
    <%= f.govuk_radio_button :hours_response, :true, link_errors: true %>
    <%= f.govuk_radio_button :hours_response, :false do %>
      <%= f.govuk_text_area :hours_comment %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
