<% content_for :page_title, title_with_error_prefix(t("helpers.legend.teacher_interface_reference_request_children_response_form.children_response"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_reference_request_path) %>

<%= form_with model: @form, url: children_teacher_interface_reference_request_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Question 3 of <%= @reference_request.excludes_suitability_and_concerns_question? ? 6 : 7 %></span>

  <%= f.govuk_radio_buttons_fieldset :children_response, legend: { tag: "h1", size: "l" } do %>
    <%= f.govuk_radio_button :children_response, :true, link_errors: true %>
    <%= f.govuk_radio_button :children_response, :false do %>
      <%= f.govuk_text_area :children_comment %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
