<% content_for :page_title, title_with_error_prefix(t("helpers.legend.teacher_interface_reference_request_satisfied_response_form.satisfied_response"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_reference_request_path) %>
<% content_for :feedback_url, t("service.form.referee_feedback") %>

<%= form_with model: @form, url: satisfied_teacher_interface_reference_request_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Question 7 of 7</span>

  <%= f.govuk_radio_buttons_fieldset :satisfied_response, legend: { tag: "h1", size: "l" } do %>
    <%= f.govuk_radio_button :satisfied_response, :true, link_errors: true %>
    <%= f.govuk_radio_button :satisfied_response, :false do %>
      <%= f.govuk_text_area :satisfied_comment %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
