<% content_for :page_title, title_with_error_prefix(t("helpers.legend.eligibility_interface_work_experience_form.work_experience"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_link_url(@eligibility_check.qualified_for_subject_required? ? eligibility_interface_qualified_for_subject_path : eligibility_interface_teach_children_path) %>

<%= form_with model: @form, url: [:eligibility_interface, :work_experience] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_radio_buttons(
    :work_experience,
    EligibilityCheck.work_experiences.keys,
    :itself,
    legend: { size: "l", tag: "h1" },
    hint: { text: t("helpers.hint.eligibility_interface_work_experience_form.work_experience").html_safe }
  ) %>

  <% unless @region.reduced_evidence_accepted %>
    <p class="govuk-body">You’ll need to provide references from your places of employment so we can verify your teaching work history.</p>
  <% end %>

  <%= govuk_details(summary_text: "How to calculate your teaching work history") do %>
    <p>We only accept teaching work experience after you qualified as a teacher.</p>
    <p>Add up the months you’ve spent employed as a qualified teacher. This should include school holidays but not any other time spent away from teaching.</p>
    <p>If you have between 9 and 20 months of teaching work experience, you must complete a 2-year ‘statutory induction’ period as an early career teacher.</p>
    <p>You will not need to complete this statutory induction if you have more than 20 months of teaching work experience.</p>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
