<% content_for :page_title, "Edit ‘#{@english_language_provider.name}’" %>
<% content_for :back_link_url, support_interface_english_language_providers_path %>

<h1 class="govuk-heading-l"><%= yield(:page_title) %></h1>

<%= form_with model: [:support_interface, @english_language_provider] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_text_field :name %>
  <%= f.govuk_text_field :b2_level_requirement_prefix %>
  <%= f.govuk_text_field :b2_level_requirement %>
  <%= f.govuk_text_field :url %>
  <%= f.govuk_text_field :reference_name %>
  <%= f.govuk_text_field :reference_hint %>
  <%= f.govuk_text_field :accepted_tests %>
  <%= f.govuk_url_field :check_url %>
  <%= f.govuk_text_area :other_information, rows: 5 %>

  <%= f.govuk_submit "Save" %>
<% end %>
