<% content_for :page_title, I18n.t("application_form.tasks.sections.qualifications") %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_qualifications_path) %>

<span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>

<%= form_with model: @form, url: [:part_of_university_degree, :teacher_interface, :application_form, @qualification] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_radio_buttons :part_of_university_degree,
                                       [OpenStruct.new(label: "Yes", value: true), OpenStruct.new(label: "No", value: false)],
                                       :value,
                                       :label,
                                       legend: { text: "Was this qualification part of your university degree?", size: "l", tag: "h1" } %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
