<% content_for :page_title, "Confirm your email address" %>
<% content_for :back_link_url, create_or_new_teacher_session_path %>

<h1 class="govuk-heading-xl">Confirm your email address</h1>

<%= form_with(model: @otp_form, scope: resource_name, url: teacher_otp_path, method: :post) do |f| %>
  <%= f.hidden_field :uuid, value: @otp_form.uuid %>
  <%= f.hidden_field :email, value: @otp_form.email %>

  <p class="govuk-body">We’ve emailed a confirmation code to <%= @otp_form.email %>.</p>

  <%= f.govuk_text_field :otp, size: "m", label: { text: "Enter your code", class: "govuk-label--s" }, class: "govuk-!-width-one-quarter" %>

  <%= f.govuk_submit %>
<% end %>
