<h1 class="govuk-heading-xl">Apply for qualified teacher status (QTS) in England</h1>

<h2 class="govuk-heading-l">Sign in</h2>

<%= form_with model: @new_session_form, url: session_path(resource_name) do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.hidden_field :sign_in_or_sign_up %>
  <%= f.govuk_email_field :email, autocomplete: "email", label: { size: "m" } %>

  <%= f.govuk_submit %>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <h2 class="govuk-heading-l">Gov One Login</h2>

  <%= button_to "Sign in with Gov One", "/teacher/auth/gov_one", class: "govuk-button" %>
<% end %>
