<% content_for :back_link_url, eligibility_interface_start_path %>

<h1 class="govuk-heading-l">
  Check your eligibility to apply for qualified teacher status (QTS) in England
</h1>

<%= form_with model: @new_session_form, url: session_path(resource_name) do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :sign_in_or_sign_up, legend: { size: "m", text: "Have you used the service before?" } do %>
    <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_in", label: { text: "Yes, sign in and continue application" }, link_errors: true do %>
      <%= f.govuk_email_field :email, autocomplete: "email" %>
    <% end %>

    <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_up", label: { text: "No, I need to check if I can apply" } %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
