<% content_for :back_link_url, eligibility_interface_start_path %>

<h1 class="govuk-heading-l">
  Check your eligibility to apply for qualified teacher status (QTS) in England
</h1>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
    <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "How you sign in has changed") %>

    <p class="govuk-body">You need a GOV.UK One Login to sign in.</p>

    <p class="govuk-body">If you don't have one you can create one, but you must use the same email as your QTS sign in to access your application.</p>

    <p class="govuk-body">If you need to create a GOV.UK One Login, do not use a work or university email that you may lose access to. If your email address changes you will lose access to your application.</p>
  <% end %>
<% end %>

<%= form_with model: @new_session_form, url: session_path(resource_name) do |f| %>
  <%= f.govuk_error_summary %>

  <% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
    <%= f.hidden_field :validate_email, value: 0 %>

    <%= f.govuk_radio_buttons_fieldset :sign_in_or_sign_up, legend: { size: "m", text: "Have you used the service before?" } do %>
      <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_in", label: { text: "Yes, sign in and continue application" }, hint: { text: "You need a GOV.UK One Login to sign in. If you don't have one you can create one, but you must use the same email as your QTS sign in to access your application." } %>
      <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_up", label: { text: "No, I need to check if I can apply" } %>
    <% end %>
  <% else %>
    <%= f.govuk_radio_buttons_fieldset :sign_in_or_sign_up, legend: { size: "m", text: "Have you used the service before?" } do %>
      <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_in", label: { text: "Yes, sign in and continue application" }, link_errors: true do %>
        <%= f.govuk_email_field :email, autocomplete: "email" %>
      <% end %>

      <%= f.govuk_radio_button :sign_in_or_sign_up, "sign_up", label: { text: "No, I need to check if I can apply" } %>
    <% end %>
  <% end %>

  <%= f.govuk_submit %>
<% end %>
