<% content_for :page_title, "#{"Error: " if @subjects_form.errors.any?}#{t("application_form.tasks.items.subjects")}" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>
<h1 class="govuk-heading-l"><%= I18n.t("application_form.subjects.heading") %></h1>
<p class="govuk-hint"><%= I18n.t("application_form.subjects.hint") %></p>

<%= form_with model: @form, url: %i[subjects teacher_interface application_form] do |f| %>
  <%= f.govuk_error_summary %>

  <% (1..3).map { |i| :"subject_#{i}" }.each do |field| %>
    <%= f.govuk_text_field field %>
  <% end %>

  <%= govuk_details(summary_text: "What the QTS assessor needs to check") do %>
    <p>
      The curriculum in England uses a list of subjects that is recognised across English schools.
    </p>

    <p>
      When you enter your subjects, the assessor will need to compare them with this list.
      In some cases, they may need to adjust what you’ve entered to align a subject with the closest recognised subject in this country.
    </p>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
