<% content_for :page_title, "#{"Error: " if @form.errors.any?}#{t(".heading")}" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

<p class="govuk-body-l">You’re about to award QTS to <%= application_form_full_name(@application_form) %>.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<p class="govuk-body"><%= t(".instruction") %></p>
<p class="govuk-body">If you need to check something, use the ‘Back’ button.</p>

<%= form_with model: @form, url: [:assessor_interface, @application_form, @assessment, :assessment_recommendation_award], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_check_boxes_fieldset :declaration, small: true do %>
    <%= f.govuk_check_box :declaration,
                          true,
                          false,
                          multiple: false,
                          link_errors: true,
                          label: { text: t(".declaration") } %>
  <% end %>

  <%= f.govuk_submit t(".button"), prevent_double_click: false do %>
    <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
  <% end %>
<% end %>
