<% title = "Archive suitability record for #{@suitability_record.name}" %>

<% content_for :page_title, title %>
<% content_for :back_link_url, edit_assessor_interface_suitability_record_path %>

<%= form_with model: @form, url: [:assessor_interface, @suitability_record], method: :delete do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= title %></h1>

  <%= f.govuk_text_area :note %>

  <%= f.govuk_submit "Archive record" do %>
    <%= govuk_link_to "Cancel", edit_assessor_interface_suitability_record_path %>
  <% end %>
<% end %>
