<% title = "Change suitability record for #{@suitability_record.name}" %>

<% content_for :page_title, title %>
<% content_for :back_link_url, assessor_interface_suitability_records_path %>

<%= form_with model: @form, url: [:assessor_interface, @suitability_record], method: :patch, id: "app-suitability-record-form" do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= title %></h1>

  <h2 class="govuk-heading-m">Current record</h2>

  <%= govuk_summary_list(actions: false) do |summary_list|
    summary_list.with_row do |row|
      row.with_key { "Name" }
      row.with_value { @suitability_record.name }
    end

    if (aliases = @suitability_record.aliases).present?
      summary_list.with_row do |row|
        row.with_key { "Aliases" }
        row.with_value { aliases.join("<br />").html_safe }
      end
    end

    if (emails = @suitability_record.emails.map(&:value)).present?
      summary_list.with_row do |row|
        row.with_key { "Email addresses" }
        row.with_value { emails.join("<br />").html_safe }
      end
    end

    summary_list.with_row do |row|
      row.with_key { "Country trained in" }
      row.with_value { CountryName.from_code(@suitability_record.country_code) }
    end

    summary_list.with_row do |row|
      row.with_key { "Date of birth" }
      row.with_value { @suitability_record.date_of_birth.to_fs }
    end

    if (references = @suitability_record.application_forms.pluck(:reference).map(&:to_s).sort).present?
      summary_list.with_row do |row|
        row.with_key { "Application references" }
        row.with_value { references.join("<br />").html_safe }
      end
    end

    summary_list.with_row do |row|
      row.with_key { "Suitability status" }
      row.with_value { render StatusTag::Component.new(@suitability_record.status) }
    end

    summary_list.with_row do |row|
      row.with_key { "Suitability reasons" }
      row.with_value { @suitability_record.note }
    end

    summary_list.with_row do |row|
      row.with_key { "Date added" }
      row.with_value { @suitability_record.created_at.to_fs }
    end

    if @suitability_record.updated_at != @suitability_record.created_at
      summary_list.with_row do |row|
        row.with_key { "Date last updated" }
        row.with_value { @suitability_record.updated_at.to_fs }
      end
    end

    if @suitability_record.archived?
      summary_list.with_row do |row|
        row.with_key { "Date archived" }
        row.with_value { @suitability_record.archived_at.to_fs }
      end

      summary_list.with_row do |row|
        row.with_key { "Reason for archiving" }
        row.with_value { @suitability_record.archive_note }
      end
    end
  end %>

  <% if @suitability_record.archived? %>
    <%= f.govuk_submit "Set to active", secondary: true %>
  <% else %>
    <h2 class="govuk-heading-m govuk-!-padding-top-6">Update record</h2>

    <%= render "form_fields", f: %>

    <%= f.govuk_submit "Update record" do %>
      <%= govuk_button_link_to "Archive record", [:archive, :assessor_interface, @suitability_record], secondary: true, id: "app-archive-button" %>
      <%= govuk_link_to "Cancel", %i[assessor_interface suitability_records] %>
    <% end %>
  <% end %>
<% end %>
