<% title = "Suitability records" %>

<% content_for :page_title, title %>

<h1 class="govuk-heading-xl"><%= title %></h1>

<%= govuk_button_link_to "Add a new record", %i[new assessor_interface suitability_record] %>

<% @records.each_with_index do |suitability_record, index| %>
  <% unless index.zero? %>
    <div class="govuk-!-padding-bottom-3"></div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <div class="govuk-!-padding-bottom-4"></div>
  <% end %>

  <article>
    <ul class="govuk-summary-card__actions app-float-right">
      <li class="govuk-summary-card__action">
        <%= govuk_link_to "Change", [:edit, :assessor_interface, suitability_record] %>
      </li>
    </ul>

    <h2 class="govuk-heading-m"><%= govuk_link_to suitability_record.name, [:edit, :assessor_interface, suitability_record] %></h2>

    <%= govuk_summary_list(actions: false) do |summary_list|
      summary_list.with_row do |row|
        row.with_key { "Date added" }
        row.with_value { suitability_record.created_at.localtime.to_fs }
      end

      if suitability_record.updated_at != suitability_record.created_at
        summary_list.with_row do |row|
          row.with_key { "Date last updated" }
          row.with_value { suitability_record.updated_at.localtime.to_fs }
        end
      end

      summary_list.with_row do |row|
        row.with_key { "Country trained in" }
        row.with_value { CountryName.from_code(suitability_record.country_code) }
      end

      summary_list.with_row do |row|
        row.with_key { "Suitability status" }
        row.with_value { render StatusTag::Component.new(suitability_record.status) }
      end
    end %>
  </article>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
