<% title = "Add suitability record" %>

<% content_for :page_title, title %>
<% content_for :back_link_url, assessor_interface_suitability_records_path %>

<%= form_with model: @form, url: %i[assessor_interface suitability_records], id: "app-suitability-record-form" do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl"><%= title %></h1>

  <%= render "form_fields", f: %>

  <%= f.govuk_submit "Add to suitability records" do %>
    <%= govuk_link_to "Cancel", %i[assessor_interface suitability_records] %>
  <% end %>
<% end %>
