<% content_for :page_title, title_with_error_prefix(t(".title"), error: form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: form, url:, method: do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Your decision review request</span>
  <h1 class="govuk-heading-l"><%= t(".title") %></h1>

  <%= f.govuk_text_area :comment, label: { size: "m" } %>

  <%= f.govuk_radio_buttons_fieldset :has_supporting_documents do %>
    <%= f.govuk_radio_button :has_supporting_documents, true, label: { text: "Yes, I need to upload supporting evidence" }, link_errors: true %>
    <%= f.govuk_radio_button :has_supporting_documents, false, label: { text: "No, I do not need to upload supporting evidence" } %>
  <% end %>

  <%= f.govuk_submit "Continue", name: "button", value: "save_and_continue" do %>
    <%= govuk_link_to "Cancel", teacher_interface_application_form_path %>
  <% end %>
<% end %>
