<% content_for :page_title, title_with_error_prefix(t(".title"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<%= form_with model: @form, url: declaration_teacher_interface_application_form_decision_review_requests_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Your application</span>
  <h1 class="govuk-heading-l"><%= t(".title") %></h1>

  <p class="govuk-body">Applicants who have been declined for QTS are entitled to a review of the decline decision by a senior Professional Recognition Manager.</p>

  <p class="govuk-body">If you would like to request a decision review, you’ll need to provide:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>formal evidence and reasoning as to how you meet the required assessment criteria</li>
    <li>additional information not included in your original application that would support your decision review</li>
  </ul>

  <p class="govuk-body">Your request for review must be received within 28 days of receipt of the decision to decline QTS.</p>

  <%= f.govuk_check_boxes_fieldset :confirm, legend: { text: "Does your request meet these requirements?", tag: "h2", size: "m" }, small: true do %>
    <%= f.govuk_check_box :confirm,
                          true,
                          false,
                          multiple: false,
                          link_errors: true,
                          label: {
                            text: "	I confirm that the request meets the above requirements"
                          } %>
  <% end %>

  <%= f.govuk_submit "Continue", name: "button", value: "save_and_continue" do %>
    <%= govuk_link_to "Cancel", teacher_interface_application_form_path %>
  <% end %>
<% end %>
