<% content_for :page_title, "Select a reviewer" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<div class="app-inline-action">
  <h1 class="govuk-heading-xl">Select a reviewer</h1>
  <%= govuk_button_link_to "Add&nbsp;note".html_safe, new_assessor_interface_application_form_note_path(@application_form), secondary: true %>
</div>

<%= form_with model: @reviewer_assignment_form, url: assessor_interface_application_form_assign_reviewer_path(@application_form) do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_collection_radio_buttons :reviewer_id,
                                       [OpenStruct.new(id: "", name: t("application_form.summary.unassigned"))] + Staff.assessors,
                                       :id,
                                       :name,
                                       legend: nil %>

  <%= f.govuk_submit do %>
    <%= govuk_link_to "Cancel", assessor_interface_application_form_path(@application_form) %>
  <% end %>
<% end %>
