<% content_for :page_title, t(".heading") %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
<p class="govuk-body-l"><%= t(".subheading") %></p>
<p class="govuk-body-l"><%= t(".description") %></p>

<%= render(PreviewMailer::Component.new(
  mailer_class: TeacherMailer,
  name: :application_declined,
  application_form: @application_form,
)) %>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Continue", [:confirm, :assessor_interface, @application_form, @assessment, :assessment_recommendation_decline] %>
  <%= render "shared/assessor_interface/cancel_link" %>
</div>
