<% content_for :page_title, "Upload a document" %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<% if @document.uploads.empty? %>
  <% if @document.identification? %>
    <h1 class="govuk-heading-l">Upload a valid identification document</h1>

    <p class="govuk-body">The document must show your date of birth and your nationality. If your ID document has several pages, you can add them on the next screen. </p>

    <p class="govuk-body">Acceptable documents include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>passport</li>
      <li>driving licence</li>
      <li>identity card</li>
      <li>birth certificate.</li>
    </ul>
  <% elsif @document.name_change? %>
    <h1 class="govuk-heading-l">Upload proof of your change of name</h1>

    <p class="govuk-body">We need to see proof of your change of name.</p>

    <p class="govuk-body">For example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a marriage or civil partnership certificate</li>
      <li>proof that you’ve legally changed your name for another reason.</li>
    </ul>
  <% elsif @document.written_statement? %>
    <span class="govuk-caption-l">Proof that you’re recognised as a teacher</span>
    <h1 class="govuk-heading-l">Upload your written statement</h1>

    <p class="govuk-body">
      You need to provide a written statement from <span lang="<%= @application_form.region.country.code %>"><%= @application_form.region.country.teaching_authority_name.presence || @application_form.region.teaching_authority_name.presence %></span>.
    </p>

    <p class="govuk-body">
      This is called <%= @application_form.region.country.teaching_authority_certificate.indefinite_article || "a" %> <span lang="<%= @application_form.region.country.code %>"><%= @application_form.region.country.teaching_authority_certificate.presence || "certificate" %></span>.
    </p>

    <div class="govuk-inset-text">If this document is not written in English, you’ll also need to upload a translation.</div>

    <p class="govuk-body">It must confirm:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that you’ve completed a teaching qualification/teacher training</li>
      <li>that you’ve successfully completed any period of professional experience comparable to an induction period (if required)</li>
      <li>the age ranges and subjects you’re qualified to teach</li>
    </ul>
    <p class="govuk-body">This written confirmation must be dated within 3 months of you applying for QTS.</p>

    <%= govuk_details(summary_text: "I do not have this yet") do %>
      <p class="govuk-body">If you do not have this yet, you can obtain it by contacting:</p>

      <%= render "shared/teaching_authority_contactable", contactable: @application_form.region.country %>

      <% if @application_form.region.country.teaching_authority_present? && @application_form.region.teaching_authority_present? %>
        <p class="govuk-body">or</p>
      <% end %>

      <%= render "shared/teaching_authority_contactable", contactable: @application_form.region %>
    <% end %>
  <% elsif @document.qualification_certificate? %>
    <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>

    <h1 class="govuk-heading-l">
      <% if @document.documentable.institution_name.present? %>
        Upload your <%= I18n.t("document.document_type.qualification_certificate") %> for <%= @document.documentable.institution_name %>
      <% elsif @document.documentable.is_teaching_qualification? %>
        Upload your teaching qualification certificate
      <% else %>
        Upload your university degree certificate
      <% end %>
    </h1>
  <% elsif @document.qualification_transcript? %>
    <span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>

    <h1 class="govuk-heading-l">
      <% if @document.documentable.institution_name.present? %>
        Upload your <%= I18n.t("document.document_type.qualification_transcript") %> for <%= @document.documentable.institution_name %>
      <% elsif @document.documentable.is_teaching_qualification? %>
        Upload your teaching qualification transcript
      <% else %>
        Upload your university degree transcript
      <% end %>
    </h1>

    <p class="govuk-body"><%= I18n.t("application_form.qualifications.upload.transcript.description") %></p>
  <% end %>
<% else %>
  <h1 class="govuk-heading-l">Upload the next page of your <%= I18n.t("document.document_type.#{@document.document_type}") %> document</h1>
  <p class="govuk-body">Upload the next page of your <%= I18n.t("document.document_type.#{@document.document_type}") %> document. If your document has more pages, you can add them on the next screen.</p>
<% end %>

<%= form_with model: @upload_form, url: [:teacher_interface, :application_form, @document, :uploads] do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_file_field :original_attachment,
                         label: { text: "Select a file to upload" },
                         hint: { text: "You can upload your files in PDF, JPG or DOC format. Each file must be no larger than 50MB." } %>

  <% if @document.qualification_transcript? %>
    <%= govuk_details(summary_text: "What is a transcript?") do %>
      <p class="govuk-body">A transcript (or diploma supplement) is a document from the institution where you studied for your degree. It lists all the modules or subjects you studied in each year, and the marks or grades you were awarded.</p>
    <% end %>
  <% end %>

  <% if @document.translatable? %>
    <%= f.govuk_radio_buttons_fieldset :written_in_english, legend: { size: "m", text: "Is your document written in English?" } do %>
      <%= f.govuk_radio_button :written_in_english, :true, label: { text: "Yes" }, link_errors: true, checked: false %>

      <%= f.govuk_radio_button :written_in_english, :false, label: { text: "No, I’ll upload a translation as well" }, checked: false do %>
        <%= f.govuk_file_field :translated_attachment,
                               label: { text: "Select a file to upload" },
                               hint: { text: "You can upload your files in PDF, JPG or DOC format. Each file must be no larger than 50MB." } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render "shared/save_submit_buttons", f: %>
<% end %>
