<% content_for :page_title, CountryName.from_country(@country) %>

<h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

<h2 class="govuk-heading-m">Review and confirm the following changes:</h2>

<% if @country.changes.keys.select { |k| k.starts_with?("teaching_authority_") }.any? %>
  <h3 class="govuk-heading-s">Teaching authority</h3>

  <%= render "shared/teaching_authority_contactable", contactable: @country %>

  <% if @country.teaching_authority_other.present? %>
    <%= raw GovukMarkdown.render(@country.teaching_authority_other) %>
  <% end %>

  <p class="govuk-body"><%= @country.teaching_authority_certificate %></p>

  <p class="govuk-body"><%= @country.teaching_authority_online_checker_url %></p>
<% end %>

<% if @country.qualifications_information_changed? %>
  <h3 class="govuk-heading-s">Qualifications information</h3>

  <%= raw GovukMarkdown.render(@country.qualifications_information) %>
<% end %>

<% if @country.requires_preliminary_check_changed? %>
  <h3 class="govuk-heading-s">Preliminary check</h3>

  <p class="govuk-body">
    <%= @country.requires_preliminary_check ? "Required" : "Not required" %>
  </p>
<% end %>

<% if (diff_actions = @form.diff_actions).present? %>
  <h3 class="govuk-heading-s">Regions</h3>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      This action is irreversible and could affect historic eligibility checks.
    </strong>
  </div>

  <ul class="govuk-list">
    <% diff_actions.each do |action| %>
      <li>
        <% if action[:action] == :create %>
          <%= govuk_tag(text: "Create", colour: "green") %>
        <% elsif action[:action] == :delete %>
          <%= govuk_tag(text: "Delete", colour: "red") %>
        <% end %>

        <% if action[:name].present? %>
          <%= action[:name] %>
        <% else %>
          <em>National</em>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @form, url: [:support_interface, @country], method: :put do |f| %>
  <%= f.hidden_field :eligibility_enabled, value: @form.eligibility_enabled %>
  <%= f.hidden_field :eligibility_skip_questions, value: @form.eligibility_skip_questions %>
  <%= f.hidden_field :has_regions, value: @form.has_regions %>
  <%= f.hidden_field :qualifications_information, value: @form.qualifications_information %>
  <%= f.hidden_field :region_names, value: @form.region_names %>
  <%= f.hidden_field :requires_preliminary_check, value: @form.requires_preliminary_check %>
  <%= f.hidden_field :teaching_authority_address, value: @form.teaching_authority_address %>
  <%= f.hidden_field :teaching_authority_certificate, value: @form.teaching_authority_certificate %>
  <%= f.hidden_field :teaching_authority_emails_string, value: @form.teaching_authority_emails_string %>
  <%= f.hidden_field :teaching_authority_name, value: @form.teaching_authority_name %>
  <%= f.hidden_field :teaching_authority_online_checker_url, value: @form.teaching_authority_online_checker_url %>
  <%= f.hidden_field :teaching_authority_other, value: @form.teaching_authority_other %>
  <%= f.hidden_field :teaching_authority_sanction_information, value: @form.teaching_authority_sanction_information%>
  <%= f.hidden_field :teaching_authority_status_information, value: @form.teaching_authority_status_information%>
  <%= f.hidden_field :teaching_authority_websites_string, value: @form.teaching_authority_websites_string %>
  <%= f.govuk_submit "Confirm save", prevent_double_click: false %>
<% end %>
