<% content_for :page_title, CountryName.from_country(@country) %>

<h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

<%= form_with model: @country, url: confirm_edit_support_interface_country_path(@country), method: "POST" do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_check_box :eligibility_enabled, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Eligible" }%>
  <%= f.govuk_check_box :eligibility_skip_questions, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Skip eligibility questions" }%>

  <%= render "shared/teaching_authority_form_fields", f: %>

  <%= f.govuk_check_box :teaching_authority_checks_sanctions, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Teaching authority checks sanctions" } %>

  <%= f.govuk_text_area :all_regions,
                        value: @all_regions,
                        label: { text: "Regions" },
                        hint: { text: "Include a region on each line." },
                        rows: 20 %>

  <%= f.govuk_submit "Save", prevent_double_click: false %>
<% end %>
