<% content_for :page_title, CountryName.from_country(@country) %>

<%= form_with model: @form, url: [:support_interface, @country], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

  <%= f.govuk_collection_radio_buttons :eligibility_enabled,
                                       [
                                         OpenStruct.new(value: :true, label: "Yes"),
                                         OpenStruct.new(value: :false, label: "No")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Do we accept applications from this country?" } %>

  <%= f.govuk_collection_radio_buttons :eligibility_skip_questions,
                                       [
                                         OpenStruct.new(value: :false, label: "Standard – Asks 5 standard questions that most countries would need to be asked."),
                                         OpenStruct.new(value: :true, label: "Reduced – Only asks if the applicant’s teaching qualification was completed in their country of recognition.")
                                       ],
                                       :value,
                                       :label,
                                       legend: { text: "Which route will applicants take through the eligibility checker?" } %>

  <%= f.govuk_radio_buttons_fieldset :has_regions, legend: { text: "Does this country have regions within it that have a different teaching authority or service journey?" } do %>
    <%= f.govuk_radio_button :has_regions, :true, label: { text: "Yes" }, link_errors: true do %>
      <%= f.govuk_text_area :region_names, label: { text: "Add regions below, one region per line." }, hint: { text: "This will allow you to customise the service for each region." }, rows: 10 %>
    <% end %>
    <%= f.govuk_radio_button :has_regions, :false, label: { text: "No" } %>
  <% end %>

  <%= render "shared/support_interface/country_region_information_fields", f: %>

  <%= f.govuk_submit "Preview", name: "preview", value: "true" do %>
    <%= f.govuk_submit "Save", name: "preview", value: "false", secondary: true %>
  <% end %>
<% end %>
