<% content_for :page_title, CountryName.from_country(@country) %>

<h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

<%= form_with model: @country, url: confirm_edit_support_interface_country_path(@country), method: "POST" do |f| %>
  <%= f.govuk_error_summary %>
  
  <%= render "shared/regions", f: %>
  <%= render "shared/application_form", f: %>
  <%= render "shared/preliminary_check_form_fields", f: %>
  <%= render "shared/eligibility_checker", f: %>
  <%= render "shared/teaching_authority_form_fields", f: %>
  <%= render "shared/changes_to_eligible_page", f: %>

  <%= f.govuk_text_area :qualifications_information, label: { text: '‘Proof of qualifications’' }, hint: { text: "‘(Example: ‘We cannot accept the National Certificate in Education (NCE) or the Teachers Certificate Grade II from Nigeria, as these do not meet the required level.’)’)" }, rows: 5 %>

  <%= f.govuk_submit "Save", prevent_double_click: false %>
<% end %>
