<% content_for :page_title, CountryName.from_country(@country) %>

<h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

<%= form_with model: @form, url: [:support_interface, @country], method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset :has_regions, legend: { size: "m", text: "Regions" }, hint: { text: "Does this country have regions within it that have a different teaching authority or service journey?" } do %>
    <%= f.govuk_radio_button :has_regions, :false, label: { text: "No" }, link_errors: true %>
    <%= f.govuk_radio_button :has_regions, :true, label: { text: "Yes" } do %>
      <%= f.govuk_text_area :region_names, label: nil, hint: { text: "Add regions below, one region per line. (This will allow you to customise the service for each region.) " }, rows: 10 %>
    <% end %>
  <% end %>

  <%= f.govuk_fieldset legend: { text: "Application form" } do %>
    <%= f.govuk_collection_radio_buttons :eligibility_enabled,
                                         [
                                           OpenStruct.new(value: :true, label: "Yes"),
                                           OpenStruct.new(value: :false, label: "No")
                                         ],
                                         :value,
                                         :label,
                                         legend: { text: "Do we accept applications from this country?", size: "s" } %>

    <%= f.govuk_collection_radio_buttons :requires_preliminary_check,
                                         [
                                           OpenStruct.new(value: :true, label: "Yes"),
                                           OpenStruct.new(value: :false, label: "No")
                                         ],
                                         :value,
                                         :label,
                                         legend: { text: "Will applications be subject to a preliminary check?", size: "s" } %>
  <% end %>

  <%= render "shared/support_interface/forms/eligibility_checker", f: %>
  <%= render "shared/support_interface/forms/teaching_authority_form_fields", f: %>
  <%= render "shared/support_interface/forms/changes_to_eligible_page", f: %>

  <%= f.govuk_text_area :qualifications_information, label: { text: 'Proof of qualifications' }, hint: { text: "Example: ‘We cannot accept the National Certificate in Education (NCE) or the Teachers Certificate Grade II from Nigeria, as these do not meet the required level.’" }, rows: 5 %>

  <%= f.govuk_submit "Preview", name: "preview", value: "true" do %>
    <%= f.govuk_submit "Save", name: "preview", value: "false", secondary: true %>
  <% end %>
<% end %>
