<% content_for :page_title, "Countries" %>

<h1 class="govuk-heading-l">Countries</h1>

<% @countries.each do |country| %>
  <%= govuk_table do |table| %>
    <%= table.with_head do |head| %>
      <%= head.with_row do |row| %>
        <%= row.with_cell do %>
          <h2 class="govuk-heading-m">
            <%= govuk_link_to CountryName.from_country(country), [:edit, :support_interface, country] %>

            <% if country.eligibility_enabled %>
              <%= govuk_tag(text: "Eligible", colour: "green", classes: ["govuk-!-margin-left-2"]) %>
            <% else %>
              <%= govuk_tag(text: "Ineligible", colour: "red", classes: ["govuk-!-margin-left-2"]) %>
            <% end %>

            <% if country.eligibility_skip_questions %>
              <%= govuk_tag(text: "Reduced eligibility", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
            <% else %>
              <%= govuk_tag(text: "Standard eligibility", colour: "grey", classes: ["govuk-!-margin-left-2"]) %>
            <% end %>

                <% if country.subject_limited  %>
                <%= govuk_tag(text: "Subject limited", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
              <% end %>
          </h2>
        <% end %>
      <% end %>
    <% end %>

    <%= table.with_body do |body| %>
      <%= country.regions.order(:name).each do |region| %>
        <%= body.with_row do |row| %>
          <%= row.with_cell do %>
            <%= govuk_link_to region.name.presence || "National", [:edit, :support_interface, region] %>

            <% if region.requires_preliminary_check %>
              <%= govuk_tag(text: "Requires preliminary check", colour: "blue", classes: ["govuk-!-margin-left-2"]) %>
            <% end %>

            <% if region.application_form_skip_work_history %>
              <%= govuk_tag(text: "Work history removed", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
            <% end %>

            <% if region.reduced_evidence_accepted %>
              <%= govuk_tag(text: "Accepts reduced evidence", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
