<% content_for :page_title, "Countries" %>

<h1 class="govuk-heading-l">Countries</h1>

<% @countries.each do |country| %>
  <div class="govuk-width-container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" colspan="2">
            <h2 class="govuk-heading-m">
              <%= govuk_link_to CountryName.from_country(country), edit_support_interface_country_path(country) %>
              <code class="govuk-tag app-country-code-tag govuk-!-margin-left-2"><%= country.code %></code>

              <% if country.eligibility_enabled %>
                <%= govuk_tag(text: "Eligible", colour: "green", classes: ["govuk-!-margin-left-2"]) %>
              <% else %>
                <%= govuk_tag(text: "Ineligible", colour: "red", classes: ["govuk-!-margin-left-2"]) %>
              <% end %>

              <% if country.eligibility_skip_questions %>
                <%= govuk_tag(text: "Skips questions", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
              <% end %>
            </h2>
          </th>
        </tr>
      </thead>

      <tbody>
        <% country.regions.order(:name).each_slice(4) do |regions| %>
          <% regions.each do |region| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-width-one-third">
                <a class="govuk-link" href="<%= edit_support_interface_region_path(region) %>">
                  <% if region.name.present? %>
                    <%= region.name %>
                  <% else %>
                    <em>National</em>
                  <% end %>
                </a>
              </td>

              <td class="govuk-table__cell">
                <% if region.application_form_skip_work_history %>
                  <%= govuk_tag(text: "Skips work history", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
                <% end %>

                <% if region.reduced_evidence_accepted %>
                  <%= govuk_tag(text: "Accepts reduced evidence", colour: "yellow", classes: ["govuk-!-margin-left-2"]) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
