<% content_for :page_title, CountryName.from_country(@country) %>

<h1 class="govuk-heading-l"><%= CountryName.from_country(@country) %></h1>

<h2 class="govuk-heading-m">Review and confirm the following changes:</h2>

<% if (diff_actions = @form.diff_actions).present? %>
  <h3 class="govuk-heading-s">Regions</h3>

  <%= govuk_warning_text(text: "This action is irreversible and could affect historic eligibility checks.") %>

  <ul class="govuk-list">
    <% diff_actions.each do |action| %>
      <li>
        <% if action[:action] == :create %>
          <%= govuk_tag(text: "Create", colour: "green") %>
        <% elsif action[:action] == :delete %>
          <%= govuk_tag(text: "Delete", colour: "red") %>
        <% end %>

        <% if action[:name].present? %>
          <%= action[:name] %>
        <% else %>
          <em>National</em>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @country.eligibility_enabled_changed? %>
  <h3 class="govuk-heading-s">Do we accept applications from this country?</h3>
  <p class="govuk-body"><%= govuk_boolean_tag(@country.eligibility_enabled) %></p>
<% end %>

<% if @country.sanction_information_changed? %>
  <h3 class="govuk-heading-s">Sanction information</h3>
  <%= raw GovukMarkdown.render(@country.sanction_information) %>
<% end %>

<% if @country.status_information_changed? %>
  <h3 class="govuk-heading-s">Status information</h3>
  <%= raw GovukMarkdown.render(@country.status_information) %>
<% end %>

<% if @country.other_information_changed? %>
  <h3 class="govuk-heading-s">Other information</h3>
  <%= raw GovukMarkdown.render(@country.other_information) %>
<% end %>

<% if @country.teaching_qualification_information %>
  <h3 class="govuk-heading-s">Teaching qualification information</h3>
  <%= raw GovukMarkdown.render(@country.teaching_qualification_information) %>
<% end %>

<% if @country.eligibility_skip_questions_changed? || @country.subject_limited_changed? %>
  <h3 class="govuk-heading-s">Which route will applicants take through the eligibility checker?</h3>
  <p class="govuk-body">
    <% if @country.subject_limited %>
      <%= govuk_tag(text: "Expanded", colour: "yellow") %>
    <% elsif @country.eligibility_skip_questions %>
      <%= govuk_tag(text: "Reduced", colour: "yellow") %>
    <% else %>
      <%= govuk_tag(text: "Standard", colour: "grey") %>
    <% end %>
  </p>
<% end %>

<%= form_with model: @form, url: [:support_interface, @country], method: :put do |f| %>
  <%= f.hidden_field :eligibility_enabled, value: @form.eligibility_enabled %>
  <%= f.hidden_field :eligibility_route, value: @form.eligibility_route %>
  <%= f.hidden_field :has_regions, value: @form.has_regions %>
  <%= f.hidden_field :other_information, value: @form.other_information %>
  <%= f.hidden_field :region_names, value: @form.region_names %>
  <%= f.hidden_field :sanction_information, value: @form.sanction_information %>
  <%= f.hidden_field :status_information, value: @form.status_information %>
  <%= f.hidden_field :teaching_qualification_information, value: @form.teaching_qualification_information %>
  <%= f.govuk_submit "Save", name: "preview", value: "false" %>
<% end %>
