<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= [yield(:page_title).presence, t(current_namespace, scope: %i[service name])].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= favicon_link_tag image_path('images/favicon.ico'), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path('images/favicon.svg'), type: 'image/svg+xml', sizes: "any" %>
    <%= favicon_link_tag image_path('images/govuk-icon-mask.svg'), rel: 'mask-icon', color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path('images/govuk-icon-180.png'), rel: 'apple-touch-icon', type: nil %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= render partial: "shared/header" %>

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag app-environment-tag--<%= HostingEnvironment.name %>">
            <%= HostingEnvironment.phase %>
          </strong>

          <span class="govuk-phase-banner__text">
            <% if HostingEnvironment.production? %>
              This is a new service - <%= link_to "your feedback will help us to improve it", yield(:feedback_url).presence || t("service.form.feedback") %>.
            <% else %>
              This is a ‘<%= HostingEnvironment.phase %>’ version of the service.
            <% end %>
          </span>
        </p>
      </div>
    </div>

    <div class="govuk-width-container">
      <%= govuk_back_link(href: yield(:back_link_url)) unless yield(:back_link_url).blank? %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessage::Component.new(flash: flash)) %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
